<body>
    <div class="header-wrap">
        <div class="header">
            <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" id="nav-bar" style="border-bottom: 1px solid #f2f2f2;">
                <div class="container" style="margin-top: 10px;">
                    <div class="navbar-header" style="padding: 6px 0px 0px;">
                        <b><a class="navbar-brand" href="/" id="logo">TroDe</a></b>
                        <b><span class="txt-darkmode" style="font-size: large;font-weight: 700;" >Bảng điều khiển dành cho ADMIN</span></b>
                    </div>
                    <div class="nav-item menu-info " style="float: right;margin-top: 15px;">
                        <div class="text-admin">
                            TÀI KHOẢN ADMIN
                        </div>
                        <div class="admin-name">
                            <% if(user.dataValues.nguoi_dung.dataValues.ho_va_ten){%>
                                <%= user.dataValues.nguoi_dung.dataValues.ho_va_ten %>
                                    <%}else{%>
                                        <%= user.dataValues.nguoi_dung.dataValues.ten_nguoi_dung %>
                                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="container" id="sub-nav" style="margin-top: 20px;">
                    <span class="sub-nav-item">
                        <a href = "/admin-control" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-1">
                            Thống kê
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/admin-control-post/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-2">
                            Danh sách bài đăng
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/admin-control-user/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-3">
                            Danh sách thành viên
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/admin-control-report/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-4">
                            Báo cáo
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/logout" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-5">
                            Thoát
                        </a>
                    </span>
                    <div class="nav-item nav-item-small">
                        <a class="nav-link btn btn-primary dropdown dropdown-toggle dropbtn" data-toggle="dropdown" id="user-name1" aria-haspopup="true" aria-expanded="false" style="background-color: transparent;border: none;">
                            <button id="list-down">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer" enable-background="new 0 0 512 512" height="24" viewBox="0 0 512 512" width="24"><path d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/><path d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z"/><path d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z"/></svg>
                            </button>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-name1" id="drop-down1">
                            <br>
                            <div class="div-drop1 ">
                                <a href="/admin-control" class="a-drop" style="text-decoration: none;" id="a-sub-1-dr">
                                    Thống kê
                                </a>
                            </div>
                            <br>
                            <div class="div-drop1">
                                <a href="/admin-control-post/1" class="a-drop" style="text-decoration: none;" id="a-sub-2-dr">
                                    Danh sách bài đăng
                                </a>
                            </div>
                            <br>
                            <div class="div-drop1">
                                <a href="/admin-control-user/1" class="a-drop" style="text-decoration: none;" id="a-sub-3-dr">
                                    Danh sách thành viên
                                </a>
                            </div>
                            <br>
                            <div class="div-drop1">
                                <a href="/admin-control-report/1" class="a-drop" style="text-decoration: none;" id="a-sub-4-dr">
                                    Báo cáo
                                </a>
                            </div>
                            <br>
                            <div class="div-drop1">
                                <a href="/logout" class="a-drop" style="text-decoration: none;" id="a-sub-5-dr">
                                    Thoát
                                </a>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>