<body>
    <div class="header-wrap">
        <div class="header">
            <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" id="nav-bar" style="border-bottom: 1px solid #f2f2f2;">
                <div class="container" style="margin-top: 10px;">
                    <div class="navbar-header" style="padding: 6px 0px 0px;">
                        <b><a class="navbar-brand" href="/" id="logo">TroDe</a></b>
                        <b><span class="" style="font-size: large;color: #333;font-weight: 700;">Bảng điều khiển dành cho ADMIN</span></b>
                    </div>
                    <div class="nav-item menu-info " style="float: right;margin-top: 15px;">
                        <div class="text-admin">
                            TÀI KHOẢN ADMIN
                        </div>
                        <div class="admin-name">
                          <% if(user.dataValues.nguoi_dung.dataValues.ho_va_ten){%>
                            <%= user.dataValues.nguoi_dung.dataValues.ho_va_ten %>
                          <%}else{%>
                            <%= user.dataValues.nguoi_dung.dataValues.ten_nguoi_dung %>
                          <%}%>
                        </div>
                    </div>
                </div>
                <div class="container" id="sub-nav" style="margin-top: 20px;">
                    <span class="sub-nav-item">
                        <a href = "/admin-control" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-1">
                            Thống kê
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/admin-control-post/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-2">
                            Danh sách bài đăng
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/admin-control-user/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-3">
                            Danh sách thành viên
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/admin-control-report/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-5">
                            Báo cáo
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/logout" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-6">
                            Thoát
                        </a>
                    </span>
                </div>
            </nav>
        </div>
    </div>
