<% if(userData.length!=0){ %>
<% userData.forEach(function(data){ %>
<div class="col-sm-6 list-content" style="height: 120px;background-color: #fff;vertical-align: middle;border-radius: 8px;box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05);margin-bottom: 20px;margin-right: 5%;width: 45%;">
    <div class="row">
        <div class="col-sm-3">
            <a href="#" style="text-decoration: none;">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
        <div class="col-sm-7" style="line-height: 1.5;">
            <a href="#" style="text-decoration: none;">
                <div class="title">
                    <h3><b>    <%=data.ten_nguoi_dung%></b></h3>
                </div>
            </a>
            <div class="little-info" style="margin-top: 4px;margin-bottom: 5px;">
                <span class="host" style="color: #252525;font-weight: 500;font-size: 15px;"><span>Số bài đăng:&nbsp;</span><%=data.so_bai_dang%>&nbsp;</span>
            </div>
            <div class="info">
                <span class="thich" style="color: #252525;font-weight: 500;font-size: 15px;"><i class="far fa-heart" style="color: red;margin-right: 5px;">&nbsp;</i><span>Số lượt thích</span></span>

            </div>
        </div>
        <div class="col-sm-2">
            <div style="line-height: 1.5;margin-top: 50px;">
                <a href="#" style="text-decoration: none;color: #252525;font-weight: 900;">
                    <i class="fas fa-trash" style="font-weight: 900;color: red;"></i>&nbsp;&nbsp;Xóa
                </a>
            </div>
        </div>
    </div>
</div>
<%})}%>