<div class="service-content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-4" id="chung-cu">
                <div class="servie">
                    <a href="/rooms/chung_cu/1" style="text-decoration: none;">
                        <div class="div-img">
                            <img class="imgServie" src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604420842/z1171289147434-8ae040a53e75d95baed0e604c8f395bb_dyni5p.jpg">
                        </div>
                        <div class="servie-info">
                            <div class="servie-title">Chung cư</div>
                            <div class="servie-content">Các căn hộ chung cư cho thuê.</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4" id="phong-tro">
                <div class="servie">
                    <a href="/rooms/phong_tro/1" style="text-decoration: none;">
                        <div class="div-img">
                            <img class="imgServie" src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604423343/1563780097_cedgmi.jpg">
                        </div>
                        <div class="servie-info">
                            <div class="servie-title">Phòng trọ</div>
                            <div class="servie-content">Các phòng trọ cho thuê.</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="wrap-content1" style="margin-top: 50px;">
    <div class="greeting">
        <h3>Các quận ở Hà Nội</h3>
        <div>Cùng TroDe bắt đầu tìm kiếm các phòng trọ, chung cư ở khắp Hà Nội.</div>
    </div>
    <div class="items">
        <div class="item-content">
            <a href="/rooms/quan_ba_dinh/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604424596/location_1_1559734709_qgppcu.png">
                <div id="text-item">Quận Ba Đình</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_bac_tu_liem/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604457941/Capture_gs0alo.png">
                <div id="text-item">Quận Bắc Từ Liêm</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_cau_giay/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604458086/Capture_sov2ak.png">
                <div id="text-item">Quận Cầu Giấy</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_dong_da/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604458223/Capture_z7ocyr.png">
                <div id="text-item">Quận Đống Đa</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_ha_dong/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604458651/Capture_dgc057.png">
                <div id="text-item">Quận Hà Đông</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_hai_ba_trung/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604458883/Capture_zhjpyg.png">
                <div id="text-item">Quận Hai Bà Trưng</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_hoang_mai/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459028/Capture_ub8ed7.png">
                <div id="text-item">Quận Hoàng Mai</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_hoan_kiem/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459145/Capture_uyjk3f.png">
                <div id="text-item">Quận Hoàn Kiếm</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_long_bien/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459339/Capture_q2dz3y.png">
                <div id="text-item">Quận Long Biên</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_nam_tu_liem/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459398/Capture_j2txsg.png">
                <div id="text-item">Quận Nam Từ Liêm</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_tay_ho/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459526/hoang-hon-tay-h-goc-kinh_hf9kmd.jpg">
                <div id="text-item">Quận Tây Hồ</div>
            </a>
        </div>
        <div class="item-content">
            <a href="/rooms/quan_thanh_xuan/1">
                <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459645/Capture_slhrmj.png">
                <div id="text-item">Quận Thanh Xuân</div>
            </a>
        </div>
    </div>
</div>

<div class="wrap-content2" style="margin-top: 50px;">
    <div class="greeting">
        <h3>Chung cư ở Hà Nội</h3>
        <div>Tìm kiếm các căn hộ chung cư cho thuê ở Hà Nội.</div>
    </div>
    <div class="wrap-content2-items">
        <div class="item-content2">
            <a href="/rooms/chung_cu/1_nguoi/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604463066/4-15197864713602040617876_f7lctn.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Căn hộ chung cư cho một người</div>
                    <div id="wrap-content2-item-info-content">Những căn hộ chung cư nhỏ có diện tích phù hợp cho những người ở một mình.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/chung_cu/2_nguoi/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604463539/71954145_535965997220879_5830462119144849408_n_uiaig4.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Căn hộ chung cư cho hai người</div>
                    <div id="wrap-content2-item-info-content">Những căn hộ chung cư có diện tích phù hợp cho khoảng hai người ở.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/chung_cu/3_nguoi/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604463201/76722780_554444925372986_3993551103961595904_n_1_muvmnp.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Căn hộ chung cư cho ba người</div>
                    <div id="wrap-content2-item-info-content">Những căn hộ chung cư có diện tích phù hợp cho khoảng ba người ở.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/chung_cu/4_nguoi/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1606967200/noi-that-sunshine-green-iconic_jbxzyr.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Căn hộ chung cư cho bốn người</div>
                    <div id="wrap-content2-item-info-content">Những căn hộ chung cư có diện tích phù hợp cho khoảng bốn người ở.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/chung_cu/gia_re/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1606967482/mau-thiet-ke-noi-that-chung-cu-mini-1_w4vcos.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Chung cư giá rẻ</div>
                    <div id="wrap-content2-item-info-content">Những căn hộ chung cư có giá cho thuê trong khoảng từ 2-4 triệu đồng.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/chung_cu/gia_trung/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604464717/thue-chung-cu-gia-4-trieu-ha-noi-o-khu-vuc-nao-tot-2_xhb0qs.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Chung cư giá cho các bạn ở nhóm</div>
                    <div id="wrap-content2-item-info-content">Những căn hộ chung cư có giá cho thuê trong khoảng từ 4-7 triệu đồng.</div>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="wrap-content2" style="margin-top: -30px;">
    <div class="greeting">
        <h3>Phòng trọ ở Hà Nội</h3>
        <div>Tìm kiếm các phòng trọ ở Hà Nội.</div>
    </div>
    <div class="wrap-content2-items">
        <div class="item-content2">
            <a href="/rooms/phong_tro/1_nguoi/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604464967/tim-thue-nha-tro-duoi-1-trieu-tai-ha-noi-danh-cho-sinh-vien-3_tfrlh9.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Phòng trọ dành cho một người</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ nhỏ có diện tích phù hợp cho những người ở một mình.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/phong_tro/2_nguoi/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604465097/thiet-ke-phong-tro-2_i5hzyq.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Phòng trọ dành cho hai người</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ có diện tích phù hợp cho khoảng hai người ở.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/phong_tro/3_nguoi/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1606966682/1234567890_okb0a0.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Phòng trọ dành cho ba người</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ có diện tích phù hợp cho khoảng ba người ở.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/phong_tro/4_nguoi/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1606966882/1553065000_xp42ep.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Phòng trọ dành cho bốn người</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ có diện tích phù hợp cho khoảng bốn người ở.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/phong_tro/gia_re/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1606967482/mau-thiet-ke-noi-that-chung-cu-mini-1_w4vcos.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Phòng trọ giá rẻ</div>
                    <div id="wrap-content2-item-info-content">Những căn hộ chung cư có giá cho thuê trong khoảng từ 1-4 triệu đồng.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/phong_tro/gia_trung/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604464717/thue-chung-cu-gia-4-trieu-ha-noi-o-khu-vuc-nao-tot-2_xhb0qs.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Phòng trọ giá cho các bạn ở nhóm</div>
                    <div id="wrap-content2-item-info-content">Những căn hộ chung cư có giá cho thuê trong khoảng từ 4-6 triệu đồng.</div>
                </div>
            </a>
        </div>

    </div>
</div>

<div class="wrap-content2" style="margin-top: -30px;">
    <div class="greeting">
        <h3>Dành cho các bạn sinh viên ở Hà Nội</h3>
        <div>Giúp các bạn sinh viên có thể tìm phòng trọ, chung cư ở Hà Nội dễ dàng hơn.</div>
    </div>
    <div class="wrap-content2-items">
        <div class="item-content2">
            <a href="/rooms/KV_bach_kinh_xay/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604466395/519950341777fe29a766_vdtagb.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Khu vực Bách-Kinh-Xây !</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Hai Bà Trưng dành cho các bạn sinh viên Bách Khoa, Xây Dựng, Kinh tế Quốc Dân.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/KV_DH_quoc_gia_HN/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604466537/images631661_daihocquocgiahn2_1541492283886370297863_tti4qk.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Khu vực các trường ĐH Quốc Gia Hà Nội !</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Cầu Giấy, Quận Đống Đa dành cho các bạn sinh viên ĐH Quốc Gia HN, Sư Phạm, Báo Chí, Thương Mại.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/KV_HV_tai_chinh/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604466816/thu-tuc-nhap-hoc-2017_dccxdb.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Khu vực Học viện Tài Chính !</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Cầu Giấy, Quận Bắc Từ Liêm dành cho các bạn sinh viên HV Tài Chính, ĐH Mỏ.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/KV_HV_BC_VT/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604467175/tang-bac-2_lhpl0m.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Khu vực Học Viện Công nghệ Bưu Chính Viễn Thông !</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Hà Đông, Quận Thanh Xuân dành cho các bạn sinh viên PTIT, ĐH Hà Nội.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/KV_DH_Y_HN/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604467383/photo1591158497297-1591158497924-crop-1591158564859436933612_zqyj4j.jpg">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Khu vực Đại học Y Hà Nội !</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Đống Đa, Quận Hai Bà Trưng dành cho các bạn sinh viên ĐH Y Hà Nội.</div>
                </div>
            </a>
        </div>

        <div class="item-content2">
            <a href="/rooms/KV_DH_nong_nghiep/1" id="a-item-content2">
                <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604467585/Capture_rl0w8u.png">
                <div id="wrap-content2-item-info">
                    <div id="wrap-content2-item-info-title">Khu vực Đại học Nông Nghiệp !</div>
                    <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Long Biên dành cho các bạn sinh viên ĐH Nông Nghiệp.</div>
                </div>
            </a>
        </div>

    </div>

    <div class="row" style="margin-top:-30px;">
        <div class="col-sm-6">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.0" width="162px" height="136px" viewBox="0 0 1620 1360" preserveAspectRatio="xMidYMid meet" style="vertical-align: middle;">
                <g id="layer101" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z"/>
                </g>
                <g id="layer102" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m1092 495 c3 -14 1 -25 -3 -25 -5 0 -9 11 -9 25 0 14 2 25 4 25 2 0 6 -11 8 -25z m43 15 c-3 -5 -14 -10 -23 -10 -15 0 -15 2 -2 10 20 13 33 13 25 0z m133 -207 c-35 -18 -66 -32 -70 -33 -5 0 -8 20 -8 45 0 44 2 46 43 65 l42 18 28 -31 27 -32 -62 -32z m-101 -25 c-2 -13 -4 -3 -4 22 0 25 2 35 4 23 2 -13 2 -33 0 -45z m-27 21 c0 -16 -4 -28 -9 -25 -8 5 -3 56 5 56 2 0 4 -14 4 -31z m-23 4 c-4 -3 -7 0 -7 7 0 7 3 10 7 7 3 -4 3 -10 0 -14z m-34 -71 c-7 -4 -14 -39 -16 -77 l-3 -70 -2 77 c-1 53 2 78 11 81 17 6 24 -2 10 -11z m35 -97 l-1 -50 -7 40 -7 40 -2 -37 c-2 -62 -21 -43 -21 21 0 39 4 61 13 64 17 6 26 -20 25 -78z m29 -27 c-2 -13 -4 -3 -4 22 0 25 2 35 4 23 2 -13 2 -33 0 -45z m163 22 l0 -40 -70 0 -70 0 0 40 0 40 70 0 70 0 0 -40z m-239 -77 c11 -15 11 -16 0 -6 -7 6 -20 9 -29 6 -10 -4 -13 -2 -8 5 10 17 21 15 37 -5z m151 -45 c3 -45 6 -51 27 -55 14 -2 28 2 33 9 5 8 7 2 7 -17 0 -16 -3 -24 -6 -17 -2 6 -18 12 -34 12 -28 0 -29 -2 -29 -45 l0 -45 44 0 c26 0 46 5 49 13 3 7 6 4 6 -6 1 -16 -7 -18 -61 -15 l-63 2 0 108 c0 77 3 108 12 108 7 0 13 -20 15 -52z m118 30 c-1 -21 -2 -21 -13 -6 -7 9 -24 18 -37 21 -18 3 -15 5 13 6 32 1 37 -2 37 -21z m-197 -265 c-29 -2 -77 -2 -105 0 -29 2 -6 3 52 3 58 0 81 -1 53 -3z m182 -12 c-30 -6 -30 -7 -33 -78 -2 -61 0 -72 14 -75 12 -2 0 -12 -33 -31 -64 -34 -73 -34 -73 1 0 20 7 33 25 42 23 12 25 19 25 76 l0 63 -77 -3 c-66 -3 -70 -3 -23 3 70 10 216 11 175 2z m-249 -61 l1 -55 -4 52 c-3 44 -7 52 -26 57 -19 4 -18 4 3 3 23 -2 25 -6 26 -57z m-6 -64 c0 -3 -5 -8 -12 -12 -7 -4 -8 -3 -4 4 7 12 16 16 16 8z m17 -78 c-2 -13 -4 -5 -4 17 -1 22 1 32 4 23 2 -10 2 -28 0 -40z m39 -66 c-11 -11 -18 7 -18 51 -2 70 16 82 20 13 2 -32 1 -61 -2 -64z m21 6 c-2 -24 -4 -7 -4 37 0 44 2 63 4 43 2 -21 2 -57 0 -80z m35 77 c2 -19 0 -35 -4 -35 -4 0 -8 16 -8 35 0 19 2 35 4 35 2 0 6 -16 8 -35z m55 -62 c-4 -3 -10 -3 -14 0 -3 4 0 7 7 7 7 0 10 -3 7 -7z m-53 -18 c3 -8 1 -15 -4 -15 -6 0 -10 7 -10 15 0 8 2 15 4 15 2 0 6 -7 10 -15z m-87 -22 c-4 -3 -10 -3 -14 0 -3 4 0 7 7 7 7 0 10 -3 7 -7z m-82 -13 c3 -5 4 -10 1 -10 -3 0 -8 5 -11 10 -3 6 -4 10 -1 10 3 0 8 -4 11 -10z m40 0 c3 -5 4 -10 1 -10 -3 0 -8 5 -11 10 -3 6 -4 10 -1 10 3 0 8 -4 11 -10z m75 -24 c-14 -14 -24 0 -16 21 6 15 8 15 16 3 6 -9 5 -19 0 -24z m-75 -6 c3 -5 4 -10 1 -10 -3 0 -8 5 -11 10 -3 6 -4 10 -1 10 3 0 8 -4 11 -10z m39 -5 c3 -8 1 -15 -4 -15 -6 0 -10 7 -10 15 0 8 2 15 4 15 2 0 6 -7 10 -15z m-24 -39 c0 -2 -8 -10 -17 -17 -16 -13 -17 -12 -4 4 13 16 21 21 21 13z"/>
                </g>
                <g id="layer103" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m767 654 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m63 -104 c0 -60 -4 -110 -9 -110 -37 0 -41 11 -41 116 l0 104 25 0 25 0 0 -110z m257 -99 c-28 -36 -52 -68 -54 -70 -2 -3 -55 20 -82 37 -5 2 53 86 82 119 l19 22 43 -21 43 -21 -51 -66z m-197 -66 c84 -16 196 -109 220 -181 l12 -34 94 0 94 0 0 -40 0 -40 -265 0 -265 0 0 40 0 40 120 0 c83 0 120 4 120 11 0 7 -9 26 -20 44 -36 58 -119 101 -202 104 -14 1 -18 10 -18 37 l0 36 46 -7 c25 -3 54 -8 64 -10z m358 -92 c-46 -23 -87 -42 -93 -42 -5 -1 -20 15 -33 34 -21 33 -21 36 -5 41 10 3 50 21 88 40 l70 34 28 -32 27 -33 -82 -42z m-409 -237 c33 -18 51 -54 51 -106 0 -56 -15 -87 -50 -105 -39 -20 -50 -14 -16 8 13 9 30 32 36 52 31 93 -42 193 -101 139 -16 -15 -17 -14 -12 5 6 25 50 28 92 7z m255 -20 c33 -30 36 -38 36 -89 0 -66 -19 -94 -72 -106 -47 -11 -49 -4 -3 14 45 19 64 75 47 134 -15 48 -29 60 -78 65 l-39 4 5 -109 5 -109 -35 1 c-19 1 -27 3 -17 6 16 4 18 15 15 109 -2 63 1 106 7 108 6 3 29 5 52 5 34 1 48 -5 77 -33z m128 -28 c3 -47 5 -52 30 -55 19 -2 28 2 31 14 3 10 5 2 5 -17 0 -19 -2 -29 -5 -22 -2 6 -18 12 -34 12 -28 0 -29 -2 -29 -45 l0 -45 44 0 c34 0 46 4 49 18 4 13 5 11 6 -5 1 -22 -2 -23 -76 -23 -65 0 -74 2 -59 13 15 11 17 26 14 110 -2 71 0 97 9 97 7 0 13 -20 15 -52z m117 25 c0 -27 -1 -27 -11 -6 -7 14 -22 23 -42 26 -25 3 -23 4 12 5 40 2 42 1 41 -25z m-609 13 c0 -3 -5 -8 -12 -12 -7 -4 -8 -3 -4 4 7 12 16 16 16 8z m7 -153 c-4 -3 -7 0 -7 7 0 7 3 10 7 7 3 -4 3 -10 0 -14z m494 -120 c68 -4 111 -10 94 -13 -30 -5 -30 -6 -33 -78 -3 -64 -1 -72 15 -72 11 0 -1 -12 -29 -30 -27 -17 -57 -30 -68 -30 -11 0 -20 -7 -20 -15 0 -9 10 -15 26 -15 22 0 11 -11 -66 -73 -127 -99 -152 -117 -167 -117 -8 0 -54 30 -103 68 l-89 67 -1 83 c0 66 3 82 15 82 12 0 15 14 15 65 0 60 -2 65 -22 67 -22 2 136 12 253 16 31 1 112 -1 180 -5z"/>
                <path d="M872 193 c2 -23 9 -29 36 -33 30 -5 31 -6 13 -17 -16 -10 -24 -9 -46 9 -39 31 -45 10 -6 -22 l34 -29 34 26 c31 23 32 27 18 43 -8 9 -15 24 -15 33 0 13 -9 17 -36 17 -33 0 -35 -2 -32 -27z"/>
                <path d="M1040 202 c0 -11 -12 -24 -26 -31 l-27 -12 39 -28 38 -29 33 25 c33 25 42 43 23 43 -5 0 -10 11 -10 25 0 22 -4 25 -35 25 -27 0 -35 -4 -35 -18z m41 -58 c-21 -15 -24 -15 -39 0 -15 15 -13 16 23 16 39 0 39 0 16 -16z"/>
                </g>
                <g id="layer104" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m830 551 l0 -107 -50 -1 -50 -1 0 108 0 108 50 0 50 1 0 -108z m-256 -69 c27 -35 47 -64 45 -65 -2 -2 -22 -11 -44 -21 l-39 -18 -23 29 c-13 15 -37 47 -54 71 l-30 42 43 19 c24 10 46 16 49 12 3 -3 27 -34 53 -69z m513 -31 c-28 -36 -52 -68 -54 -70 -2 -3 -55 20 -82 37 -5 2 53 86 82 119 l19 22 43 -21 43 -21 -51 -66z m-133 -90 c71 -35 138 -101 156 -157 l12 -34 94 0 94 0 0 -40 0 -40 -465 0 -465 0 0 40 c0 39 1 40 35 40 24 0 35 5 36 15 2 25 4 29 31 70 32 50 89 90 170 121 92 34 212 28 302 -15z m294 -68 c-46 -23 -87 -42 -93 -42 -5 -1 -20 15 -33 34 -21 33 -21 36 -5 41 10 3 50 21 88 40 l70 34 28 -32 27 -33 -82 -42z m-823 40 c19 -9 35 -19 35 -22 0 -3 -10 -18 -23 -33 l-22 -28 -45 16 c-46 16 -72 32 -32 20 19 -7 22 -4 22 22 0 26 5 33 27 41 1 1 18 -7 38 -16z m243 -281 c-10 -2 -18 -9 -18 -15 0 -7 -11 -25 -24 -42 -24 -29 -24 -31 -6 -50 63 -71 -3 -131 -115 -105 -16 4 -24 8 -17 9 9 1 12 29 12 106 0 87 3 105 15 105 11 0 15 -12 15 -51 0 -49 1 -50 27 -47 22 2 32 13 52 54 21 45 27 50 50 45 19 -3 21 -6 9 -9z m171 4 c34 -18 51 -54 51 -112 0 -56 -12 -79 -51 -100 -38 -19 -49 -13 -15 10 49 31 56 136 13 184 -61 67 -136 -31 -101 -132 8 -21 22 -45 32 -52 21 -16 11 -18 -21 -3 -24 11 -56 55 -54 74 7 71 19 112 39 127 28 21 70 23 107 4z m255 -20 c33 -30 36 -38 36 -89 0 -66 -19 -94 -72 -106 -47 -11 -49 -4 -3 14 45 19 64 75 47 134 -15 48 -29 60 -78 65 l-39 4 5 -109 5 -109 -34 0 c-31 0 -33 1 -17 13 15 11 17 26 14 110 -2 58 1 99 7 101 6 3 29 5 52 5 34 1 48 -5 77 -33z m-737 -13 c-3 -10 -5 -4 -5 12 0 17 2 24 5 18 2 -7 2 -21 0 -30z m50 31 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m815 -46 c3 -47 5 -52 30 -55 19 -2 28 2 31 14 3 10 5 2 5 -17 0 -19 -2 -29 -5 -22 -2 6 -18 12 -34 12 -28 0 -29 -2 -29 -45 l0 -45 44 0 c34 0 46 4 49 18 4 13 5 11 6 -5 1 -22 -2 -23 -76 -23 -65 0 -74 2 -59 13 15 11 17 26 14 110 -2 71 0 97 9 97 7 0 13 -20 15 -52z m117 25 c0 -27 -1 -27 -11 -6 -7 14 -22 23 -42 26 -25 3 -23 4 12 5 40 2 42 1 41 -25z m-894 -158 c0 -33 -2 -35 -30 -34 -24 1 -26 3 -7 6 17 3 21 9 17 24 -4 10 -3 23 0 29 12 19 20 10 20 -25z m-7 -102 c-26 -2 -71 -2 -100 0 -29 2 -8 3 47 3 55 0 79 -1 53 -3z m793 0 c68 -4 111 -10 94 -13 -30 -5 -30 -6 -33 -78 -3 -64 -1 -72 15 -72 11 0 -1 -12 -29 -30 -27 -17 -57 -30 -68 -30 -11 0 -20 -7 -20 -15 0 -9 10 -15 26 -15 22 0 11 -11 -66 -73 -128 -100 -152 -117 -168 -117 -7 0 -55 31 -105 70 -89 69 -91 70 -111 51 -48 -42 -158 -121 -170 -121 -8 0 -67 41 -132 91 -133 101 -133 101 -119 99 6 -1 18 -2 28 -1 21 1 23 31 2 31 -10 0 -15 10 -15 30 0 29 2 30 43 30 23 0 53 7 65 16 19 13 22 24 22 79 l0 65 253 3 c138 1 277 3 308 5 31 1 112 -1 180 -5z m-823 -20 l-78 -4 0 -52 c0 -29 6 -59 13 -67 10 -12 9 -12 -5 -1 -13 10 -18 28 -18 66 0 28 3 55 7 58 3 4 40 6 82 5 l76 -2 -77 -3z m-135 -140 c-7 -2 -19 -2 -25 0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z"/>
                <path d="M687 993 c-52 -15 -129 -82 -139 -121 l-6 -22 239 0 c186 0 239 3 239 13 0 28 -51 84 -100 111 -63 35 -158 42 -233 19z"/>
                <path d="M832 378 c3 -63 3 -63 33 -63 30 0 30 0 33 63 l3 62 -36 0 -36 0 3 -62z"/>
                <path d="M910 381 c0 -51 3 -62 22 -75 29 -20 83 -20 116 0 25 14 27 20 24 69 -4 50 -5 53 -34 59 -17 3 -52 6 -79 6 l-49 0 0 -59z"/>
                <path d="M1148 433 l-58 -4 0 -56 c0 -67 15 -82 80 -82 67 0 80 14 80 88 0 57 -1 61 -22 59 -13 -1 -49 -3 -80 -5z"/>
                <path d="M840 162 c0 -6 14 -22 32 -35 l32 -25 33 25 c39 30 34 52 -6 24 -27 -19 -27 -19 -59 1 -18 11 -32 15 -32 10z"/>
                <path d="M996 162 c-2 -4 12 -19 33 -34 l37 -26 34 28 c43 35 33 51 -11 19 -31 -22 -32 -22 -48 -3 -18 21 -37 28 -45 16z"/>
                </g>
                <g id="layer105" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m830 551 l0 -107 -50 -1 -50 -1 0 108 0 108 50 0 50 1 0 -108z m-256 -69 c27 -35 47 -64 45 -65 -2 -2 -22 -11 -44 -21 l-39 -18 -23 29 c-13 15 -37 47 -54 71 l-30 42 43 19 c24 10 46 16 49 12 3 -3 27 -34 53 -69z m519 -26 c-26 -34 -50 -65 -54 -70 -8 -9 -89 21 -89 33 0 7 63 97 86 122 15 17 18 17 59 -3 l44 -21 -46 -61z m-151 -89 c73 -32 142 -96 165 -153 l18 -44 93 0 92 0 0 -40 0 -40 -465 0 -465 0 0 40 c0 39 1 40 35 40 24 0 35 5 36 15 2 25 4 29 31 70 32 50 89 90 170 121 85 31 207 27 290 -9z m355 16 c40 -51 40 -51 -52 -93 -47 -22 -89 -40 -93 -40 -4 0 -17 16 -30 35 l-22 35 22 9 c13 5 52 23 88 40 78 36 70 35 87 14z m-872 -50 c19 -9 35 -19 35 -22 0 -3 -10 -18 -23 -33 l-22 -28 -45 16 c-46 16 -72 32 -32 20 19 -7 22 -4 22 22 0 26 5 33 27 41 1 1 18 -7 38 -16z m243 -281 c-10 -2 -18 -9 -18 -15 0 -7 -11 -25 -24 -42 -24 -29 -24 -31 -6 -50 63 -71 -3 -131 -115 -105 -16 4 -24 8 -17 9 9 1 12 29 12 106 0 87 3 105 15 105 11 0 15 -12 15 -51 0 -49 1 -50 27 -47 22 2 32 13 52 54 21 45 27 50 50 45 19 -3 21 -6 9 -9z m171 4 c34 -18 51 -54 51 -112 0 -56 -12 -79 -51 -100 -38 -19 -49 -13 -15 10 50 32 55 137 10 187 -37 41 -97 7 -106 -61 -6 -41 15 -107 40 -126 21 -16 11 -18 -21 -3 -24 11 -56 55 -54 74 7 71 19 112 39 127 28 21 70 23 107 4z m251 -13 c35 -31 50 -82 39 -132 -9 -43 -27 -60 -73 -71 -45 -10 -48 4 -3 16 25 8 35 18 45 48 25 78 -7 144 -73 150 l-40 4 5 -109 5 -109 -35 1 c-19 0 -29 3 -22 6 8 3 12 35 12 107 0 57 3 106 7 109 3 4 28 7 55 7 38 0 54 -6 78 -27z m249 -5 c0 -31 -1 -32 -11 -10 -9 17 -20 22 -50 22 -21 0 -41 0 -45 0 -5 0 -8 -21 -8 -47 0 -43 2 -47 28 -50 19 -3 27 1 27 12 0 8 5 15 10 15 6 0 10 -13 10 -30 0 -16 -4 -30 -10 -30 -5 0 -10 5 -10 10 0 6 -13 10 -30 10 -29 0 -30 -2 -30 -45 l0 -45 45 0 c33 0 45 4 45 15 0 8 4 15 9 15 5 0 7 -9 4 -20 -5 -18 -13 -20 -82 -19 -42 0 -70 3 -63 6 8 3 12 35 12 109 0 68 -4 103 -10 99 -5 -3 -10 -1 -10 4 0 7 32 11 85 11 l85 0 -1 -32z m-982 -15 c-3 -10 -5 -4 -5 12 0 17 2 24 5 18 2 -7 2 -21 0 -30z m50 31 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m38 -179 c0 -33 -2 -35 -30 -34 -24 1 -26 3 -7 6 17 3 21 9 17 24 -4 10 -3 23 0 29 12 19 20 10 20 -25z m-7 -102 c-26 -2 -71 -2 -100 0 -29 2 -8 3 47 3 55 0 79 -1 53 -3z m793 0 c68 -4 111 -10 94 -13 -29 -5 -30 -7 -33 -70 -2 -50 1 -67 13 -76 13 -10 9 -15 -29 -38 -24 -14 -54 -26 -65 -26 -33 0 -24 -18 10 -22 29 -3 27 -6 -66 -78 -138 -107 -158 -120 -175 -120 -8 0 -55 32 -104 70 -88 69 -90 70 -110 52 -48 -43 -158 -122 -170 -122 -8 0 -67 41 -132 91 -133 101 -133 101 -119 99 6 -1 18 -2 28 -1 21 1 23 31 2 31 -10 0 -15 10 -15 30 0 29 2 30 43 30 23 0 53 7 65 16 19 13 22 24 22 79 l0 65 253 3 c138 1 277 3 308 5 31 1 112 -1 180 -5z m-823 -20 l-78 -4 0 -52 c0 -29 6 -59 13 -67 10 -12 9 -12 -5 -1 -13 10 -18 28 -18 66 0 28 3 55 7 58 3 4 40 6 82 5 l76 -2 -77 -3z m-135 -140 c-7 -2 -19 -2 -25 0 -7 3 -2 5 12 5 14 0 19 -2 13 -5z"/>
                <path d="M680 375 l0 -63 70 0 70 0 0 63 0 63 -70 0 -70 0 0 -63z"/>
                <path d="M834 426 c-3 -7 -4 -35 -2 -62 3 -47 4 -49 33 -49 30 0 30 0 33 63 l3 62 -31 0 c-17 0 -33 -6 -36 -14z"/>
                <path d="M640 176 c0 -10 13 -16 38 -18 35 -3 36 -4 16 -15 -19 -11 -26 -9 -48 8 -37 29 -48 13 -13 -17 36 -31 58 -30 87 1 23 25 23 25 4 40 -24 18 -41 19 -47 3 -4 -10 -6 -10 -6 0 -1 17 -31 15 -31 -2z"/>
                <path d="M450 161 c0 -13 49 -51 66 -51 18 0 71 47 62 55 -4 4 -20 -2 -35 -13 -28 -20 -29 -20 -53 -1 -28 21 -40 24 -40 10z"/>
                </g>
                <g id="layer106" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m830 551 l0 -109 -50 0 -50 0 0 108 0 108 50 0 50 1 0 -108z m-256 -69 c27 -35 47 -64 45 -65 -2 -2 -22 -11 -44 -21 l-39 -18 -23 29 c-13 15 -37 47 -54 71 l-30 42 43 19 c24 10 46 16 49 12 3 -3 27 -34 53 -69z m519 -26 c-26 -34 -50 -65 -54 -70 -8 -9 -89 21 -89 33 0 7 63 97 86 122 15 17 18 17 59 -3 l44 -21 -46 -61z m-633 -146 c0 -3 -10 -17 -23 -32 -22 -28 -22 -28 -65 -13 -24 9 -66 27 -93 41 l-50 25 25 30 c15 17 26 35 26 40 0 10 180 -81 180 -91z m482 57 c73 -32 142 -96 165 -153 l18 -44 93 0 92 0 0 -40 0 -40 -525 0 -525 0 0 40 0 40 95 0 c77 0 95 3 96 15 2 24 4 28 28 67 34 56 106 105 195 133 67 21 201 12 268 -18z m355 16 c40 -51 40 -51 -52 -93 -47 -22 -89 -40 -93 -40 -4 0 -17 16 -30 35 l-22 35 22 9 c13 5 52 23 88 40 78 36 70 35 87 14z m-630 -337 c-7 -6 -25 -27 -39 -46 l-26 -36 24 -27 c29 -34 30 -48 6 -77 -13 -16 -31 -23 -58 -25 -35 -1 -116 11 -86 14 9 1 12 29 12 106 0 87 3 105 15 105 11 0 15 -12 15 -50 0 -47 2 -50 25 -50 21 0 30 10 51 53 23 46 30 53 51 49 19 -4 21 -7 10 -16z m172 10 c34 -18 51 -54 51 -112 0 -56 -12 -79 -50 -99 -42 -22 -49 -18 -17 8 33 26 48 82 37 133 -17 73 -71 97 -109 48 -37 -47 -23 -160 22 -182 22 -11 22 -11 1 -11 -20 -1 -73 41 -75 60 -1 5 -2 15 -3 22 -1 6 2 34 6 62 12 77 68 106 137 71z m251 -13 c35 -31 50 -82 39 -132 -9 -43 -27 -60 -73 -71 -45 -10 -48 4 -3 16 25 8 35 18 45 48 25 78 -7 144 -73 150 l-40 4 5 -109 5 -109 -35 1 c-19 0 -29 3 -22 6 8 3 12 35 12 107 0 57 3 106 7 109 3 4 28 7 55 7 38 0 54 -6 78 -27z m249 -5 c0 -31 -1 -32 -11 -10 -9 17 -20 22 -50 22 -21 0 -41 0 -45 0 -5 0 -8 -21 -8 -47 0 -43 2 -47 28 -50 19 -3 27 1 27 12 0 8 5 15 10 15 6 0 10 -13 10 -30 0 -16 -4 -30 -10 -30 -5 0 -10 5 -10 10 0 6 -13 10 -30 10 -29 0 -30 -2 -30 -45 l0 -45 45 0 c33 0 45 4 45 15 0 8 4 15 9 15 5 0 7 -9 4 -20 -5 -18 -13 -20 -82 -19 -42 0 -70 3 -63 6 8 3 12 35 12 109 0 68 -4 103 -10 99 -5 -3 -10 -1 -10 4 0 7 32 11 85 11 l85 0 -1 -32z m-977 -83 l-3 -105 35 0 c31 0 35 3 33 26 -1 15 3 29 9 31 6 2 10 -11 10 -32 l-1 -35 -97 0 -98 0 0 38 c0 27 3 33 10 22 5 -8 10 -23 10 -32 0 -14 8 -18 36 -18 l35 0 -3 105 c-2 88 -1 105 12 105 13 0 14 -17 12 -105z m45 99 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m863 -284 c54 -2 74 -5 55 -9 -29 -6 -30 -8 -33 -71 -2 -50 1 -67 13 -76 13 -10 9 -15 -29 -38 -24 -14 -54 -26 -65 -26 -33 0 -24 -18 10 -22 29 -3 27 -6 -66 -78 -137 -106 -158 -120 -174 -120 -7 0 -52 29 -99 65 -46 36 -89 65 -94 65 -5 0 -47 -29 -93 -65 -45 -36 -90 -65 -98 -65 -9 0 -70 42 -136 93 -100 76 -117 93 -99 97 29 7 35 30 9 30 -24 0 -116 44 -126 60 -3 5 3 10 14 10 19 0 21 6 21 70 0 66 -1 70 -22 71 -18 1 -17 3 6 8 27 5 803 6 1006 1z"/>
                <path d="M687 993 c-52 -15 -129 -82 -139 -121 l-6 -22 239 0 c206 0 239 2 239 15 0 23 -69 94 -114 117 -51 26 -153 31 -219 11z"/>
                <path d="M682 377 l3 -62 65 0 65 0 3 62 3 61 -71 0 -71 0 3 -61z"/>
                <path d="M917 433 c-4 -3 -7 -30 -7 -59 0 -43 4 -56 22 -68 29 -20 83 -20 116 0 25 14 27 20 24 69 -4 50 -5 53 -34 59 -41 8 -113 8 -121 -1z"/>
                <path d="M1148 433 l-58 -4 0 -58 c0 -52 2 -59 25 -69 36 -17 86 -15 113 4 19 13 22 24 22 75 0 55 -1 59 -22 57 -13 -1 -49 -3 -80 -5z"/>
                <path d="M840 161 c0 -5 14 -21 32 -34 l32 -25 33 25 c40 31 33 52 -8 22 -27 -19 -32 -19 -47 -7 -27 23 -42 30 -42 19z"/>
                <path d="M997 163 c-3 -5 11 -20 32 -35 l37 -26 34 29 c37 30 22 41 -18 13 -20 -14 -25 -14 -40 -2 -26 23 -40 29 -45 21z"/>
                </g>
                <g id="layer107" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m830 551 l0 -109 -50 0 -50 0 0 108 0 108 50 0 50 1 0 -108z m-256 -69 c27 -35 47 -64 45 -65 -2 -2 -22 -11 -44 -21 l-39 -18 -23 29 c-13 15 -37 47 -54 71 l-30 42 43 19 c24 10 46 16 49 12 3 -3 27 -34 53 -69z m519 -26 c-26 -34 -50 -65 -54 -70 -8 -9 -89 21 -89 33 0 7 63 97 86 122 15 17 18 17 59 -3 l44 -21 -46 -61z m-633 -146 c0 -3 -10 -17 -23 -32 -22 -28 -22 -28 -65 -13 -24 9 -66 27 -93 41 l-50 25 25 30 c15 17 26 35 26 40 0 10 180 -81 180 -91z m488 55 c70 -31 142 -101 163 -158 l13 -37 93 0 93 0 0 -40 0 -40 -525 0 -525 0 0 40 0 40 95 0 c77 0 95 3 96 15 2 24 4 28 28 67 56 92 180 148 322 143 68 -2 98 -8 147 -30z m349 18 c39 -51 39 -51 -49 -93 -45 -22 -87 -40 -92 -40 -6 0 -21 16 -34 35 l-22 35 22 9 c13 5 52 23 88 40 36 17 67 31 69 31 2 0 10 -8 18 -17z m-630 -337 c-7 -6 -25 -27 -39 -46 l-26 -36 24 -27 c29 -34 30 -48 6 -77 -13 -16 -31 -23 -58 -25 -35 -1 -116 11 -86 14 9 1 12 29 12 106 0 87 3 105 15 105 11 0 15 -12 15 -50 0 -47 2 -50 25 -50 21 0 30 10 51 53 23 46 30 53 51 49 19 -4 21 -7 10 -16z m173 9 c39 -20 52 -48 52 -105 0 -57 -13 -85 -52 -105 -43 -22 -46 -18 -11 14 28 26 31 35 31 89 0 99 -61 147 -109 86 -37 -47 -23 -160 22 -182 22 -11 22 -11 1 -11 -20 -1 -73 41 -75 60 -1 5 -2 15 -3 22 -1 6 2 34 6 62 12 78 68 106 138 70z m249 -11 c38 -32 54 -86 40 -137 -16 -58 -51 -73 -159 -68 -25 2 -39 5 -32 8 15 6 17 203 2 203 -5 0 -10 5 -10 10 0 6 28 10 64 10 55 0 69 -4 95 -26z m250 -6 c0 -31 -1 -32 -11 -10 -9 18 -19 22 -60 22 l-49 0 3 -47 c3 -39 6 -47 26 -50 13 -2 25 3 28 12 10 25 24 17 24 -15 0 -16 -4 -30 -10 -30 -5 0 -10 5 -10 10 0 6 -13 10 -30 10 -29 0 -30 -2 -30 -45 l0 -45 45 0 c33 0 45 4 45 15 0 8 5 15 10 15 12 0 12 -3 4 -24 -5 -13 -22 -16 -83 -15 -42 0 -70 3 -63 6 15 6 17 203 2 203 -5 0 -10 5 -10 10 0 6 35 10 85 10 l85 0 -1 -32z m-977 -83 l-3 -105 35 0 c31 0 35 3 33 26 -1 15 3 29 9 31 6 2 10 -11 10 -32 l-1 -35 -97 0 -98 0 0 38 c0 27 3 33 10 22 5 -8 10 -23 10 -32 0 -14 8 -18 36 -18 l35 0 -3 105 c-2 88 -1 105 12 105 13 0 14 -17 12 -105z m45 99 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m933 -289 c0 -5 -11 -11 -25 -13 -24 -3 -25 -6 -25 -67 0 -48 4 -66 16 -73 13 -7 8 -14 -29 -35 -25 -15 -55 -27 -66 -27 -33 0 -24 -18 10 -22 29 -3 24 -8 -95 -101 -69 -53 -133 -97 -143 -97 -10 0 -56 29 -102 65 -46 36 -88 65 -93 65 -5 0 -47 -29 -93 -65 -45 -36 -90 -65 -98 -65 -9 0 -70 42 -136 93 -100 76 -117 93 -99 97 29 7 35 30 9 30 -24 0 -116 44 -126 60 -3 5 3 10 14 10 19 0 21 6 21 70 0 66 -1 70 -22 71 -18 1 -17 3 6 8 51 11 1076 7 1076 -4z"/>
                <path d="M997 733 c-4 -3 -7 -51 -7 -105 l0 -98 29 0 c46 0 83 38 84 86 2 67 -10 94 -48 110 -38 16 -49 17 -58 7z"/>
                <path d="M834 427 c-3 -8 -4 -36 -2 -63 3 -47 4 -49 33 -49 l30 0 0 60 c0 58 -1 60 -28 63 -17 2 -29 -2 -33 -11z"/>
                <path d="M916 433 c-3 -4 -6 -30 -6 -59 0 -62 21 -84 80 -84 59 0 80 22 80 86 0 49 -2 54 -22 55 -13 0 -46 2 -74 4 -29 2 -55 1 -58 -2z"/>
                <path d="M1148 432 l-58 -3 0 -54 c0 -63 21 -85 80 -85 60 0 80 22 80 88 0 64 8 60 -102 54z"/>
                </g>
                <g id="layer108" fill="#010101" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m830 551 l0 -109 -50 0 -50 0 0 108 0 108 50 0 50 1 0 -108z m-256 -69 c27 -35 47 -64 45 -65 -2 -2 -22 -11 -44 -21 l-39 -18 -23 29 c-13 15 -37 47 -54 71 l-30 42 43 19 c24 10 46 16 49 12 3 -3 27 -34 53 -69z m557 24 c-12 -17 -84 -110 -93 -120 -7 -9 -88 21 -88 33 0 7 63 97 86 122 15 17 18 17 60 -3 27 -14 40 -26 35 -32z m-671 -196 c0 -3 -10 -17 -23 -32 -22 -28 -22 -28 -65 -13 -24 9 -66 27 -93 41 l-50 25 25 30 c15 17 26 35 26 40 0 10 180 -81 180 -91z m487 56 c71 -32 143 -102 164 -159 l13 -37 93 0 93 0 0 -40 0 -40 -525 0 -525 0 0 40 0 40 95 0 c77 0 95 3 96 15 2 24 4 28 28 67 56 92 179 147 321 144 69 -2 97 -8 147 -30z m361 4 c12 -16 22 -32 22 -34 0 -10 -162 -87 -176 -84 -8 2 -24 17 -35 34 l-19 31 82 41 c46 22 88 41 94 41 5 1 20 -12 32 -29z m-641 -324 c-7 -6 -25 -27 -39 -46 l-26 -36 24 -27 c29 -34 30 -48 6 -77 -13 -16 -31 -23 -58 -25 -35 -1 -116 11 -86 14 9 1 12 29 12 106 0 87 3 105 15 105 11 0 15 -12 15 -50 0 -47 2 -50 25 -50 21 0 30 10 51 53 23 46 30 53 51 49 19 -4 21 -7 10 -16z m180 4 c32 -19 59 -80 49 -111 -2 -8 -7 -27 -10 -42 -4 -16 -20 -36 -39 -47 -46 -29 -54 -25 -18 9 28 26 31 35 31 89 0 99 -61 147 -109 86 -37 -47 -23 -160 22 -182 22 -11 22 -11 1 -11 -20 -1 -73 41 -75 60 -1 5 -2 15 -3 22 -1 6 2 34 6 62 12 80 74 108 145 65z m242 -5 c82 -69 54 -198 -44 -206 -46 -3 -122 2 -107 8 15 6 17 203 2 203 -5 0 -10 5 -10 10 0 6 28 10 64 10 54 0 69 -4 95 -25z m253 0 c6 -31 -8 -43 -17 -15 -5 16 -15 20 -56 20 l-49 0 0 -45 c0 -43 1 -45 30 -45 17 0 30 5 30 10 0 6 5 10 10 10 6 0 10 -13 10 -30 0 -16 -4 -30 -10 -30 -5 0 -10 5 -10 10 0 6 -13 10 -30 10 -29 0 -30 -2 -30 -45 l0 -45 45 0 c33 0 45 4 45 15 0 8 5 15 11 15 6 0 9 -8 7 -17 -3 -15 -16 -18 -83 -20 -44 -1 -74 0 -67 3 15 7 17 204 2 204 -5 0 -10 5 -10 10 0 6 35 10 84 10 82 0 84 -1 88 -25z m-980 -90 l-3 -105 35 0 c31 0 35 3 33 26 -1 15 3 29 9 31 6 2 10 -11 10 -32 l-1 -35 -97 0 -98 0 0 38 c0 27 3 33 10 22 5 -8 10 -23 10 -32 0 -14 8 -18 36 -18 l35 0 -3 105 c-2 88 -1 105 12 105 13 0 14 -17 12 -105z m45 99 c-3 -3 -12 -4 -19 -1 -8 3 -5 6 6 6 11 1 17 -2 13 -5z m933 -289 c1 -5 -8 -11 -20 -13 -18 -3 -20 -11 -20 -72 0 -45 4 -70 12 -72 17 -6 -74 -58 -100 -58 -34 0 -26 -18 9 -22 30 -3 26 -7 -94 -101 -70 -53 -135 -97 -145 -97 -10 0 -56 29 -101 65 -46 36 -87 65 -93 65 -5 0 -47 -29 -93 -65 -45 -36 -90 -65 -98 -65 -9 0 -70 42 -136 93 -100 76 -117 93 -99 97 29 7 35 30 9 30 -24 0 -116 44 -126 60 -3 5 3 10 14 10 19 0 21 6 21 70 0 66 -1 70 -22 71 -18 1 -17 3 7 8 51 11 1075 7 1075 -4z"/>
                <path d="M687 994 c-52 -16 -129 -83 -139 -122 l-6 -22 239 0 c131 0 239 2 239 5 0 15 -31 63 -57 87 -61 58 -181 80 -276 52z"/>
                <path d="M530 582 c0 -53 9 -63 49 -53 34 9 47 34 35 68 -8 23 -16 29 -47 31 l-37 3 0 -49z"/>
                <path d="M408 432 l-78 -3 0 -53 c0 -65 19 -86 77 -86 64 0 85 23 81 90 l-3 55 -77 -3z"/>
                <path d="M500 381 c0 -71 19 -91 85 -91 66 0 81 17 77 89 l-4 61 -79 0 -79 0 0 -59z"/>
                <path d="M682 377 l3 -62 65 0 65 0 0 60 0 60 -68 2 -68 2 3 -62z"/>
                <path d="M450 161 c0 -13 49 -51 65 -51 16 0 65 39 65 52 0 5 -15 1 -33 -11 -32 -19 -33 -19 -57 -1 -28 22 -40 25 -40 11z"/>
                <path d="M610 161 c0 -13 49 -51 65 -51 16 0 65 39 65 52 0 5 -15 0 -34 -11 l-33 -21 -26 20 c-28 22 -37 25 -37 11z"/>
                </g>
                <g id="layer109" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m830 549 l0 -109 -50 0 -50 0 0 109 0 109 50 0 50 1 0 -110z m-261 -59 c30 -39 52 -72 50 -74 -2 -2 -22 -11 -43 -21 l-39 -19 -23 30 c-13 16 -38 48 -55 72 l-30 42 43 19 c24 11 43 20 44 20 0 1 24 -31 53 -69z m562 16 c-12 -17 -84 -110 -93 -120 -7 -9 -88 21 -88 33 0 7 63 97 86 122 15 17 18 17 60 -3 27 -14 40 -26 35 -32z m-673 -192 c2 -1 -7 -18 -20 -37 l-23 -35 -94 44 -93 44 26 31 c14 17 26 35 26 40 0 7 152 -67 178 -87z m490 51 c70 -31 142 -101 163 -158 l13 -37 93 0 93 0 0 -40 0 -40 -525 0 -525 0 0 40 0 40 95 0 c92 0 95 1 95 23 1 60 102 149 215 190 75 27 201 19 283 -18z m360 5 c12 -16 22 -32 22 -34 0 -10 -162 -87 -176 -84 -8 2 -24 17 -35 34 l-19 31 82 41 c46 22 88 41 94 41 5 1 20 -12 32 -29z m-898 -311 c0 -5 -10 -9 -22 -7 -22 3 -23 0 -26 -100 l-3 -103 33 3 c21 2 32 8 30 17 -4 19 8 51 18 51 5 0 9 -18 7 -40 l-2 -40 -97 0 -98 0 0 43 c0 31 3 38 10 27 5 -8 10 -25 10 -37 0 -19 6 -23 30 -23 l30 0 0 106 c0 58 -4 103 -8 100 -4 -2 -14 -1 -22 5 -10 6 6 9 48 9 37 0 62 -4 62 -11z m138 0 c-13 -7 -18 -23 -18 -54 0 -41 2 -45 25 -45 21 0 30 10 52 55 21 43 32 55 50 55 13 0 23 -4 23 -10 0 -5 -4 -10 -9 -10 -5 0 -20 -17 -32 -37 -13 -21 -28 -41 -33 -45 -6 -4 -4 -9 6 -13 9 -4 22 -20 28 -36 10 -24 10 -33 -3 -53 -17 -25 -57 -39 -92 -32 -11 3 -31 5 -45 6 -14 1 -19 4 -12 7 15 6 17 203 2 203 -5 0 -10 5 -10 10 0 6 19 10 43 10 33 -1 38 -3 25 -11z m299 -9 c32 -19 59 -80 49 -111 -2 -8 -7 -27 -10 -42 -8 -35 -86 -87 -86 -57 0 6 6 10 14 10 46 0 65 134 25 184 -26 34 -62 34 -88 0 -37 -47 -23 -160 22 -182 22 -11 22 -11 1 -11 -20 -1 -73 41 -75 60 -1 5 -2 15 -3 22 -1 6 2 34 6 62 12 80 74 108 145 65z m242 -5 c82 -69 54 -198 -44 -206 -46 -3 -122 2 -107 8 15 6 17 203 2 203 -5 0 -10 5 -10 10 0 6 28 10 64 10 54 0 69 -4 95 -25z m253 0 c6 -31 -8 -43 -17 -15 -5 16 -15 20 -56 20 l-49 0 0 -45 c0 -43 1 -45 30 -45 17 0 30 5 30 10 0 6 5 10 10 10 6 0 10 -13 10 -30 0 -16 -4 -30 -10 -30 -5 0 -10 5 -10 10 0 6 -13 10 -30 10 -29 0 -30 -2 -30 -45 l0 -45 45 0 c33 0 45 4 45 15 0 8 5 15 11 15 6 0 9 -8 7 -17 -3 -15 -16 -18 -83 -20 -44 -1 -74 0 -67 3 15 7 17 204 2 204 -5 0 -10 5 -10 10 0 6 35 10 84 10 82 0 84 -1 88 -25z m-2 -280 c1 -5 -8 -11 -20 -13 -18 -3 -20 -11 -20 -72 0 -45 4 -70 12 -72 17 -6 -74 -58 -100 -58 -34 0 -26 -18 9 -22 30 -3 26 -7 -94 -101 -70 -53 -135 -97 -145 -97 -10 0 -56 29 -101 65 -46 36 -87 65 -92 65 -5 0 -47 -29 -93 -65 -46 -36 -91 -65 -101 -65 -9 0 -72 44 -142 97 -120 94 -124 98 -94 101 34 4 43 22 11 22 -23 0 -115 44 -125 60 -3 5 3 10 14 10 19 0 21 6 21 70 0 69 0 70 -27 71 -24 1 -23 2 7 8 61 11 1080 7 1080 -4z"/>
                <path d="M697 995 c-62 -21 -115 -62 -137 -105 l-20 -40 240 0 c132 0 240 2 240 5 0 15 -31 63 -57 87 -59 56 -185 81 -266 53z"/>
                <path d="M530 580 l0 -50 35 0 c28 0 38 5 47 25 18 41 -3 75 -47 75 l-35 0 0 -50z"/>
                <path d="M997 733 c-4 -3 -7 -51 -7 -105 l0 -98 29 0 c15 0 40 9 55 21 22 18 26 28 26 75 0 68 -10 89 -51 103 -37 13 -43 13 -52 4z"/>
                <path d="M507 433 c-4 -3 -7 -30 -7 -59 0 -63 21 -84 85 -84 66 0 81 17 77 89 l-4 61 -72 0 c-40 0 -76 -3 -79 -7z"/>
                <path d="M684 427 c-3 -8 -4 -36 -2 -63 3 -47 4 -49 33 -49 l30 0 0 60 c0 58 -1 60 -28 63 -17 2 -29 -2 -33 -11z"/>
                <path d="M762 378 c3 -60 4 -63 28 -63 24 0 25 3 25 60 0 58 -1 60 -28 63 l-28 3 3 -63z"/>
                <path d="M833 424 c-2 -6 -3 -33 -1 -60 3 -47 4 -49 33 -49 l30 0 0 60 c0 59 0 60 -29 60 -15 1 -30 -4 -33 -11z"/>
                <path d="M917 434 c-4 -4 -7 -31 -7 -60 0 -62 21 -84 80 -84 59 0 80 22 80 86 l0 54 -59 0 c-33 0 -66 2 -73 5 -8 3 -17 2 -21 -1z"/>
                <path d="M330 377 c0 -66 19 -87 76 -87 63 0 84 21 84 86 l0 54 -80 0 -80 0 0 -53z"/>
                <path d="M475 135 c37 -31 47 -31 82 0 31 27 13 35 -21 10 -17 -13 -22 -13 -42 0 -38 24 -52 16 -19 -10z"/>
                <path d="M635 135 c37 -31 47 -31 82 0 31 27 13 35 -21 10 -17 -13 -22 -13 -42 0 -38 24 -52 16 -19 -10z"/>
                <path d="M863 135 c35 -31 44 -31 82 0 34 28 18 34 -21 9 -23 -15 -26 -15 -43 0 -9 9 -24 16 -32 16 -9 -1 -3 -10 14 -25z"/>
                <path d="M1023 135 c35 -31 44 -31 82 0 34 28 18 34 -21 9 -23 -15 -26 -15 -43 0 -9 9 -24 16 -32 16 -9 -1 -3 -10 14 -25z"/>
                </g>
                <g id="layer110" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m838 548 l3 -108 -56 0 -55 0 0 111 0 110 53 -3 52 -3 3 -107z m-274 -49 c26 -33 49 -66 52 -73 2 -7 -14 -21 -38 -32 l-43 -21 -52 70 c-29 39 -53 72 -53 74 0 3 73 42 81 43 3 0 27 -27 53 -61z m531 41 l46 -20 -32 -44 c-17 -25 -43 -58 -58 -74 l-26 -29 -42 22 -42 22 52 71 c29 39 53 71 54 72 1 0 22 -9 48 -20z m-652 -261 l-24 -37 -56 24 c-30 14 -73 34 -94 44 l-39 20 28 39 27 38 91 -45 92 -46 -25 -37z m492 92 c99 -44 163 -106 181 -175 6 -26 7 -26 100 -26 l94 0 0 -40 0 -40 -525 0 -525 0 0 40 0 39 93 3 c83 3 92 5 95 23 5 32 54 97 100 132 97 74 275 94 387 44z m373 -1 c12 -16 22 -32 22 -34 0 -7 -181 -99 -184 -94 -2 2 -12 19 -24 39 l-22 37 82 40 c46 22 88 41 94 41 5 1 20 -12 32 -29z m-898 -310 c0 -5 -11 -10 -25 -10 l-25 0 0 -100 0 -100 30 0 c23 0 30 5 30 19 0 11 3 26 6 35 11 29 24 16 24 -24 l0 -40 -100 0 -100 0 0 41 c0 24 4 38 10 34 6 -3 10 -19 10 -36 0 -26 3 -29 30 -29 l30 0 0 100 c0 80 -3 100 -14 100 -8 0 -18 5 -21 10 -4 6 17 10 54 10 34 0 61 -4 61 -10z m150 0 c0 -5 -7 -10 -15 -10 -11 0 -15 -12 -15 -45 0 -38 3 -45 19 -45 22 0 52 34 71 80 9 21 19 30 36 30 13 0 24 -4 24 -10 0 -5 -4 -10 -9 -10 -5 0 -21 -20 -35 -45 l-27 -44 21 -21 c20 -20 26 -55 12 -77 -14 -23 -65 -34 -117 -27 -27 4 -44 9 -37 11 15 6 18 203 2 203 -5 0 -10 5 -10 10 0 6 18 10 40 10 22 0 40 -4 40 -10z m293 -10 c33 -26 50 -80 42 -129 -11 -66 -68 -102 -129 -81 -112 37 -91 230 24 230 22 0 48 -8 63 -20z m226 5 c58 -30 79 -138 36 -185 -27 -30 -79 -43 -138 -34 -29 4 -46 9 -39 11 15 6 18 203 2 203 -5 0 -10 5 -10 10 0 15 117 12 149 -5z m263 -10 c6 -31 -8 -43 -17 -15 -5 16 -15 20 -56 20 l-49 0 0 -45 c0 -43 1 -45 30 -45 17 0 30 5 30 10 0 6 5 10 10 10 6 0 10 -17 10 -37 -1 -34 -2 -36 -14 -20 -7 9 -25 17 -40 17 -24 0 -26 -3 -26 -45 l0 -45 40 0 c27 0 43 5 46 15 9 22 24 18 24 -5 0 -18 -6 -20 -82 -19 -46 0 -77 3 -70 6 15 6 17 203 2 203 -5 0 -10 5 -10 10 0 6 35 10 84 10 82 0 84 -1 88 -25z m-2 -280 c1 -5 -8 -11 -20 -13 -18 -3 -20 -11 -20 -73 0 -59 3 -69 18 -69 9 0 -5 -14 -33 -30 -27 -16 -60 -30 -72 -30 -35 0 -27 -18 9 -22 30 -3 27 -7 -94 -100 -70 -54 -135 -98 -146 -98 -10 0 -57 29 -103 65 -46 36 -86 65 -89 65 -3 0 -44 -29 -90 -65 -47 -36 -94 -65 -105 -65 -11 0 -76 44 -145 98 -121 94 -124 97 -92 100 33 3 36 22 3 22 -20 0 -107 46 -116 61 -4 5 3 9 14 9 19 0 21 6 21 65 0 58 -2 65 -19 65 -21 0 -34 13 -24 24 11 11 1103 2 1103 -9z"/>
                <path d="M708 996 c-77 -21 -158 -90 -158 -135 0 -8 71 -11 235 -11 129 0 235 3 235 8 0 19 -44 75 -80 101 -39 28 -116 52 -163 50 -12 0 -43 -6 -69 -13z"/>
                <path d="M530 580 l0 -50 35 0 c29 0 37 5 46 26 14 38 -11 74 -51 74 -29 0 -30 -1 -30 -50z"/>
                <path d="M755 715 c-19 -18 -25 -35 -25 -68 0 -63 17 -106 45 -113 58 -15 85 18 85 104 0 43 -5 58 -25 77 -13 14 -31 25 -40 25 -9 0 -27 -11 -40 -25z"/>
                <path d="M997 734 c-4 -4 -7 -52 -7 -106 l0 -98 30 0 c19 0 40 9 55 25 34 33 35 112 3 149 -24 26 -68 43 -81 30z"/>
                <path d="M330 376 c0 -64 21 -86 80 -86 59 0 80 22 80 86 l0 54 -80 0 -80 0 0 -54z"/>
                <path d="M500 375 c0 -50 2 -56 30 -70 35 -18 70 -19 105 -3 23 10 25 17 25 70 l0 58 -80 0 -80 0 0 -55z"/>
                <path d="M682 373 c3 -54 5 -58 28 -58 23 0 25 4 28 58 l3 57 -31 0 -31 0 3 -57z"/>
                <path d="M762 373 c3 -54 5 -58 28 -58 23 0 25 4 28 58 l3 57 -31 0 -31 0 3 -57z"/>
                <path d="M830 376 c0 -44 3 -56 19 -61 38 -12 51 4 51 61 l0 54 -35 0 -35 0 0 -54z"/>
                <path d="M910 376 c0 -64 21 -86 80 -86 59 0 80 22 80 86 l0 54 -80 0 -80 0 0 -54z"/>
                <path d="M1090 376 c0 -64 21 -86 80 -86 59 0 80 22 80 86 l0 54 -80 0 -80 0 0 -54z"/>
                <path d="M475 135 c38 -30 43 -31 80 0 21 17 25 24 14 25 -9 0 -22 -7 -29 -15 -7 -8 -18 -15 -25 -15 -7 0 -18 7 -25 15 -7 8 -20 15 -29 15 -11 0 -7 -8 14 -25z"/>
                <path d="M635 135 c38 -30 43 -31 80 0 21 17 25 24 14 25 -9 0 -22 -7 -29 -15 -7 -8 -18 -15 -25 -15 -7 0 -18 7 -25 15 -7 8 -20 15 -29 15 -11 0 -7 -8 14 -25z"/>
                <path d="M865 135 c37 -31 40 -31 77 0 33 28 21 34 -17 9 -22 -14 -26 -14 -47 0 -36 25 -46 18 -13 -9z"/>
                <path d="M1025 135 c37 -31 40 -31 77 0 33 28 21 34 -17 9 -22 -14 -26 -14 -47 0 -36 25 -46 18 -13 -9z"/>
                </g>
                <g id="layer111" fill="#000000" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m838 548 l3 -108 -56 0 -55 0 0 111 0 110 53 -3 52 -3 3 -107z m-297 -19 c13 -17 29 -36 34 -42 6 -7 21 -25 33 -42 l23 -29 -48 -21 -48 -21 -35 45 c-41 55 -51 67 -68 86 -12 13 -7 18 30 34 56 25 52 26 79 -10z m554 11 c52 -22 53 -17 -14 -105 -24 -33 -46 -62 -47 -64 -2 -2 -40 16 -92 45 -3 2 100 144 104 144 1 0 23 -9 49 -20z m-648 -211 c24 -9 24 -9 6 -40 -31 -52 -34 -52 -131 -4 -68 33 -90 49 -86 60 4 8 9 15 13 15 4 0 13 11 19 25 l12 25 71 -35 c39 -20 82 -40 96 -46z m505 37 c75 -36 121 -79 153 -143 l26 -53 90 0 89 0 0 -40 0 -40 -525 0 -525 0 0 40 0 40 90 0 c78 0 91 3 96 18 19 59 78 133 128 159 80 42 130 53 226 50 79 -3 104 -8 152 -31z m363 -1 l26 -36 -97 -45 c-104 -48 -99 -48 -130 9 l-15 28 83 39 c46 22 88 40 94 40 7 0 24 -16 39 -35z m-905 -305 c0 -5 -11 -10 -25 -10 l-25 0 0 -100 0 -100 30 0 c23 0 30 5 30 19 0 26 10 51 21 51 5 0 9 -19 9 -42 l0 -43 -99 3 -99 3 -7 36 c-3 19 -4 38 0 41 10 10 25 -13 27 -41 2 -22 7 -27 30 -27 l28 0 0 100 c0 80 -3 100 -14 100 -8 0 -18 5 -21 10 -4 6 17 10 54 10 34 0 61 -4 61 -10z m155 0 c-3 -5 -13 -10 -21 -10 -10 0 -14 -12 -14 -45 0 -38 3 -45 19 -45 22 0 52 34 71 80 9 21 19 30 36 30 13 0 24 -4 24 -10 0 -5 -3 -10 -7 -10 -5 0 -21 -20 -36 -44 l-28 -45 20 -20 c29 -29 28 -77 -1 -93 -32 -17 -47 -19 -101 -12 -35 4 -46 9 -38 17 6 6 11 50 11 104 0 78 -3 93 -16 93 -8 0 -12 5 -9 10 3 6 26 10 51 10 28 0 43 -4 39 -10z m300 -20 c24 -25 30 -40 31 -83 3 -90 -42 -136 -120 -122 -60 12 -92 72 -80 149 14 86 110 117 169 56z m223 14 c49 -34 68 -126 36 -172 -22 -33 -67 -52 -116 -51 -45 1 -108 16 -75 18 15 1 17 13 17 101 0 82 -3 100 -15 100 -8 0 -15 5 -15 10 0 17 142 12 168 -6z m257 -4 c10 -31 -5 -45 -22 -21 -10 15 -25 21 -53 21 -38 0 -38 0 -42 -45 -3 -43 -2 -45 24 -45 18 0 28 5 28 15 0 8 5 15 10 15 6 0 10 -19 10 -42 -1 -38 -2 -41 -14 -25 -7 9 -23 17 -35 17 -18 0 -21 -6 -21 -45 0 -44 0 -45 34 -45 23 0 38 7 50 23 l16 22 -2 -30 -3 -30 -74 -3 c-42 -2 -79 2 -85 8 -7 7 -5 10 7 10 15 0 17 12 17 96 0 80 -3 99 -17 110 -15 11 -5 13 74 14 83 0 92 -2 98 -20z m3 -282 c-3 -7 -14 -14 -26 -16 -20 -3 -22 -9 -22 -67 0 -58 2 -64 23 -67 19 -3 14 -8 -31 -35 -29 -18 -61 -33 -72 -33 -10 0 -22 -4 -25 -10 -4 -6 7 -10 27 -10 l33 -1 -35 -29 c-97 -83 -219 -170 -236 -170 -16 0 -93 47 -114 70 -3 3 -22 18 -43 33 -33 25 -40 27 -56 15 -80 -58 -137 -103 -139 -110 -10 -23 -63 -5 -123 43 -35 28 -71 56 -79 62 -8 7 -35 28 -60 47 l-44 35 29 6 c27 5 28 7 10 13 -35 13 -99 48 -115 62 -12 12 -11 14 8 14 20 0 22 5 22 65 0 58 -2 65 -19 65 -21 0 -34 13 -24 24 3 3 256 6 561 6 438 0 553 -3 550 -12z"/>
                <path d="M691 987 c-30 -10 -66 -28 -80 -39 -24 -18 -60 -72 -61 -90 0 -5 105 -8 234 -8 l234 0 -6 22 c-8 31 -86 105 -126 118 -55 18 -137 17 -195 -3z"/>
                <path d="M530 580 l0 -50 33 0 c27 0 36 6 46 26 17 37 -8 74 -49 74 -29 0 -30 -1 -30 -50z"/>
                <path d="M747 707 c-22 -34 -18 -129 7 -156 22 -25 61 -27 83 -6 24 24 29 126 8 158 -23 36 -76 38 -98 4z"/>
                <path d="M330 376 c0 -63 12 -76 74 -83 61 -7 86 18 86 87 l0 50 -80 0 -80 0 0 -54z"/>
                <path d="M500 374 c0 -54 1 -55 37 -70 38 -16 85 -13 110 7 8 7 13 32 13 65 l0 54 -80 0 -80 0 0 -56z"/>
                <path d="M682 373 c3 -59 4 -60 48 -54 6 0 10 26 10 56 0 55 0 55 -30 55 l-31 0 3 -57z"/>
                <path d="M760 375 c0 -30 5 -56 10 -56 44 -6 45 -5 48 54 l3 57 -31 0 c-30 0 -30 0 -30 -55z"/>
                <path d="M830 376 c0 -43 4 -55 18 -58 34 -9 42 2 42 58 0 53 0 54 -30 54 -30 0 -30 -1 -30 -54z"/>
                <path d="M920 370 c0 -70 17 -86 82 -77 57 8 68 21 68 83 l0 54 -75 0 -75 0 0 -60z"/>
                <path d="M450 156 c0 -2 16 -14 35 -26 31 -19 38 -20 53 -8 34 26 44 38 32 38 -6 0 -20 -9 -32 -20 -21 -19 -21 -19 -46 0 -23 19 -42 26 -42 16z"/>
                <path d="M610 156 c0 -2 16 -14 35 -26 37 -23 41 -22 83 18 11 10 11 12 -1 12 -8 0 -22 -9 -32 -20 l-18 -20 -22 20 c-19 18 -45 27 -45 16z"/>
                <path d="M865 135 c37 -30 36 -30 69 -4 34 26 27 37 -8 14 -24 -16 -28 -16 -51 -1 -37 24 -44 19 -10 -9z"/>
                <path d="M1025 135 c37 -30 36 -30 69 -4 34 26 27 37 -8 14 -24 -16 -28 -16 -51 -1 -37 24 -44 19 -10 -9z"/>
                </g>
                <g id="layer112" fill="#ffffff" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m840 550 l0 -110 -55 0 -55 0 0 110 0 110 55 0 55 0 0 -110z m-262 -65 l53 -68 -48 -23 c-26 -13 -50 -20 -54 -16 -3 4 -29 37 -58 75 l-53 67 44 19 c23 11 48 18 53 17 6 -1 34 -33 63 -71z m523 55 c44 -23 45 -19 -20 -105 -24 -33 -46 -62 -47 -64 -2 -2 -40 16 -92 45 -6 4 102 144 111 144 4 0 26 -9 48 -20z m-654 -211 c24 -9 24 -9 6 -40 -10 -17 -23 -35 -30 -40 -16 -14 -197 77 -187 94 4 7 17 24 27 39 l20 27 69 -35 c39 -19 81 -39 95 -45z m503 40 c76 -35 124 -80 156 -145 l26 -54 89 0 89 0 0 -40 0 -40 -530 0 -530 0 0 40 0 40 94 0 94 0 12 34 c15 47 84 122 134 148 76 39 117 48 216 45 77 -2 106 -8 150 -28z m365 -4 l26 -36 -97 -45 c-53 -24 -98 -43 -99 -42 -1 2 -11 17 -23 35 -12 17 -22 34 -22 38 0 7 160 84 176 85 7 0 24 -16 39 -35z m-905 -305 c0 -5 -9 -10 -20 -10 -19 0 -20 -7 -20 -100 l0 -100 25 0 c18 0 25 5 25 19 0 26 10 51 21 51 5 0 9 -20 9 -45 l0 -45 -100 0 c-78 0 -100 3 -100 14 0 7 -3 28 -6 45 -5 24 -3 31 10 31 9 0 16 -8 16 -19 0 -35 12 -51 36 -51 24 0 24 1 24 100 0 93 -1 100 -20 100 -11 0 -20 5 -20 10 0 6 27 10 60 10 33 0 60 -4 60 -10z m155 0 c-3 -5 -13 -10 -21 -10 -10 0 -14 -12 -14 -40 0 -36 3 -40 25 -40 20 0 30 10 50 50 20 40 30 50 50 50 24 0 35 -15 16 -22 -4 -1 -19 -21 -33 -43 -25 -40 -25 -41 -7 -64 11 -13 19 -36 19 -52 0 -41 -32 -59 -107 -59 -60 0 -89 12 -58 24 22 8 22 196 0 196 -8 0 -15 5 -15 10 0 6 23 10 51 10 31 0 48 -4 44 -10z m300 -20 c56 -59 42 -172 -25 -200 -98 -41 -181 66 -136 174 17 42 39 55 92 56 32 0 46 -6 69 -30z m223 14 c58 -40 70 -134 23 -186 -26 -30 -35 -33 -101 -36 -45 -3 -76 0 -83 7 -8 8 -7 11 6 11 15 0 17 13 17 100 0 82 -3 100 -15 100 -8 0 -15 5 -15 10 0 17 142 12 168 -6z m258 -9 c9 -35 -5 -45 -23 -17 -12 16 -25 22 -53 22 -38 0 -38 0 -42 -45 -3 -43 -2 -45 24 -45 18 0 28 5 28 15 0 8 5 15 10 15 6 0 10 -18 10 -40 0 -22 -4 -40 -10 -40 -5 0 -10 7 -10 15 0 9 -9 15 -25 15 -23 0 -25 -4 -25 -45 0 -44 0 -45 34 -45 23 0 38 7 50 23 l16 22 -2 -30 -3 -30 -74 -3 c-42 -2 -79 2 -85 8 -7 7 -5 10 7 10 15 0 17 12 17 96 0 80 -3 99 -17 110 -15 11 -5 13 74 14 91 0 93 0 99 -25z m2 -277 c-3 -7 -14 -14 -26 -16 -20 -3 -22 -9 -22 -67 0 -58 2 -64 23 -67 19 -3 14 -8 -31 -35 -29 -18 -61 -33 -72 -33 -33 0 -32 -19 2 -22 32 -3 30 -6 -92 -100 -74 -58 -134 -98 -148 -98 -12 0 -60 29 -108 66 l-85 66 -75 -58 c-41 -32 -77 -61 -80 -66 -3 -4 -18 -8 -33 -8 -20 0 -61 26 -144 90 -63 49 -118 94 -122 100 -4 6 5 10 20 10 15 0 24 4 20 10 -3 6 -14 10 -23 10 -9 0 -39 15 -67 32 -43 28 -47 33 -27 36 20 3 22 9 22 68 0 62 -1 64 -25 64 -16 0 -25 6 -25 15 0 13 69 15 561 15 444 0 560 -3 557 -12z"/>
                <path d="M670 979 c-25 -11 -56 -30 -68 -42 -22 -20 -52 -68 -52 -82 0 -3 106 -5 235 -5 219 0 234 1 228 18 -14 39 -55 81 -105 106 -67 34 -170 36 -238 5z"/>
                <path d="M530 580 c0 -48 1 -50 28 -50 35 0 52 16 52 50 0 34 -17 50 -52 50 -27 0 -28 -2 -28 -50z"/>
                <path d="M743 693 c-41 -98 31 -210 92 -143 25 28 31 109 11 148 -14 27 -22 32 -52 32 -31 0 -37 -4 -51 -37z"/>
                <path d="M990 630 l0 -100 30 0 c20 0 40 9 57 26 22 23 25 32 21 80 -6 66 -28 94 -75 94 l-33 0 0 -100z"/>
                <path d="M330 376 c0 -57 8 -70 53 -81 66 -17 107 16 107 86 l0 49 -80 0 -80 0 0 -54z"/>
                <path d="M510 376 c0 -65 15 -81 75 -81 60 0 75 16 75 81 l0 54 -75 0 -75 0 0 -54z"/>
                <path d="M680 376 c0 -43 4 -55 18 -58 34 -9 42 2 42 58 0 53 0 54 -30 54 -30 0 -30 -1 -30 -54z"/>
                <path d="M920 371 c0 -56 1 -59 30 -71 32 -13 84 -8 107 11 8 7 13 32 13 65 l0 54 -75 0 -75 0 0 -59z"/>
                <path d="M1090 375 c0 -50 2 -56 30 -70 16 -8 38 -15 50 -15 12 0 34 7 50 15 28 14 30 20 30 70 l0 55 -80 0 -80 0 0 -55z"/>
                <path d="M480 135 c19 -14 36 -25 38 -25 2 0 17 11 34 25 34 29 25 34 -12 6 -24 -19 -25 -19 -48 0 -14 10 -29 19 -35 19 -6 0 4 -11 23 -25z"/>
                <path d="M640 135 c19 -14 36 -25 38 -25 2 0 17 11 34 25 35 29 22 34 -14 5 -25 -19 -26 -19 -43 0 -10 11 -25 20 -33 20 -9 0 -2 -11 18 -25z"/>
                <path d="M865 136 c17 -14 33 -25 36 -26 11 0 60 42 55 48 -3 3 -15 -3 -26 -13 -18 -16 -23 -17 -48 -4 -45 23 -48 22 -17 -5z"/>
                <path d="M1025 136 c17 -14 33 -25 36 -26 11 0 60 42 55 48 -3 3 -15 -3 -26 -13 -18 -16 -23 -17 -48 -4 -45 23 -48 22 -17 -5z"/>
                </g>
                <g id="layer113" fill="#ffffff" stroke="none">
                <path d="M0 680 l0 -680 810 0 810 0 0 680 0 680 -810 0 -810 0 0 -680z m840 550 l0 -110 -55 0 -55 0 0 110 0 110 55 0 55 0 0 -110z m-265 -56 c31 -42 55 -77 53 -79 -1 -1 -23 -13 -48 -25 l-44 -23 -27 32 c-15 18 -41 52 -58 76 l-32 44 48 25 c26 14 49 25 49 26 1 0 27 -34 59 -76z m525 50 c22 -9 40 -21 40 -26 0 -5 -21 -37 -47 -71 -27 -33 -51 -65 -54 -70 -5 -8 -51 11 -98 40 -6 4 100 143 110 143 5 0 27 -7 49 -16z m-720 -179 c50 -26 90 -49 88 -53 -13 -27 -44 -72 -50 -72 -11 0 -177 81 -182 89 -5 7 40 81 49 81 2 0 45 -20 95 -45z m464 35 c122 -18 247 -106 276 -196 l12 -34 89 0 89 0 0 -40 0 -40 -530 0 -530 0 0 40 0 40 93 0 92 0 19 45 c37 90 141 165 256 184 30 5 57 9 60 10 3 0 36 -4 74 -9z m469 -30 l28 -39 -91 -46 c-51 -25 -96 -45 -100 -43 -5 2 -20 19 -33 38 l-24 35 91 47 c50 26 93 47 96 47 3 0 18 -17 33 -39z m-485 -301 c63 -22 92 -121 57 -189 -40 -76 -150 -65 -185 20 -26 63 2 149 55 171 28 11 37 11 73 -2z m-418 -9 c0 -5 -9 -10 -20 -10 -19 0 -20 -7 -20 -99 l0 -98 24 4 c17 4 26 14 30 34 9 45 26 34 26 -16 l0 -45 -99 0 c-108 0 -111 2 -111 61 0 38 26 38 33 0 4 -20 13 -30 31 -33 l26 -5 0 98 c0 92 -1 99 -20 99 -11 0 -20 5 -20 10 0 6 27 10 60 10 33 0 60 -4 60 -10z m160 0 c0 -5 -7 -10 -15 -10 -11 0 -15 -11 -15 -40 0 -33 3 -40 20 -40 14 0 27 15 45 50 20 40 30 50 50 50 14 0 25 -2 25 -5 0 -3 -15 -27 -34 -54 -34 -48 -34 -49 -15 -67 11 -10 19 -30 19 -50 0 -48 -29 -64 -112 -64 -64 0 -87 10 -53 24 22 8 22 196 0 196 -8 0 -15 5 -15 10 0 6 23 10 50 10 28 0 50 -4 50 -10z m530 -17 c34 -31 47 -80 36 -138 -10 -53 -52 -75 -143 -75 -68 0 -93 10 -58 24 22 8 22 196 0 196 -8 0 -15 5 -15 10 0 6 32 10 75 10 67 0 78 -3 105 -27z m248 -5 c4 -33 -23 -40 -31 -8 -4 16 -14 20 -45 20 l-40 0 -4 -45 c-3 -43 -2 -45 24 -45 18 0 28 5 28 15 0 8 5 15 10 15 6 0 10 -18 10 -40 0 -40 -13 -53 -24 -25 -3 8 -15 15 -26 15 -17 0 -20 -6 -20 -45 0 -41 2 -45 25 -45 14 0 34 9 45 20 27 27 30 25 30 -10 l0 -30 -85 0 c-78 0 -107 10 -70 24 22 8 22 196 0 196 -8 0 -15 5 -15 10 0 7 33 10 93 8 l92 -3 3 -27z m2 -273 c0 -9 -9 -15 -25 -15 -24 0 -25 -2 -25 -65 0 -59 2 -65 21 -65 11 0 17 -5 14 -10 -12 -19 -107 -68 -121 -63 -8 3 -14 0 -14 -6 0 -6 11 -11 25 -11 14 0 25 -3 25 -7 -2 -18 -243 -193 -266 -193 -14 0 -59 26 -109 65 l-86 65 -82 -65 c-94 -74 -121 -80 -173 -37 -18 15 -73 59 -123 97 l-89 70 32 6 c33 7 33 8 -2 15 -13 2 -45 19 -70 37 -41 28 -44 32 -24 35 20 3 22 9 22 68 0 62 -1 64 -25 64 -16 0 -25 6 -25 15 0 13 69 15 560 15 491 0 560 -2 560 -15z"/>
                <path d="M700 991 c-52 -16 -91 -43 -120 -83 -17 -22 -30 -45 -30 -50 0 -4 104 -8 230 -8 248 0 247 0 212 52 -24 37 -63 66 -113 83 -44 16 -137 19 -179 6z"/>
                <path d="M754 709 c-14 -16 -19 -36 -19 -81 1 -51 4 -63 24 -79 29 -24 53 -24 74 -1 34 37 34 134 1 167 -22 21 -58 19 -80 -6z"/>
                <path d="M540 580 c0 -53 10 -61 51 -40 26 14 26 66 0 80 -41 21 -51 13 -51 -40z"/>
                <path d="M990 630 c0 -92 2 -100 19 -100 63 0 98 49 88 123 -7 49 -35 77 -78 77 l-29 0 0 -100z"/>
                <path d="M332 373 c3 -58 3 -58 44 -72 34 -12 44 -12 70 0 26 13 29 19 32 72 l3 57 -76 0 -76 0 3 -57z"/>
                <path d="M512 373 c3 -56 4 -58 41 -72 34 -13 42 -12 73 2 33 16 34 19 34 72 l0 55 -75 0 -76 0 3 -57z"/>
                <path d="M690 376 c0 -53 10 -68 38 -59 7 3 12 24 12 59 0 51 -1 54 -25 54 -24 0 -25 -3 -25 -54z"/>
                <path d="M760 376 c0 -56 8 -67 43 -58 13 3 17 15 17 58 0 53 0 54 -30 54 -30 0 -30 -1 -30 -54z"/>
                <path d="M840 376 c0 -53 10 -68 38 -59 7 3 12 24 12 59 0 51 -1 54 -25 54 -24 0 -25 -3 -25 -54z"/>
                <path d="M922 373 c3 -53 6 -59 32 -72 26 -12 36 -12 70 0 41 14 41 14 44 72 l3 57 -76 0 -76 0 3 -57z"/>
                <path d="M1090 376 c0 -51 2 -54 34 -70 42 -20 50 -20 92 0 32 16 34 19 34 70 l0 54 -80 0 -80 0 0 -54z"/>
                <path d="M480 210 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M520 210 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M640 210 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M680 210 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M870 210 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M910 210 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M1040 210 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M1080 210 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M480 180 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M520 180 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M640 180 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M680 180 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M870 180 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M910 180 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M1040 180 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M1080 180 c0 -5 7 -10 15 -10 8 0 15 5 15 10 0 6 -7 10 -15 10 -8 0 -15 -4 -15 -10z"/>
                <path d="M469 147 c28 -35 46 -38 82 -12 18 14 29 25 25 25 -4 0 -19 -9 -33 -20 l-25 -20 -32 22 c-23 17 -27 18 -17 5z"/>
                <path d="M640 135 c19 -14 34 -25 35 -25 1 0 16 11 35 25 19 14 30 25 26 25 -4 0 -20 -9 -36 -20 -27 -19 -27 -19 -45 0 -10 11 -25 20 -33 20 -9 0 -2 -11 18 -25z"/>
                <path d="M869 134 l30 -25 31 22 c16 13 30 24 30 26 0 6 -22 -7 -41 -24 -14 -11 -20 -10 -42 7 -37 29 -44 25 -8 -6z"/>
                <path d="M1029 134 l31 -26 30 22 c16 12 30 24 30 26 0 6 -20 -5 -41 -23 -14 -11 -20 -10 -42 7 -37 29 -44 25 -8 -6z"/>
                </g>
                <g id="layer114" fill="#ffffff" stroke="none">
                <path d="M2 678 l-2 -678 288 2 287 3 -282 2 -283 3 -3 673 -2 672 -3 -677z"/>
                <path d="M1183 3 c76 -2 198 -2 270 0 73 1 11 3 -138 3 -148 0 -208 -2 -132 -3z"/>
                </g>
                </svg> &nbsp; <span style="font-size: 80px;font-family: 'Caveat';font-weight: 600;" class="logo1">TroDe</span>
            <h2 style="font-weight: 600;">TÌM KIẾM PHÒNG TRỌ DỄ DÀNG</h2>
            <br>
            <div>
                <span class="gioi-thieu">Đồng hành cùng chúng tôi, bạn sẽ dễ dàng hơn trong việc tìm kiếm phòng trọ. Với TroDe việc đặt lịch xem phòng trở nên nhanh chóng, thuận tiện và dễ dàng. Đặc biết giúp các bạn tân sinh viên không còn khó khăn trong việc tìm phòng.
                </span>
            </div>
            <br>
            <div>
                <span class="gioi-thieu1">TroDe luôn cố gắng đem lại trải nghiệm tốt nhất với người dùng. Do đó, nếu như bạn gặp bất kỳ lỗi nào khi sử dụng TroDe hãy cho chúng tôi biết bằng cách liên hệ:<strong>trodehn@gmail.com</strong>.
                </span>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608028874/Untitled_womjtt.png" style="max-width: 100%;height: auto;">
        </div>
    </div>
</div>