<div class="row">
    <div class="col-sm-3">
        <div style="background-color:#f6f6f6!important;width: 100%;height: 230px;border-radius: 5px;">
            <div class="ava" style="display: table;margin: 0 auto;padding-top: 20px;">
                <%if(userData[0].dataValues.avatar_path != undefined) {%>
                        <img src=<%=userData[0].dataValues.avatar_path%> id="ava" style="width:80px;height: 80px;border-radius: 50%;;">
                        <%}else {%> 
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;width:60px;height:60px;" xml:space="preserve"><g><g><g><path d="M256,0C114.615,0,0,114.615,0,256s114.615,256,256,256s256-114.615,256-256S397.385,0,256,0z M256,480     C132.288,480,32,379.712,32,256S132.288,32,256,32s224,100.288,224,224S379.712,480,256,480z"/><circle cx="176" cy="176" r="32"/><circle cx="336" cy="176" r="32"/><rect x="144" y="304" width="224" height="32"/></g></g></g></svg>
                        <%}%>
            </div>
            <div class="ten-user">
                <%=userData[0].dataValues.ho_va_ten%>
            </div>
            <div class="dia-chi">
                <%=userData[0].dataValues.dia_chi%>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div>
            <h1 style="font-size: 20px;font-weight: 900;">(Số lượng) bài đăng</h1>
        </div>
        <br>
        <div class="row">
            <%- include("template/content-room-hosts"); -%>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('.items').slick({
            infinite: false,
            lazyLoad: 'ondemand',
            slidesToShow: 5,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 990,
                settings: {
                    slidesToShow: 3
                }
            }]
        });
        $('.wrap-content2-items').slick({
            infinite: false,
            lazyLoad: 'ondemand',
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 990,
                settings: {
                    slidesToShow: 2
                }
            }]
        });
        $('.img-link').lazy({
            delay: 250,
            placeholder: "data:image/gif;base64,https://res.cloudinary.com/dt6qnb0hs/image/upload/v1606789819/photo-lazy_dwd9hw.jpg",
        });

        $('.lazy').lazy({
            asyncLoader: function(element) {
                setTimeout(function() {
                    element.load()
                }, 250);
            }
        })
    });
</script>