<div class="container" id="profile-content">
    <div class="row">
        <div class="col-md-12">
            <h2 style="margin-bottom: -20px;margin-top: -15px;"><b>Danh sách các bài đã đăng</b></h2>
            <br><br>
            <div class="content">
                <%- include("template/general-list-host"); -%>
            </div>
        </div>

    </div>
</div>
</div>