<footer class="container-fluid" id="footer1" style="padding: 24px 15px;background: #fff;letter-spacing: .23px;border-top: 1px solid #f2f2f2;font-weight: 500;font-size: 16px;text-align: center;margin-top: 80px;color: #999;">
    Copyright © 2020 TroDe
</footer>
</body>