<body>
    <div class="header-wrap">
        <div class="header">
            <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" id="nav-bar" style="border-bottom: 1px solid #f2f2f2;">
                <div class="container">
                    <div class="navbar-header" style="padding: 6px 0px 0px;">
                        <b><a class="navbar-brand" href="/" id="logo">TroDe</a></b>
                        <div class="nav navbar-nav " id="navsearch" style="margin-left: 20px;">
                            <form action = "/" method = "post" class="form-inline flex-nowrap bg-light">
                                <input class="form-control " id="search-new" name="search" placeholder="Tìm kiếm nơi mà bạn muốn ... " autocomplete="on " type="text">
                                <button class="btn btn-outline-success" id="btserach" type="submit"><i class="fas fa-search" style="color: white;"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="menu-info">
                        <span><a href = "/signup" id = "a-info">Đăng ký&nbsp;&nbsp;&nbsp;&nbsp;</a></span>
                        <span><a href = "/login" id = "a-info">Đăng nhập</a></span>
                    </div>
                </div>
            </nav>
        </div>
    </div>