<div class="container wrap-content">
    <div class="admin-post">
        <img src="" style="width:100%; height:230px;border-radius: 6px;display: none;">
    </div>
    <%- include("template/greeting"); -%>
        <div class="service-content-wrap">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="float: left;margin-top: 40px;">
                        <div class="servie">
                            <a href="content-user" style="text-decoration: none;">
                                <div class="div-img">
                                    <img class="imgServie" src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604420842/z1171289147434-8ae040a53e75d95baed0e604c8f395bb_dyni5p.jpg">
                                </div>
                                <div class="servie-info">
                                    <div class="servie-title">Chung cư</div>
                                    <div class="servie-content">Các căn hộ chung cư cho thuê.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4" style="margin-top: 40px;">
                        <div class="servie">
                            <a href="#" style="text-decoration: none;">
                                <div class="div-img">
                                    <img class="imgServie" src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604423343/1563780097_cedgmi.jpg">
                                </div>
                                <div class="servie-info">
                                    <div class="servie-title">Phòng trọ</div>
                                    <div class="servie-content">Các phòng trọ cho thuê.</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="wrap-content1" style="margin-top: 50px;">
            <div class="greeting">
                <h3>Các quận ở Hà Nội</h3>
                <div>Cùng TroDe bắt đầu tìm kiếm các phòng trọ, chung cư ở khắp Hà Nội.</div>
            </div>
            <div class="items">
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604424596/location_1_1559734709_qgppcu.png">
                        <div id="text-item">Quận Ba Đình</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604457941/Capture_gs0alo.png">
                        <div id="text-item">Quận Bắc Từ Liêm</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604458086/Capture_sov2ak.png">
                        <div id="text-item">Quận Cầu Giấy</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604458223/Capture_z7ocyr.png">
                        <div id="text-item">Quận Đống Đa</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604458651/Capture_dgc057.png">
                        <div id="text-item">Quận Hà Đông</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604458883/Capture_zhjpyg.png">
                        <div id="text-item">Quận Hai Bà Trưng</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459028/Capture_ub8ed7.png">
                        <div id="text-item">Quận Hoàng Mai</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459145/Capture_uyjk3f.png">
                        <div id="text-item">Quận Hoàn Kiếm</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459339/Capture_q2dz3y.png">
                        <div id="text-item">Quận Long Biên</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459398/Capture_j2txsg.png">
                        <div id="text-item">Quận Nam Từ Liêm</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459526/hoang-hon-tay-h-goc-kinh_hf9kmd.jpg">
                        <div id="text-item">Quận Tây Hồ</div>
                    </a>
                </div>
                <div class="item-content">
                    <a href="#">
                        <img id="wrap-content1-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604459645/Capture_slhrmj.png">
                        <div id="text-item">Quận Thanh Xuân</div>
                    </a>
                </div>
            </div>
        </div>

        <div class="wrap-content2" style="margin-top: 50px;">
            <div class="greeting">
                <h3>Chung cư ở Hà Nội</h3>
                <div>Tìm kiếm các căn hộ chung cư cho thuê ở Hà Nội.</div>
            </div>
            <div class="wrap-content2-items">
                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604463066/4-15197864713602040617876_f7lctn.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Căn hộ chung cư cho một người !</div>
                            <div id="wrap-content2-item-info-content">Những căn hộ chung cư nhỏ có diện tích phù hợp cho những người ở một mình.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604463539/71954145_535965997220879_5830462119144849408_n_uiaig4.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Căn hộ chung cư cho hai người !</div>
                            <div id="wrap-content2-item-info-content">Những căn hộ chung cư có diện tích phù hợp cho khoảng hai người ở.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604463201/76722780_554444925372986_3993551103961595904_n_1_muvmnp.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Căn hộ chung cư cho ba người !</div>
                            <div id="wrap-content2-item-info-content">Những căn hộ chung cư có diện tích phù hợp cho khoảng ba người ở.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604463736/N%E1%BB%99i-th%E1%BA%A5t-chung-c%C6%B0-cao-c%E1%BA%A5p-e1519962653509_yvndrf.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Căn hộ chung cư cho bốn người !</div>
                            <div id="wrap-content2-item-info-content">Những căn hộ chung cư có diện tích phù hợp cho khoảng bốn người ở.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604464142/chothue_chungcu_HN_3.20160815145545-1e8d_dlxzpn.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Chung cư giá rẻ !</div>
                            <div id="wrap-content2-item-info-content">Những căn hộ chung cư có giá cho thuê trong khoảng từ 2-4 triệu đồng.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604464717/thue-chung-cu-gia-4-trieu-ha-noi-o-khu-vuc-nao-tot-2_xhb0qs.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Chung cư giá cho các bạn ở nhóm !</div>
                            <div id="wrap-content2-item-info-content">Những căn hộ chung cư có giá cho thuê trong khoảng từ 4-7 triệu đồng.</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <div class="wrap-content2" style="margin-top: -30px;">
            <div class="greeting">
                <h3>Phòng trọ ở Hà Nội</h3>
                <div>Tìm kiếm các phòng trọ ở Hà Nội.</div>
            </div>
            <div class="wrap-content2-items">
                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604464967/tim-thue-nha-tro-duoi-1-trieu-tai-ha-noi-danh-cho-sinh-vien-3_tfrlh9.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Phòng trọ dành cho một người !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ nhỏ có diện tích phù hợp cho những người ở một mình.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604465097/thiet-ke-phong-tro-2_i5hzyq.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Phòng trọ dành cho hai người !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ có diện tích phù hợp cho khoảng hai người ở.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604465557/Capture_x5msc6.png">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Phòng trọ dành cho ba người !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ có diện tích phù hợp cho khoảng ba người ở.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604465921/20150210135111-5305_n0ev0h.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Phòng trọ dành cho bốn người !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ có diện tích phù hợp cho khoảng bốn người ở.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604464142/chothue_chungcu_HN_3.20160815145545-1e8d_dlxzpn.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Phòng trọ giá rẻ !</div>
                            <div id="wrap-content2-item-info-content">Những căn hộ chung cư có giá cho thuê trong khoảng từ 1-4 triệu đồng.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604464717/thue-chung-cu-gia-4-trieu-ha-noi-o-khu-vuc-nao-tot-2_xhb0qs.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Phòng trọ giá cho các bạn ở nhóm !</div>
                            <div id="wrap-content2-item-info-content">Những căn hộ chung cư có giá cho thuê trong khoảng từ 4-6 triệu đồng.</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <div class="wrap-content2" style="margin-top: -30px;">
            <div class="greeting">
                <h3>Dành cho các bạn sinh viên ở Hà Nội</h3>
                <div>Giúp các bạn sinh viên có thể tìm phòng trọ, chung cư ở Hà Nội dễ dàng hơn.</div>
            </div>
            <div class="wrap-content2-items">
                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604466395/519950341777fe29a766_vdtagb.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Khu vực Bách-Kinh-Xây !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Hai Bà Trưng dành cho các bạn sinh viên Bách Khoa, Xây Dựng, Kinh tế Quốc Dân.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604466537/images631661_daihocquocgiahn2_1541492283886370297863_tti4qk.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Khu vực các trường ĐH Quốc Gia Hà Nội !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Cầu Giấy, Quận Đống Đa dành cho các bạn sinh viên ĐH Quốc Gia HN, Sư Phạm, Báo Chí, Thương Mại.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604466816/thu-tuc-nhap-hoc-2017_dccxdb.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Khu vực Học viện Tài Chính !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Cầu Giấy, Quận Bắc Từ Liêm dành cho các bạn sinh viên HV Tài Chính, ĐH Mỏ.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604467175/tang-bac-2_lhpl0m.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Khu vực Học Viện Công nghệ Bưu Chính Viễn Thông !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Hà Đông, Quận Thanh Xuân dành cho các bạn sinh viên PTIT, ĐH Hà Nội.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604467383/photo1591158497297-1591158497924-crop-1591158564859436933612_zqyj4j.jpg">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Khu vực Đại học Y Hà Nội !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Đống Đa, Quận Hai Bà Trưng dành cho các bạn sinh viên ĐH Y Hà Nội.</div>
                        </div>
                    </a>
                </div>

                <div class="item-content2">
                    <a href="#" id="a-item-content2">
                        <img id="wrap-content2-img" data-lazy="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1604467585/Capture_rl0w8u.png">
                        <div id="wrap-content2-item-info">
                            <div id="wrap-content2-item-info-title">Khu vực Đại học Nông Nghiệp !</div>
                            <div id="wrap-content2-item-info-content">Những phòng trọ, chung cư nằm ở khu vực Quận Long Biên dành cho các bạn sinh viên ĐH Nông Nghiệp.</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
</div>

<script>
    $(document).ready(function() {
        $('.items').slick({
            infinite: false,
            lazyLoad: 'ondemand',
            slidesToShow: 5,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 990,
                settings: {
                    slidesToShow: 3
                }
            }]
        });
        $('.wrap-content2-items').slick({
            infinite: false,
            lazyLoad: 'ondemand',
            slidesToShow: 4,
            slidesToScroll: 1,
            responsive: [{
                breakpoint: 990,
                settings: {
                    slidesToShow: 2
                }
            }]
        });
    });
</script>