<div class="col-sm-10 uploadimg">
    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05);">
        <div class="row" style="padding:40px;">
            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Hình ảnh nhà trọ</b></div>
            <br>
            <div style="font-size: large;padding: 10px;"><b>Ảnh bìa</b></div>
            <div class="col-sm-12" style="margin-bottom: 30px;">
                <div class="row">
                    <div class="col-md-3 imgUp">
                        <img class="imagePreview" style="background-image: url(<%=phong_tro.path_anh_noi_bat%>);">
                        <label class="btn btn-primary" id="btn-upload">
                        Tải ảnh lên<input name = "image" type="file" class="uploadFile img" value="<%=phong_tro.path_anh_noi_bat%>" style="width: 0px;height: 0px;overflow: hidden;" required data-bv-notempty-message="Không được để trống">
                        </label>
                    </div>
                </div>
            </div>
            <br>
            <div style="font-size: large;padding: 10px;"><b>Ảnh phòng trọ, chung cư</b></div>
            <div class="col-sm-12">
                <div class="row">
                    <% for (anh of phong_tro.hinh_anhs){%>
                        <div class="col-md-3 imgUp">
                            <img class="imagePreview" style="background-image: url(<%=anh.path_anh%>);">

                            </img>
                            <label class="btn btn-primary" id="btn-upload">
                             Tải ảnh lên<input name = "image" type="file" class="uploadFile img" value="<%=anh.path_anh%>" style="width: 0px;height: 0px;overflow: hidden;" required data-bv-notempty-message="Không được để trống">
                            </label>
                        </div>
                        <%}%>
                            <!-- col-2 -->
                            <i class="fa fa-plus-circle imgAdd" aria-hidden="true"></i>
                </div>
                <!-- row -->
            </div>
        </div>

        <div class="row" style="padding:30px; margin-top: -20px;">
            <div class="col-sm-6">
                <a href="/" style="text-decoration: none;">
                    <button type="button" class="btn btn-primary" id="button-submit"><span id = "text-btn"><b>HỦY BỎ</b></span></button>
                </a>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" id="button-submit"><span id = "text-btn"><b>LƯU THAY ĐỔI</b></span></button>
            </div>
        </div>
    </div>
</div>
</form>
