<body style="background-color: #f7f7f7;">
    <div class="header-wrap">
        <div class="header">
            <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" id="nav-bar" style="border-bottom: 1px solid #f2f2f2;">
                <div class="container" style="margin-top: 10px;">
                    <div class="navbar-header" style="padding: 6px 0px 0px;">
                        <b><a class="navbar-brand" href="/" id="logo">TroDe</a></b>
                    </div>
                    <div class="nav-item menu-info " style="float: right;margin-top: 15px;">
                        <div class="text-admin">
                            TÀI KHOẢN CỦA BẠN
                        </div>
                        <div class="admin-name">
                            <%=username%>
                        </div>
                    </div>
                </div>
                <div class="container" id="sub-nav" style="margin-top: 20px;">
                    <span class="sub-nav-item">
                        <a href = "bookings" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-1">
                            Đặt lịch
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "control-bookings" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-2">
                            Quản lý đặt lịch
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "wish-list" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-3">
                            Yêu thích
                        </a>
                    </span>
                </div>
            </nav>
        </div>
    </div>