<body style="background-color: #f7f7f7;">
    <div class="header-wrap">
        <div class="header">
            <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" id="nav-bar" style="border-bottom: 1px solid #f2f2f2;">
                <div class="container" style="margin-top: 10px;">
                    <div class="navbar-header" style="padding: 6px 0px 0px;">
                      <% if(user.role === 1){ %>
                        <b><a class="navbar-brand" href="/admin-control" id="logo">TroDe</a></b>
                      <% }else { %>
                        <b><a class="navbar-brand" href="/" id="logo">TroDe</a></b>
                      <% }%>
                    </div>
                    <div class="nav-item menu-info " style="float: right;margin-top: 15px;">
                        <div class="text-admin">
                            TÀI KHOẢN CỦA BẠN
                        </div>
                        <div class="admin-name">
                            <%if (user.ho_va_ten != null){%>
                                <%= user.ho_va_ten %>
                                    <%} else {%>
                                        <%= user.ten_nguoi_dung %>
                                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="container" id="sub-nav" style="margin-top: 20px;">
                    <span class="sub-nav-item">
                        <a href = "/profile/edit" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-1">
                            Quản lý tài khoản
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/booked-list/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-2">
                            Lịch hẹn đã đặt
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/await-bookings/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-3">
                            Lịch hẹn cần phê duyệt
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/wish-list/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-4">
                            Danh sách yêu thích
                        </a>
                    </span>
                    <span class="sub-nav-item">
                        <a href = "/list-host/1" class = "a-sub-nav" style="text-decoration: none;" id = "a-sub-5">
                            Phòng trọ đã đăng
                        </a>
                    </span>
                </div>
            </nav>
        </div>
    </div>
