<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quản trị viên</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link href="/css/admin-control-post.css" rel="stylesheet">
    <link href="/css/admin-navbar.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<%- include("partials/admin-navbar-control"); -%>
    <div class="container" style="margin-top: 200px;">
        <div class="list-content" style="height: 120px;background-color: #fff;vertical-align: middle;border-radius: 8px;box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05);margin-bottom: 20px;">
            <div class="row">
                <div class="col-sm-2">
                    <a href="room" style="text-decoration: none;">
                        <img id="gallery-img" class="gallery-img" src="https://cdn.luxstay.com/rooms/15937/large/room_15937_13_1565524643.jpg">
                    </a>
                </div>
                <div class="col-sm-8" style="line-height: 1.5;">
                    <a href="room" style="text-decoration: none;">
                        <div class="title">
                            <h3><b>AimeeHomestay#2 - Phan Bội Châu/ Self check-inAimeeHomestay#2 - Phan Bội Châu/ Self check-in</b></h3>
                        </div>
                    </a>
                    <div class="little-info" style="margin-top: 4px;margin-bottom: 5px;">
                        <span class="price" style="color: #252525;font-weight: 500;font-size: 16px;"><span>Giá tiền:&nbsp;</span>315,000&nbsp;<span>₫/tháng</span></span>
                        <span class="xem" style="color: #252525;font-weight: 500;font-size: 15px;float: right;margin-right: 20px;"><i class="far fa-eye" style="color: black;margin-right: 5px;">&nbsp;</i><span>Số lượt xem</span></span>
                    </div>
                    <div class="info">
                        <span class="thich" style="color: #252525;font-weight: 500;font-size: 15px;"><i class="far fa-heart" style="color: red;margin-right: 5px;">&nbsp;</i><span>Số lượt thích</span></span>
                        <span class="sao" style="color: #252525;font-weight: 500;float: right;margin-right: 20px;"><i class="fas fa-star" style="color: #ffb025;font-size: 15px;">&nbsp;&nbsp;</i><span style="font-weight: 900;font-size: 15px;">5&nbsp</span><span>(Số
                        lượt đánh giá)</span></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div style="padding: 40px 10px 10px 10px;line-height: 1.5;">
                        <a href="#" style="text-decoration: none;color: #252525;font-weight: 900;border-bottom: 3px solid #f2f2f2;">
                            <i class="fas fa-low-vision" style="font-weight: 900;"></i>&nbsp;Ẩn
                        </a>
                        <br>
                        <a href="#" style="text-decoration: none;color: #252525;font-weight: 900;">
                            <i class="fas fa-trash" style="font-weight: 900;color: red;"></i>&nbsp;&nbsp;Xóa
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>