<%- include("partials/header"); -%>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://placehold.it/1200x400?text=IMAGE" alt="Image">
                <div class="carousel-caption">
                    <h3>Sell $</h3>
                    <p>Money Money.</p>
                </div>
            </div>

            <div class="item">
                <img src="https://placehold.it/1200x400?text=Another Image Maybe" alt="Image">
                <div class="carousel-caption">
                    <h3>More Sell $</h3>
                    <p>Lorem ipsum...</p>
                </div>
            </div>

            <div class="item">
                <img src="https://placehold.it/1200x400?text=Another Image Maybe" alt="Image">
                <div class="carousel-caption">
                    <h3>More Sell $</h3>
                    <p>Lorem ipsum...</p>
                </div>
            </div>

            <div class="item">
                <img src="https://placehold.it/1200x400?text=Another Image Maybe" alt="Image">
                <div class="carousel-caption">
                    <h3>More Sell $</h3>
                    <p>Lorem ipsum...</p>
                </div>
            </div>

            <div class="item">
                <img src="https://placehold.it/1200x400?text=Another Image Maybe" alt="Image">
                <div class="carousel-caption">
                    <h3>More Sell $</h3>
                    <p>Lorem ipsum...</p>
                </div>
            </div>

        </div>

    </div>

    <p>
        <div class="container" id="home">
            <h3 class="blink">Bài đăng nổi bật </h3>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">1.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">4.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">2.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <a class="xemthem" href="#">
                    <button class="bt" type="button" style="height: fit-content; width: 50%;">
                       Xem thêm
                   </button>
                </a>

            </div>

        </div>
    </p>

    <p>
        <div class="container" id="home">
            <h3 class="blink">Bài đăng mới nhất </h3>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">1.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">4.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">2.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="product">
                        <div class="product-image">
                            <a href="#">
                                <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                            </a>
                            <a href="#" class="fa fa-search product-full-view"></a>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                            <div class="price">5.000.000/1 tháng</div>
                            <a class="view" href="">Xem thêm</a>
                        </div>
                    </div>
                </div>

                <a class="xemthem" href="#">
                    <button class="bt" type="button" style="height: fit-content; width: 50%;">
                       Xem thêm
                   </button>
                </a>

            </div>

        </div>
    </p>

    <%- include("partials/footer"); -%>