<!DOCTYPE html>
<html lang="en">

<head>
    <title>TroDe</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1607615051/130082109_1350536555284774_1569636060532671486_n_haukkh.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <!-- <script src="../js/gijgo.min.js" type="text/javascript"></script> -->
    <!-- <link href="../css/gijgo.min.css" rel="stylesheet" type="text/css" /> -->
    <script src="/node_modules/readmore-js/readmore.min.js"></script>
     <script src="../../js/darkmode-js.min.js"></script>
    <script>
        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
    </script>
    <% if(login) {%>
        <link href="/css/general-user.css" rel="stylesheet">
        <link href="/css/user-content.css" rel="stylesheet">
        <link href="/css/hosts.css" rel="stylesheet">
        <link href="/css/paginate.css" rel="stylesheet">
        <%}else{%>
            <link href="/css/general.css" rel="stylesheet">
            <link href="/css/user-content.css" rel="stylesheet">
            <link href="/css/hosts.css" rel="stylesheet">
            <link href="/css/paginate.css" rel="stylesheet">
            <%}%>

                <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>


<%- include("partials/navbar-content"); -%>
    <div class="container" id="wrap-content">
        <%- include("partials/content-hosts"); -%>
    </div>
    <%- include("partials/footer"); -%>