<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng Nhập</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="/css/login.css" rel="stylesheet">
    <script>
        function toggleResetPswd(e) {
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle() // display:block or none
            $('#logreg-forms .form-reset').toggle() // display:block or none
        }

        function toggleSignUp(e) {
            e.preventDefault();
            $('#logreg-forms .form-signin').toggle(); // display:block or none
            $('#logreg-forms .form-signup').toggle(); // display:block or none
        }

        $(() => {
            // Login Register Form
            $('#logreg-forms #forgot_pswd').click(toggleResetPswd);
            $('#logreg-forms #cancel_reset').click(toggleResetPswd);
            $('#logreg-forms #btn-signup').click(toggleSignUp);
            $('#logreg-forms #cancel_signup').click(toggleSignUp);
        })
    </script>
</head>

<body>
    <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" style="background-color: #ffffff;">
        <div class="container">
            <div class="navbar-header">
                <b><a class="navbar-brand " href="home"><span class="hidden-xs" style="font-size: xx-large">Trọ Đê</span></a></b>
                <b><span class="blink" style="font-size: x-large;">Đăng Nhập</span></b>
    </nav>
    <div id="logreg-forms">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Đăng Nhập</h1>
        <form class="form-signin"action = "/login" method = "post">
            <div class="social-login">
                <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Đăng nhập với Facebook</span> </button>
                <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Đăng nhập với Google+</span> </button>
            </div>
            <p style="text-align:center"> Hoặc </p>
            <div class="input-group">
                <input name = "input_login" type="input_login" class="form-control" placeholder="email or username" required="" autofocus="">
            </div>

            <div class="input-group">
                <input name = "password" type="password" id="inputPassword" class="form-control" placeholder="password" required="">
            </div>

            <%if(message) {%>
                <h4   style = "text-align: center; font-size : 15px;" class = "alert alert-danger mt4" ><%=message%></h4>
            <% }%>

            <div class="input-group">
                <button class="btn btn-md btn-rounded btn-block form-control submit" type="submit"><i class="fas fa-sign-in-alt"></i> Đăng nhập</button>
            </div>

            <a href="#" id="forgot_pswd">Quên mặt khẩu?</a>
            <hr>
            <!-- <p>Don't have an account!</p>  -->
            <p style="text-align: center;">Bạn mới biết đến chúng tôi?</p>
            <a href="signup" style="text-align: center; margin-top: -28px;">Đăng Ký</a>
        </form>

        <form action="#" class="form-reset">
            <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <button class="btn btn-primary btn-block" type="submit">Lấy lại mật khẩu</button>
            <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Trở lại</a>
        </form>
        <br>

    </div>

    <%- include("partials/footer"); -%>