<!DOCTYPE html>
<html lang="en">

<head>
    <title>TroDe</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1607615051/130082109_1350536555284774_1569636060532671486_n_haukkh.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="/fonts/Hansief.otf">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="../js/darkmode-js.min.js"></script>
    <script>
        function addDarkmodeWidget() {
            new Darkmode().showWidget();
        }
        window.addEventListener('load', addDarkmodeWidget);
    </script>
    <link href="/css/user-login.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/footer-content.css" rel="stylesheet">
    <link href="/css/tutorial-content.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" style="border-bottom: 1px solid #f2f2f2">
        <div class="container">
            <div class="navbar-header" style="margin-top: 10px;">
                <b><a class="navbar-brand " href="/" id="logo">TroDe</a></b>
                <b><span class="blink" style="font-size: x-large;text-align: center;">SƯ MỆNH</span></b>
    </nav>
    <div class="container" id="wrap-content">
        <h1 style="text-align: center;font-weight: 600;">SỨ MỆNH CỦA TroDe</h1>
        <div class="content" style="font-size: 16px;margin-top: 10px;text-align: center;">
            Niềm vui của bạn là niềm hạnh phúc của chúng tôi.
        </div>
        <div class="content" style="font-size: 16px;margin-top: 30px;">
            <div>
                <strong>1. Chúng tôi luôn nỗ lực trong việc giúp bạn tìm được chỗ trọ, chung cư như mong muốn</strong>
                <br><br>
                <span>TroDe luôn có trách nhiệm trong việc kiểm soát bài viết, giúp đỡ các thành viên để có thể tìm được chỗ trọ ưng ý nhất.</span>
                <br><br>
                <strong>2. Giúp đỡ các bạn tân sinh viên trong việc tìm phòng trọ</strong>
                <br><br>
                <span>Các bạn tân sinh viên là các bạn vừa mới ở quê lên và rất khó khăn trong việc tìm được phòng trọ. Nhiều bạn còn bị lừa hoặc là bị độn giá ở các phòng trọ không tốt. Chính vì thế chúng tôi hy vọng TroDe sẽ giúp cho các bạn tân sinh viên tìm được chỗ ở ưng ý trước khi nhập học.</span>
                <br><br>
                <strong>3. Xử lý nghiêm các trường hợp vi phạm điều khoản</strong>
                <br><br>
                <span>Chúng tôi sẽ xử lý nghiêm các trường hợp vi phạm điều khoản để bảo vệ người dùng khác.</span>
                <br><br>
                <strong>4. Nỗ lực trong việc cải thiện giao diện</strong>
                <br><br>
                <span>TroDe sẽ luôn lắng nghe sự góp ý của mọi người để khắc phục các lỗi khi học gặp phải trong trải nghiệm của mình.</span>
                <br><br>
                <strong><i>Một lần nữa "Niềm vui của bạn là niềm hạnh phúc của chúng tôi" . Vì thế, chúng tôi sẽ không ngừng cố gắng để có thể giúp người dùng tìm được phòng trọ nhanh chóng.</i></strong>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>