<%- include("partials/policy-head"); -%>
    <div class="container" id="wrap-content">
        <h1 style="text-align: center;font-weight: 600;">ĐIỀU KHOẢN SỬ DỤNG DÀNH CHO NGƯỜI CHO THUÊ</h1>
        <div class="content" style="font-size: 16px;margin-top: 10px;">

        </div>
        <div class="content" style="font-size: 16px;margin-top: 30px;">
            <div>
                <strong>1. Nghiêm cấm các hành vi lừa đảo</strong>
                <br><br>
                <span>TroDe nghiêm cấm các hành vi lừa đảo, đăng bài không đúng sự thật, chung cư, nhà trọ được đăng không có sự cho phép của người chủ. Với những nick đăng bài bị phát hiện vi phạm các điều trên chúng tôi sẽ chấm dứt hoạt động mà không báo trước.</span>
                <br><br>
                <strong>2. Luôn có trách nhiệm với người đến xem nhà</strong>
                <br><br>
                <span>Khi bạn đã bấm xác nhận lịch hẹn với người đến xem nhà thì bạn phải có trách nhiệm gặp người đến xem nhà theo đúng lịch hẹn. Nếu như bạn bị báo về vấn đề "Không thực hiện theo lịch hẹn" quá 10 lần thì TroDe sẽ xóa nick của bạn.</span>
                <br><br>
                <strong>3. Giao tiếp lịch thiệp với mọi người</strong>
                <br><br>
                <strong>4. Giá bạn đăng trên TroDe với giá bạn đề xuất khi gặp người đến xem nhà không được vượt quá chênh lệch 30%</strong>
                <br><br>
                <strong>5. Thông tin mà bạn cung cấp cho người đặt lịch phải chính xác tuyệt đối</strong>
                <br><br>
                <strong><i>Trên là một số điều khoản dành cho các chủ trọ, chủ chung cư cho thuê. Mong các Host của TroDe chấp hành nghiêm túc, chỉ cần vi phạm 1 trong 5 điều khoản thì nick bạn sẽ bị chấm dứt hoạt động.</i></strong>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>