<%- include("partials/policy-head"); -%>
    <div class="container" id="wrap-content">
        <h1 style="text-align: center;font-weight: 600;">ĐIỀU KHOẢN SỬ DỤNG DÀNH CHO NGƯỜI DÙNG</h1>
        <div class="content" style="font-size: 16px;margin-top: 10px;text-align: center;">
            <b>TroDe</b> luôn ưu tiên các vấn đề của người dùng lên hàng đầu. Bạn hãy đọc qua các điều khoản của người dùng trước khi đăng ký.
        </div>
        <div class="content" style="font-size: 16px;margin-top: 30px;">
            <div>
                <strong>1. Nghiêm cấm các hành vi lừa đảo</strong>
                <br><br>
                <span>TroDe nghiêm cấm các hành vi lừa đảo. Với những nick đăng bài bị phát hiện vi phạm các điều trên chúng tôi sẽ chấm dứt hoạt động mà không báo trước.</span>
                <br><br>
                <strong>2. Luôn có trách nhiệm với lịch hẹn đã đặt</strong>
                <br><br>
                <span>Khi bạn đã đặt lịch hẹn thành công thì bạn phải có trách nhiệm gặp người cho thuê theo đúng lịch hẹn. Nếu như bạn bị báo về vấn đề "Không thực hiện theo lịch hẹn" quá 10 lần thì TroDe sẽ xóa nick của bạn.</span>
                <br><br>
                <strong>3. Giao tiếp lịch thiệp với mọi người</strong>
                <br><br>
                <strong>4. Thông tin mà bạn cung cấp cho người cho thuê phải chính xác</strong>
                <br><br>
                <span>Thông tin bạn cung cấp cho thuê phải chính xác, tránh các trường hợp cung cấp tên giả, số điện thoại sai. Điều đó sẽ gấy rất nhiều khó khăn trong việc xác nhận của các chủ trọ, chủ chung cư.</span>
                <br><br>
                <strong>5. Báo cáo phải đúng sự thật, nghiêm cấm các hành vi spam báo cáo.</strong>
                <br><br>
                <span>Khi bạn bấm vào nút báo cáo thì bạn phải chịu trách nhiệm cho báo cáo của mình. Nghiêm cấm các trường hợp spam báo cáo sai sự thật. Nếu như chúng tôi phát hiện bát vi phạm quá 5 lần thì nick của bạn sẽ bị xóa.</span>
                <br><br>
                <strong>6. Việc bình luận đánh giá không được spam, sai sự thật.</strong>
                <br><br>
                <span>Bình luận, đánh giá của bạn sẽ giúp ích cho người xem khác rất nhiều. Nếu chỗ cho thuê tệ họ sẽ tránh được còn nếu chỗ tốt thì họ có thể liên hệ với người cho thuê để hỏi về các phòng khác trong trường hợp bạn đã quyết định thuê lâu dài.</span>
                <br><br>
                <strong><i>Trên là một số điều khoản dành cho thanh viên của TroDe. Mong các thành viên của TroDe chấp hành nghiêm túc, chỉ cần vi phạm 1 trong 5 điều khoản thì nick bạn sẽ bị chấm dứt hoạt động.</i></strong>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>