<% if(userId !== 0 ){%>
  <% console.log(userId);%>
<% } %>
<%- include("partials/header"); -%>
    <div class="container" id="ct" style="padding-top: 130px; padding-bottom: 10px;">
        <div class="row">
          <form action = "/post/<%= userId %>" method = "post" enctype = "multipart/form-data">
            <div class="col-sm-12" id="cl12" style="background-color: white; ">
                <h1>Thông tin cơ bản</h1>
                <br>
                <br>
                    <div>
                        <div class="was-validated">
                            <div class="row">
                                <div class="col-sm-2" style="margin-left: 5%;text-align: end;padding-top: 0.5%;"><label for="tensp" style="color:#666">*Tên nhà trọ</label></div>
                                <div class="col-sm-9">
                                    <input name = "ownerName" type="text" id="tensp" class="form-control is-invalid" placeholder="Tên nhà trọ" style="border-radius: 0;" required>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="fm">
                            <div class="row">
                                <div class="col-sm-2" style="margin-left: 5%;text-align: end;padding-top: 0.5%;"><label for="tensp" style="color:#666">*Địa chỉ nhà trọ</label></div>
                                <div class="col-sm-9">
                                    <input name = "ownerAddress" type="text" id="tensp" class="form-control" placeholder="Địa chỉ nhà trọ" style="border-radius: 0;" required data-bv-notempty-message="Không được để trống" />
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="fm">
                            <div class="row">
                                <div class="col-sm-2" style="margin-left: 5%;text-align: end;padding-top: 0.5%;"><label for="tensp" style="color:#666">*Giá cho thuê</label></div>
                                <div class="col-sm-9">
                                    <input name = "price" type="text" id="tensp" class="form-control" placeholder="Giá cho thuê" required data-bv-notempty-message="Không được để trống" style="border-radius: 0;" />
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="fm">
                            <div class="row">
                                <div class="col-sm-2" style="margin-left: 5%;text-align: end;padding-top: 0.5%;"><label for="tensp" style="color:#666">*Trạng thái phòng</label></div>
                                <div class="col-sm-9">
                                    <div id="fm">
                                        <input type="radio" id="con" name="status" value="con">
                                        <label for="con">Còn phòng</label><br>
                                        <input type="radio" id="het" name="status" value="het">
                                        <label for="het">Hết phòng</label><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="fm">
                            <div class="row">
                                <div class="col-sm-2" style="margin-left: 5%;text-align: end;padding-top: 0.5%;"><label for="mota" style="color:#666">*Mô tả nhà trọ</label></div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="mota" rows="10" required data-bv-notempty-message="Không được để trống" style="border-radius: 0;"></textarea>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
            </div>
            <br>
            <div class="col-sm-12" id="cl12" style="background-color: white; ">
                <h1>Quản lý hình ảnh</h1>
                <br>
                    <div class="container">
                        <div class="row" style="margin-right: 20px;">
                            <div class="col-sm-4 imgUp">
                                <div class="imagePreview">
                                </div>
                                <label class="btn btn-primary">
                                Upload<input name = "photo" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                      </label>

                            </div>
                            <div class="col-sm-4 imgUp">
                                <div class="imagePreview"></div>
                                <label class="btn btn-primary">
                                Upload<input name = "photo" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                      </label>
                            </div>
                            <div class="col-sm-4 imgUp">
                                <div class="imagePreview"></div>
                                <label class="btn btn-primary">
                                Upload<input name = "photo" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                      </label>
                            </div>
                            <div class="col-sm-4 imgUp">
                                <div class="imagePreview"></div>
                                <label class="btn btn-primary">
                                Upload<input name = "photo" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                      </label>
                            </div>
                            <div class="col-sm-4 imgUp">
                                <div class="imagePreview"></div>
                                <label class="btn btn-primary">
                                Upload<input name = "photo" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                      </label>
                            </div>
                            <div class="col-sm-4 imgUp">
                                <div class="imagePreview"></div>
                                <label class="btn btn-primary">
                                Upload<input name = "photo" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                      </label>
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right; margin-top: 1%;margin-bottom:1%;">Lưu thông tin</button>
            </div>
          </form>
        </div>
    </div>

    <script>
        $(function() {
            $(document).on("change", ".uploadFile", function() {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function() { // set image data as background of div
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }

            });
        });
    </script>



    <%- include("partials/footer"); -%>
