<%- include("partials/headerprofile"); -%>
    <p>
        <div class="container" id="ct">
            <div class="row">
                <div class="col-sm-4" id="cl4">
                    <a href="#">
                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE" id="p1">
                    </a>
                    <div id="if" style="margin-top: -90px;">
                        <h1 style="text-align: center;">Tên</h1>
                    </div>
                </div>
                <div class="col-sm-8" id="cl8">
                    <div class="row">
                        <div class="col-md-3 col-sm-6" style="background-color: white;">
                            <div class="product">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                                    </a>
                                    <a href="#" class="fa fa-search product-full-view"></a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                                    <div class="price">1.000.000/1 tháng</div>
                                    <a class="view" href="">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6" style="background-color: white;">
                            <div class="product">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                                    </a>
                                    <a href="#" class="fa fa-search product-full-view"></a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                                    <div class="price">4.000.000/1 tháng</div>
                                    <a class="view" href="">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6" style="background-color: white;">
                            <div class="product">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                                    </a>
                                    <a href="#" class="fa fa-search product-full-view"></a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                                    <div class="price">2.000.000/1 tháng</div>
                                    <a class="view" href="">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6" style="background-color: white;">
                            <div class="product">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                                    </a>
                                    <a href="#" class="fa fa-search product-full-view"></a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                                    <div class="price">5.000.000/1 tháng</div>
                                    <a class="view" href="">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6" style="background-color: white;">
                            <div class="product">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                                    </a>
                                    <a href="#" class="fa fa-search product-full-view"></a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                                    <div class="price">5.000.000/1 tháng</div>
                                    <a class="view" href="">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6" style="background-color: white;">
                            <div class="product">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                                    </a>
                                    <a href="#" class="fa fa-search product-full-view"></a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                                    <div class="price">5.000.000/1 tháng</div>
                                    <a class="view" href="">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6" style="background-color: white;">
                            <div class="product">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                                    </a>
                                    <a href="#" class="fa fa-search product-full-view"></a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                                    <div class="price">5.000.000/1 tháng</div>
                                    <a class="view" href="">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6" style="background-color: white;">
                            <div class="product">
                                <div class="product-image">
                                    <a href="#">
                                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                                    </a>
                                    <a href="#" class="fa fa-search product-full-view"></a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                                    <div class="price">5.000.000/1 tháng</div>
                                    <a class="view" href="">Xem thêm</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </p>
    <%- include("partials/footer"); -%>