<%- include("partials/tutorial-head"); -%>
    <div class="container" id="wrap-content">
        <h1 style="text-align: center;font-weight: 600;">HƯỚNG DẪN CÁCH ĐĂNG BÀI</h1>
        <div class="content" style="font-size: 16px;margin-top: 10px;">
            <div style="text-align: center;">Bài viết sau đây sẽ hướng dẫn bạn đăng bài một cách dễ dàng và nhanh chóng.</div>
        </div>
        <div class="content" style="font-size: 16px;margin-top: 30px;">
            <div>
                <strong>Nếu bạn chưa là thành viên</strong>
                <br><br>
                <span>Từ trang chủ của TroDe bấm vào Đăng Ký để có thể sử dụng các chức năng dành riêng cho thành viên.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608046973/Chu%CC%A3p_web_15-12-2020_22421_localhost_h5duxa.jpg">
                <br><br>
                <strong>Nếu bạn là thành viên</strong>
                <br><br>
                <span>Sau khi đăng nhập bạn sẽ có giao diện dành cho thành viên. Bạn sẽ nhìn thấy chữ <b>Host</b> ở trên thanh điều hướng và hãy bấm vào Host.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608047303/Chu%CC%A3p_web_15-12-2020_22421_localhost_lan3mu.jpg">
                <br><br>
                <span>Khi bấm vào Host bạn sẽ được chuyển sang trang để đăng đăng bài. Bạn hãy điền các thông tin bắt buộc theo mẫu form ở dưới. Bài viết của bạn chỉ được ghi nhận nếu như bạn đã điền đầy đủ các mục ở form.Lưu ý : <b style="color: red;">*</b> là bắc buộc phải điền và khi tải ảnh phải có ít nhất 1 ảnh bìa và 3 ảnh phòng trọ, chung cư.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608047791/Chu%CC%A3p_web_15-12-2020_22421_localhost_oft5hy.jpg">
                <br><br>
                <span>Nếu như bạn bỏ trống những mục bắt buộc điền thì hệ thống sẽ báo chỗ bạn phải điền đầy đủ vào những chỗ bắt buộc mới có thể Lưu bài viết được.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608047960/Chu%CC%A3p_web_15-12-2020_22421_localhost_srvp08.jpg">
                <br><br>
                <span>Nếu như bạn đã điền đẩy đủ thi sau khi bấm nút <b>LƯU THAY ĐỔI</b> sẽ hiện ra một thông báo "Xin vui lòng chờ một lát ... " . Sau khi thông báo này kết thúc bạn sẽ quay trở lại trang chủ. Điều đó có nghĩa là bài viết của bạn đã được đăng thành công.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608048173/Chu%CC%A3p_web_15-12-2020_22421_localhost_rimmaf.jpg">
                <br><br>
                <span>Bạn có thể kiểm tra bài đăng đã đăng thành công hay chưa bằng cách vào <b>Phòng trọ đã đăng</b>. Bài bạn vừa đăng sẽ xuất hiện ở trên đầu danh sách.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608048830/2020-12-15_4_yp6ky6.png">
                <br><br>
                <span>Bạn có thể bấm vào chỉnh sửa để sửa lại nội dung bài viết hoặc bạn muốn xóa hãy bấm xóa bài viết của bạn ngay lập tức sẽ được xóa.</span>
                <br><br>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608048981/2020-12-15_4_cwnrgk.png">
                <br><br>
                <span>Đây là trang bài đăng của bạn sau khi bạn đã đăng bài thành công.</span>
                <br><br>
                <span><strong>Đó là toàn bộ hướng dẫn giúp bạn có thể đăng bài ở TroDe. Thật dễ dàng và nhanh chóng phải không? Hãy liên hệ với chúng tôi nếu có bất cứ thắc mắc nào liên quan đến việc đăng bài.</strong></span>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>