<%- include("partials/tutorial-head"); -%>
    <div class="container" id="wrap-content">
        <h1 style="text-align: center;font-weight: 600;">HƯỚNG DẪN CÁCH SỬ DỤNG TÍNH NĂNG ĐẶT LỊCH</h1>
        <div class="content" style="font-size: 16px;margin-top: 10px;">
            <div style="text-align: center;"><strong>Đặt Lịch</strong> là tính năng nổi bật của TroDe giúp bạn có thể đặt lịch xem phòng trọ một cách nhanh chóng và không mất nhiều thời gian. Bài viết sau đây sẽ hướng dẫn bạn sử dụng tính năng đặt lịch một cách nhanh chóng.</div>
        </div>
        <div class="content" style="font-size: 16px;margin-top: 30px;">
            <div>
                <strong>Nếu bạn chưa là thành viên</strong>
                <br><br>
                <span>Từ trang chủ của TroDe bấm vào Đăng Ký để có thể sử dụng các chức năng dành riêng cho thành viên.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608046973/Chu%CC%A3p_web_15-12-2020_22421_localhost_h5duxa.jpg">
                <br><br>
                <strong>Nếu bạn là thành viên</strong>
                <br><br>
                <span>Sau khi đăng nhập bạn sẽ có giao diện dành cho thành viên. Hãy vào bất kỳ một bài viết bài sẽ dễ dàng nhìn thấy một nút <b>Đặt lịch</b>. Vui lòng chọn thời gian bạn muốn đến xem phòng trước khi nhấn vào nút <b>Đặt Lịch</b>. Lưu ý: Nút đặt lịch không khả dụng với với người đăng bài. Nếu như bạn muốn tự liên hệ với chủ bài đăng thì hãy bấm vào nút <b>Liên hệ trực tiếp</b> ở bên dưới.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608051316/2020-12-15_4_e4pycb.png">
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608051406/2020-12-15_4_xgpyca.png">
                <br><br>
                <span>Sau khi bấm vào nút đặt lịch bạn sẽ được chuyển hướng sang một trang xác nhận việc đặt lịch. Trang này bao gồm hai phần:</span>
                <br><br>
                <span><b><i>Thông tin lịch hẹn:</i></b> Thông tin cơ bản của lịch hẹn sẽ được ghi ở mục này để bạn có thể xem lại ngày hẹn đã chính xác chưa.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608051502/2020-12-15_4_utukr9.png">
                <br><br>
                <span><b><i>Thông tin của bạn:</i></b> Ở mục thông tin cua bạn, bạn sẽ được yêu cầu ghi rõ Họ và Tên, Số điện thoại và Email để người đăng bài có thể dễ dàng liên hệ với bạn.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608051730/2020-12-15_4_izmvwy.png">
                <br><br>
                <span>Sau khi điền những thông tin theo yêu cầu thì bạn hãy bấm nút hẹn lịch. Lúc này sẽ hiện ra một thông báo là lịch hẹn của bạn đã được gửi đến cho chủ nhà cùng với đó là một email xác nhận lại sẽ được chúng tôi gửi đến cho bạn. Ngay sau khi có phản hồi của người cho thuê, chúng tôi sẽ gửi ngay lập tức thông báo cho bạn. Bạn có thể quản lý các lịch hẹn của mình bằng cách bấm vào nút "Quản lý lịch hẹn" ở bên dưới.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608051927/2020-12-15_4_lqwfyw.png">
                <br><br>
                <span>Chúng tôi sẽ chuyển hướng ngay lập tức đến trang quản lý lịch hẹn đã đặt của bạn. Ở đây có ba mục <b style="color:rgb(245, 222, 13)">Đang chờ xác nhận</b>, <b style="color:#28ca6e">Đã được xác nhận</b> và <b style="color:rgb(206, 11, 11)">Đã bị hủy</b>. </span>
                <br><br>
                <span><b style="color:rgb(245, 222, 13)">Đang chờ xác nhận</b>: Là lịch hẹn của bạn đang chờ sự xác nhận của người cho thuê.</span>
                <br><br>
                <span><b style="color:#28ca6e">Đã được xác nhận</b>: Là lịch hẹn của bạn đã được xác nhận thành công của người cho thuê.</span>
                <br><br>
                <span><b style="color:rgb(206, 11, 11)">Đã bị hủy</b>: Là lịch hẹn của bạn bị hủy bởi người cho thuê.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608052172/2020-12-15_4_vxgnrh.png">
                <br><br>
                <span>Nếu như bạn đã đặt lịch hẹn thành công thì bạn phải có mặt đúng giờ theo lịch đã hẹn với người cho thuê. Bạn cũng có thể thay đổi giờ hẹn nếu như có sự đồng ý của bên cho thuê. Nếu như bạn bị báo cáo quá nhiều về việc đặt thành công nhưng không đến, TroDe sẽ xóa nick của bạn theo đúng điều khoản.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608048830/2020-12-15_4_yp6ky6.png">
                <br><br>
                <span>Sau khi đặt lịch được xác nhận bạn có thểm Bình luận và cho đánh giá ở Room bạn đã được xác nhận đặt lịch. Việc đánh giá của bạn rất có ý nghĩa cho những người khác.</span>
                <br><br>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608082267/2020-12-15_4_fkn94t.png">
                <br><br>
                <span><strong>Đó là toàn bộ hướng dẫn giúp bạn đặt lịch ở TroDe. Thật dễ dàng và nhanh chóng phải không? Hãy liên hệ với chúng tôi nếu có bất cứ thắc mắc nào liên quan đến việc đặt lịch.</strong></span>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>