<%- include("partials/tutorial-head"); -%>
    <div class="container" id="wrap-content">
        <h1 style="text-align: center;font-weight: 600;">HƯỚNG DẪN CÁCH GỬI BÁO CÁO</h1>
        <div class="content" style="font-size: 16px;margin-top: 10px;">
            <div style="text-align: center;">Bài viết sau đây sẽ hướng dẫn bạn gửi báo cáo một bài viết.</div>
        </div>
        <div class="content" style="font-size: 16px;margin-top: 30px;">
            <div>
                <strong>Nếu bạn chưa là thành viên</strong>
                <br><br>
                <span>Từ trang chủ của TroDe bấm vào Đăng Ký để có thể sử dụng các chức năng dành riêng cho thành viên.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608046973/Chu%CC%A3p_web_15-12-2020_22421_localhost_h5duxa.jpg">
                <br><br>
                <strong>Nếu bạn là thành viên</strong>
                <br><br>
                <span>Sau khi đăng nhập bạn sẽ có giao diện dành cho thành viên. Hãy vào bất kỳ một bài viết bài sẽ dễ dàng nhìn thấy một nút báo cáo.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608049598/2020-12-15_4_nh9wtu.png">
                <br><br>
                <span>Sau khi bấm vào bạn sẽ được chuyển đến một trang báo cáo. Bạn hãy điền đầy đủ theo như yêu cầu nhé. Lưu ý: chỉ có ảnh là không bắt buộc còn lại sẽ bắt buộc bạn phải điền theo đúng yêu cầu. </span>
                <br><br>
                <span><strong style="color: red;">Nhắc nhở!</strong> Mọi báo cáo của bạn sẽ ảnh hưởng trực tiếp đến bài đăng bị báo cáo vì thế hãy cân nhắc trước khi báo cáo. Nếu như nick bạn gửi spam báo cáo không đúng quá nhiều thì theo như điều khoản của TroDe chúng tôi sẽ xóa nick của bạn.</span>
                <br><br>
                <img src="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1608049984/2020-12-15_4_ktxc5t.png">
                <br><br>
                <span>Sau khi bạn bấm nút gửi thì quản trị viên sẽ nhận được báo cáo và sẽ xem xét xử lý cho bạn. Bạn sẽ nhận được phải hồi của TroDe qua Email.</span>
                <br><br>
                <span><strong>Đó là toàn bộ hướng dẫn giúp bạn có thể gửi báo cáo ở TroDe. Hãy liên hệ với chúng tôi nếu có bất cứ thắc mắc nào liên quan đến việc gửi báo cáo.</strong></span>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>