<%- include("partials/user-general-profile"); -%>
    <%- include("partials/user-navbar-profile"); -%>
        <div class="container" id="profile-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="side-profile">
                        <div class="div-side">
                            <a href="/profile/edit" class="a-side" style="text-decoration: none;">
                                <span id="sp">Thông tin cá nhân</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/profile/change-password" class="a-side" style="text-decoration: none;">
                                <span id="sp-color" style="font-weight: 900;">Đổi mật khẩu</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/profile/address-edit" class="a-side" style="text-decoration: none;">
                                <span id="sp">Địa chỉ</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <span style="font-size: 17px;" class="txt-darkmode"><b>Thay đổi mật khẩu</b></span>
                    <br><br>
                    <div class="content">
                        <form action="/profile-change-password" method="post">
                            <div class="row" id="wrap-text">
                                <div class="col-sm-12">
                                    <div id="title-item-profile" style="margin-bottom: 6px;font-weight: 700;font-size: 15px;">*Mật khẩu hiện tại</div>
                                    <input name="oldPass" type="password" id="user-name1" class="form-control btn-edit" placeholder="Vui lòng nhập mật khẩu hiện tại của bạn" style="border-radius: 0;color: #424242;font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>

                                <div class="col-sm-12">
                                    <div id="title-item-profile" style="margin-bottom: 6px;font-weight: 700;font-size: 15px;">*Mật khẩu mới</div>
                                    <input name="newPass" type="password" id="user-name1" class="form-control btn-edit" placeholder="Vui lòng nhập mật khẩu mới của bạn" style="border-radius: 0;color: #424242;font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>
                                <div class="col-sm-12">
                                    <div id="title-item-profile" style="margin-bottom: 6px;font-weight: 700;font-size: 15px;">*Nhập lại mật khẩu của bạn</div>
                                    <input name="reNewPass" type="password" id="user-name1" class="form-control btn-edit" placeholder="Vui lòng nhập lại mật khẩu của bạn" style="border-radius: 0;color: #424242;font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>
                            </div>
                            <%if(errors != undefined) {%>
                                <%errors.forEach(function(error) {%>
                                    <span><div class="alert" style="color: #f65e39!important; font-size: 14px!important; margin-top: -5px; margin-bottom: 0px;"><%=error.msg%></div></span>
                                <%})%>
                            <%}%>
                            <%if(message.length > 0) {%>
                            <span><div class="alert" style="color: #f65e39!important; font-size: 14px!important; margin-top: -5px; margin-bottom: 0px;"><%=message%></div></span>
                            <% }%>
                            <div class="row">
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-primary" id="button-submit" style="height: 38px;"><span id = "text-btn"><b>CẬP NHẬT</b></span></button>
                                </div>
                            </div>
                            <div class="loading2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: rgb(255, 255, 255); display: block; shape-rendering: auto;background:transparent;" width="300px" height="300px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><circle cx="50" cy="50" r="0" fill="none" stroke="#e90c59" stroke-width="2"><animate attributeName="r" repeatCount="indefinite" dur="2s" values="0;40" keyTimes="0;1" keySplines="0 0.2 0.8 1" calcMode="spline" begin="-1s"/><animate attributeName="opacity" repeatCount="indefinite" dur="2s" values="1;0" keyTimes="0;1" keySplines="0.2 0 0.8 1" calcMode="spline" begin="-1s"/></circle><circle cx="50" cy="50" r="0" fill="none" stroke="#46dff0" stroke-width="2"><animate attributeName="r" repeatCount="indefinite" dur="2s" values="0;40" keyTimes="0;1" keySplines="0 0.2 0.8 1" calcMode="spline"/><animate attributeName="opacity" repeatCount="indefinite" dur="2s" values="1;0" keyTimes="0;1" keySplines="0.2 0 0.8 1" calcMode="spline"/></circle></svg>                                </div>
                    </div>
                    </form>
                </div>

            </div>
        </div>
        </div>
        <script>
            $("form").submit(function() {
                $(".loading2").css("display", "block");
                $("#wrap-text").css("opacity", "0.5");
            });
        </script>
