<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng Ký</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.passwordRequirements.min.js"></script>
    <script src="../js/gijgo.min.js" type="text/javascript"></script>
    <link href="../css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/user-signup.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery.passwordRequirements.css" />
</head>

<body>
    <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" style="background-color: #ffffff;">
        <div class="container">
            <div class="navbar-header">
                <b><a class="navbar-brand " href="/" id="logo">TroDe</a></b>
                <b><span class="blink" style="font-size: x-large;">Đăng Ký</span></b>
    </nav>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3 style="font-size: 22px;font-weight: 900;float: left;">Tạo tài khoản TroDe

                </h3>
                <span style="font-size: 15px;font-weight: 700;float: right;">Bạn đã là thành viên? <a id = "a-text-dangnhap" href="login">Đăng nhập</a> tại đây</span>
                <br>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="content-signup" style="padding: 25px 50px 50px 25px;box-shadow: 0 9px 46px 8px rgba(0,0,0,.02), 0 24px 38px 3px rgba(0,0,0,.04), 0 11px 15px -7px rgba(0,0,0,.05);border-radius: .625rem;">
                    <form action="/signup" method='post'>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="email" style="font-size: 14px;color: #424242;font-weight: 900;">*Email</label>
                                <div>
                                    <input name="email" type="text" id="email" class="form-control btn-ip" placeholder="Vui lòng nhập Email của bạn" required data-bv-notempty-message="Không được để trống">
                                    <span style="float: right;margin-top: -32px;margin-right: 10px;"><i class="far fa-envelope" style="font-size: 24px;"></i></span>
                                </div>
                                <br>
                                <label for="user-name" style="font-size: 14px;color: #424242;font-weight: 900;">*Username</label>
                                <div>
                                    <input name="username" type="text" id="user-name" class="form-control btn-ip" placeholder="Vui lòng nhập username của bạn" required data-bv-notempty-message="Không được để trống">
                                    <span style="float: right;margin-top: -32px;margin-right: 10px;"><i class="far fa-user" style="font-size: 24px;"></i></span>
                                </div>
                                <br>
                                <label for="password" style="font-size: 14px;color: #424242;font-weight: 900;">*Mật khẩu</label>
                                <div>
                                    <input name="password" type="password" id="password" class="form-control btn-ip pr-password" placeholder="Vui lòng nhập mật khẩu của bạn" required>
                                    <span style="float: right;margin-top: -32px;margin-right: 10px;"><i class="fas fa-lock" style="font-size: 24px;"></i></span>
                                </div>
                                <br>
                                <label for="phone" style="font-size: 14px;color: #424242;font-weight: 900;">*Số điện thoại</label>
                                <div>
                                    <input name="phone" type="number" id="phone" class="form-control btn-ip" placeholder="Vui lòng nhập số điện thoại của bạn" required data-bv-notempty-message="Không được để trống" maxlength="11" pattern="([0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9])">
                                    <span style="float: right;margin-top: -32px;margin-right: 10px;"><i class="fas fa-phone" style="font-size: 24px;"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span style="font-size: 14px;color: #424242;font-weight: 900;">*Ngày sinh</span>
                                        <input name="DOB" id="datepicker" class="btn-date" placeholder="Chọn ngày sinh của bạn" required data-bv-notempty-message="Không được để trống">
                                    </div>
                                    <div class="col-md-4">
                                        <span style="font-size: 14px;color: #424242;font-weight: 900;">*Giới tính</span>
                                        <select name="sex" class="btn-ip" id="inputGroupSelect01" required data-bv-notempty-message="Không được để trống">
                                            <option value="" disabled selected hidden>Chọn</option>
                                            <option >Nam</option>
                                            <option >Nữ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <%if(message.length > 0) {%>
                                            <h4 style="text-align: center; font-size : 15px; border-radius: 8px; font-weight: 900; height: 40px;margin-top: 5px;" class="alert alert-danger mt4">
                                                <%=message%>
                                            </h4>
                                            <% }%>
                                                <br>
                                                <span id="text-dk">Bằng cách ấn vào nút “ĐĂNG KÝ”, tôi đồng ý với Điều Khoản Sử Dụng và Chính Sách Bảo Mật của TroDe</span>
                                                <br>
                                                <br>
                                                <button type="submit" class="btn btn-primary" id="button-submit">ĐĂNG KÍ</button><br><br>
                                                <span style="font-size: 13px;">Hoặc Đăng ký với</span>
                                                <a href="/auth/google" id="link-gmail"><button type="button" class="btn btn-primary" id="button-gmail"><span style="font-size: 15px;vertical-align: middle;">Đăng ký với Google</span>&nbsp;&nbsp;<i class="fab fa-google" style="font-size: 24px;vertical-align: middle;color: rgb(200, 216, 212);"></i></button></a>
                                                <a href="/auth/facebook" id="link-fb"><button type="button" class="btn btn-primary" id="button-facebook"><span style="font-size: 15px;vertical-align: middle;">Đăng ký với Facebook</span>&nbsp;&nbsp;<i class="fab fa-facebook-square" style="font-size: 24px;vertical-align: middle;color:#3a5999;"></i></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <br><br>
            </div>
        </div>
    </div>
    <script>
        $('#datepicker').datepicker();
        $("#phone").keyup(function() {
            $("#phone").val(this.value.match(/[0-9]*/));
        });
        $(function() {
            $(".pr-password").passwordRequirements();
        });
        $(".pr-password").passwordRequirements({
            numCharacters: 8,
            useLowercase: true,
            useUppercase: true,
            useNumbers: true,
            useSpecial: true
        });
    </script>


    <%- include("partials/footer"); -%>