<%- include("partials/navbar-user-profile-info", {username: user.ten_nguoi_dung}); -%>
    <div class="container" id="profile-content">
        <div class="row">
            <div class="col-md-2">
                <span style="font-size: 12px;">Xin chào <%=user.ten_nguoi_dung %>,</span>
                <br><br>
                <a href="profile" style="text-decoration: none;">
                    <i class="fas fa-user-circle" style="color: hotpink;font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Quản lý tài khoản</b></span>
                </a>
                <ul style="list-style: none;margin-left: -5px;">
                    <li>
                        <a href="profile-info" style="text-decoration: none;">
                            <span id="ul-li">Thông tin cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="profile-change-password" style="text-decoration: none;">
                            <span id="ul-li">Đổi mật khẩu</span>
                        </a>
                    </li>
                    <li>
                        <a href="profile-address" style="text-decoration: none;">
                            <span id="ul-li" style="color: #1A9CB7;">Địa chỉ</span>
                        </a>
                    </li>
                </ul>
                <a href="#" style="text-decoration: none;">
                    <i class="fas fa-bell" style="color: rgb(255, 30, 0);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Thông báo</b></span>
                </a>
                <br><br>
                <a href="#" style="text-decoration: none;">
                    <i class="fas fa-clipboard" style="color: rgb(0, 195, 255);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Bài đã đăng</b></span>
                </a>
                <br><br>
                <a href="post" style="text-decoration: none;">
                    <i class="far fa-edit" style="color: rgb(255, 0, 98);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Tạo bài viết mới</b></span>
                </a>
            </div>
            <div class="col-md-10">
                <span style="font-size: 17px;"><b>Sửa thông tin địa chỉ</b></span>
                <br><br>
                <form>
                    <div class="content" style="background-color: white; height: 340px;">
                        <div class="row" style="padding:40px;">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <span id="title-item-profile"><i>Họ và tên</i></span>
                                    <br>
                                    <input type="text" id="address" class="form-control" placeholder="Nhập họ và tên của bạn" style="border-radius: 0;color: #424242; font-size: small;height: 35px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>
                                <div class="col-md-4">
                                    <span id="title-item-profile"><i>Số điện thoại</i></span>
                                    <br>
                                    <input type="text" id="city" class="form-control" style="border-radius: 0;color: #424242; font-size: small;height: 35px;text-align: center;" data-meta="Field" value="<%=user.sdt%>" readonly="" tabindex="-1">
                                    <br>
                                </div>
                                <div class="col-md-4">
                                    <span id="title-item-profile"><i>Tỉnh/Thành phố</i></span>
                                    <br>
                                    <input type="text" id="city" class="form-control" style="border-radius: 0;color: #424242; font-size: small;height: 35px;text-align: center;" data-meta="Field" value="Hà Nội" readonly="" tabindex="-1">
                                    <br>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <span id="title-item-profile"><i>Quận/Huyện</i></span>
                                    <br>
                                    <select class="custom-select" id="huyen" name="quan" placeholder="Vui lòng chọn quận/huyện" style="border-radius: 0;color: #424242; font-size: small;height: 35px;width: 100%;" required data-bv-notempty-message="Không được để trống">
                                        <option value="1">Quận Ba Đình</option>
                                        <option value="2">Quận Bắc Từ Liêm</option>
                                        <option value="3">Quận Cầu Giấy</option>
                                        <option value="4">Quận Đống Đa</option>
                                        <option value="5">Quận Hà Đông</option>
                                        <option value="6">Quận Hai Bà Trưng</option>
                                        <option value="7">Quận Hoàng Mai</option>
                                        <option value="8">Quận Hoàn Kiếm</option>
                                        <option value="9">Quận Long Biên</option>
                                        <option value="10">Quận Nam Từ Liêm</option>
                                        <option value="11">Quận Tây Hồ</option>
                                        <option value="12">Quận Thanh Xuân</option>
                                      </select>
                                    <br>
                                </div>
                                <div class="col-md-4">
                                    <span id="title-item-profile"><i>Phường/Xã</i></span>
                                    <br>
                                    <select class="custom-select" id="xa" name="xa" style="border-radius: 0;color: #424242; font-size: small;height: 35px;width: 100%;" required data-bv-notempty-message="Không được để trống">
                                        <option value="1">Phường Cống Vị</option>
                                        <option value="1">Phường Điện Biên</option>
                                        <option value="1">Phường Đội Cấn</option>
                                        <option value="1">Phường Giảng Võ</option>
                                        <option value="1">Phường Kim Mã</option>
                                        <option value="1">Phường Liễu Giai</option>
                                        <option value="1">Phường Ngọc Hà</option>
                                        <option value="1">Phường Ngọc Khánh</option>
                                        <option value="1">Phường Nguyễn Trung Trực</option>
                                        <option value="1">Phường Phúc Xá</option>
                                        <option value="1">Phường Quán Thánh</option>
                                        <option value="1">Phường Thành Công</option>
                                        <option value="1">Phường Trúc Bạch</option>
                                        <option value="1">Phường Vĩnh Phúc</option>
    
                                        <option value="2">Phường Cổ Nhuế 1</option>
                                        <option value="2">Phường Cổ Nhuế 2</option>
                                        <option value="2">Phường Đông Ngạc</option>
                                        <option value="2">Phường Đức Thắng</option>
                                        <option value="2">Phường Liên Mạc</option>
                                        <option value="2">Phường Minh Khai</option>
                                        <option value="2">Phường Phúc Diễn</option>
                                        <option value="2">Phường Phú Diễn</option>
                                        <option value="2">Phường Tây Tựu</option>
                                        <option value="2">Phường Thụy Phương</option>
                                        <option value="2">Phường Thượng Cát</option>
                                        <option value="2">Phường Xuân Đỉnh</option>
                                        <option value="2">Phường Xuân Tảo</option>
    
                                        <option value="3">Phường Dịch Vọng</option>
                                        <option value="3">Phường Dịch Vọng Hậu</option>
                                        <option value="3">Phường Mai Dịch</option>
                                        <option value="3">Phường Nghĩa Đô</option>
                                        <option value="3">Phường Nghĩa Tân</option>
                                        <option value="3">Phường Quan Hoa</option>
                                        <option value="3">PPhường Trung Hòa</option>
                                        <option value="3">Phường Yên Hòa</option>
    
                                        <option value="4">Phường Cát Linh</option>
                                        <option value="4">Phường Hàng Bột</option>
                                        <option value="4">Phường Khâm Thiên</option>
                                        <option value="4">Phường Khương Thượng</option>
                                        <option value="4">Phường Kim Liên</option>
                                        <option value="4">Phường Láng Hạ</option>
                                        <option value="4">Phường Láng Thượng</option>
                                        <option value="4">Phường Nam Đồng</option>
                                        <option value="4">Phường Ngã Tư Sở</option>
                                        <option value="4">Phường Ô Chợ Dừa</option>
                                        <option value="4">Phường Phương Liên</option>
                                        <option value="4">Phường Phương Mai</option>
                                        <option value="4">Phường Quang Trung</option>
                                        <option value="4">Phường Quốc Tử Giám</option>
                                        <option value="4">Phường Thịnh Quang</option>
                                        <option value="4">Phường Thổ Quan</option>
                                        <option value="4">Phường Trung Liệt</option>
                                        <option value="4">Phường Trung Phụng</option>
                                        <option value="4">Phường Trung Tự</option>
                                        <option value="4">Phường Văn Chương</option>
                                        <option value="4">Phường Văn Miếu</option>
    
                                        <option value="5">Phường Biên Giang</option>
                                        <option value="5">Phường Dương Nội</option>
                                        <option value="5">Phường Đồng Mai</option>
                                        <option value="5">Phường Hà Cầu</option>
                                        <option value="5">Phường Kiến Hưng</option>
                                        <option value="5">Phường La Khê</option>
                                        <option value="5">Phường Mộ Lao</option>
                                        <option value="5">Phường Nguyễn Trãi</option>
                                        <option value="5">Phường Phúc La</option>
                                        <option value="5">Phường Phú La</option>
                                        <option value="5">Phường Phú Lãm</option>
                                        <option value="5">Phường Phú Lương</option>
                                        <option value="5">Phường Quang Trung</option>
                                        <option value="5">Phường Vạn Phúc</option>
                                        <option value="5">Phường Văn Quán</option>
                                        <option value="5">Phường Yên Nghĩa</option>
                                        <option value="5">Phường Yết Kiêu</option>
    
                                        <option value="6">Phường Bạch Đằng</option>
                                        <option value="6">Phường Bách Khoa</option>
                                        <option value="6">Phường Bạch Mai</option>
                                        <option value="6">Phường Bùi Thị Xuân</option>
                                        <option value="6">Phường Cầu Dền</option>
                                        <option value="6">Phường Đống Mác</option>
                                        <option value="6">Phường Đồng Nhân</option>
                                        <option value="6">Phường Đồng Tâm</option>
                                        <option value="6">Phường Lê Đại Hành</option>
                                        <option value="6">Phường Minh Khai</option>
                                        <option value="6">Phường Ngô Thì Nhậm</option>
                                        <option value="6">Phường Nguyễn Du</option>
                                        <option value="6">Phường Phạm Đình Hổ</option>
                                        <option value="6">Phường Phố Huế</option>
                                        <option value="6">Phường Quỳnh Lôi</option>
                                        <option value="6">Phường Quỳnh Mai</option>
                                        <option value="6">Phường Thanh Lương</option>
                                        <option value="6">Phường Thanh Nhàn</option>
                                        <option value="6">Phường Trương Định</option>
                                        <option value="6">Phường Vĩnh Tuy</option>
    
                                        <option value="7">Phường Đại Kim</option>
                                        <option value="7">Phường Định Công</option>
                                        <option value="7">Phường Giáp Bát</option>
                                        <option value="7">Phường Hoàng Liệt</option>
                                        <option value="7">Phường Hoàng Văn Thụ</option>
                                        <option value="7">Phường Lĩnh Nam</option>
                                        <option value="7">Phường Mai Động</option>
                                        <option value="7">Phường Tân Mai</option>
                                        <option value="7">Phường Thanh Trì</option>
                                        <option value="7">Phường Thịnh Liệt</option>
                                        <option value="7">Phường Trần Phú</option>
                                        <option value="7">Phường Tương Mai</option>
                                        <option value="7">Phường Vĩnh Hưng</option>
                                        <option value="7">Phường Yên Sở</option>
    
                                        <option value="8">Phường Chương Dương</option>
                                        <option value="8">Phường Cửa Đông</option>
                                        <option value="8">Phường Cửa Nam</option>
                                        <option value="8">Phường Đồng Xuân</option>
                                        <option value="8">Phường Hàng Bạc</option>
                                        <option value="8">Phường Hàng Bài</option>
                                        <oPhường value="8">Phường Hàng Bồ</option>
                                        <option value="8">Phường Hàng Bông</option>
                                        <option value="8">Phường Hàng Buồm</option>
                                        <option value="8">Phường Hàng Đào</option>
                                        <option value="8">Phường Hàng Gai</option>
                                        <option value="8">Phường Hàng Mã</option>
                                        <option value="8">Phường Hàng Trống</option>
                                        <option value="8">Phường Lý Thái Tổ</option>
                                        <option value="8">Phường Phan Chu Trinh</option>
                                        <option value="8">Phường Phúc Tân</option>
                                        <option value="8">Phường Tràng Tiền</option>
                                        <option value="8">Phường Trần Hưng Đạo</option
                                            >
                                        <option value="9">Phường Bồ Đề</option>
                                        <option value="9">Phường Cự Khối</option>
                                        <option value="9">Phường Đức Giang</option>
                                        <option value="9">Phường Giang Biên</option>
                                        <option value="9">Phường Gia Thụy</option>
                                        <option value="9">Phường Long Biên</option>
                                        <option value="9">Phường Ngọc Lâm</option>
                                        <option value="9">Phường Ngọc Thụy</option>
                                        <option value="9">Phường Phúc Đồng</option>
                                        <option value="9">Phường Phúc Lợi</option>
                                        <option value="9">Phường Sài Đồng</option>
                                        <option value="9">Phường Thạch Bàn</option>
                                        <option value="9">Phường Thượng Thanh</option>
                                        <option value="9">Phường Việt Hưng</option>
    
                                        <option value="10">Phường Cầu Diễn</option>
                                        <option value="10">Phường Đại Mỗ</option>
                                        <option value="10">Phường Mễ Trì</option>
                                        <option value="10">Phường Mỹ Đình 1</option>
                                        <option value="10">Phường Mỹ Đình 2</option>
                                        <option value="10">Phường Phú Đô</option>
                                        <option value="10">Phường Phương Canh</option>
                                        <option value="10">Phường Tây Mỗ</option>
                                        <option value="10">Phường Trung Văn</option>
                                        <option value="10">Phường Xuân Phương</option>
    
                                        <option value="11">Phường Bưởi</option>
                                        <option value="11">Phường Nhật Tân</option>
                                        <option value="11">Phường Phú Thượng</option>
                                        <option value="11">Phường Quảng An</option>
                                        <option value="11">Phường Thụy Khuê</option>
                                        <option value="11">Phường Tứ Liên</option>
                                        <option value="11">Phường Xuân La</option>
                                        <option value="11">Phường Yên Phụ</option>
    
                                        <option value="12">Phường Hạ Đình</option>
                                        <option value="12">Phường Khương Đình</option>
                                        <option value="12">Phường Khương Mai</option>
                                        <option value="12">Phường Khương Trung</option>
                                        <option value="12">Phường Kim Giang</option>
                                        <option value="12">Phường Nhân Chính</option>
                                        <option value="12">Phường Phương Liệt</option>
                                        <option value="12">Phường Thanh Xuân Bắc</option>
                                        <option value="12">Phường Thanh Xuân Nam</option>
                                        <option value="12">Phường Thanh Xuân Trung</option>
                                        <option value="12">Phường Thượng Đình</option>
                                      </select>
                                    <br>
                                </div>

                                <div class="col-md-4">
                                    <span id="title-item-profile"><i>Địa chỉ</i></span>
                                    <br>
                                    <input type="text" id="address" class="form-control" placeholder="Vui lòng nhập địa số nhà, tòa nhà, ..." style="border-radius: 0;color: #424242; font-size: small;height: 35px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="padding:40px;margin-left: 2px;">
                            <div class="col-md-4">
                                <a href="address-edit" style="text-decoration: none;">
                                    <button type="submit" class="btn btn-primary" id="button-edit"><span id = "text-btn"><b>LƯU THÔNG TIN ĐỊA CHỈ</b></span></button>
                                </a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            var $select1 = $('#huyen'),
                $select2 = $('#xa'),
                $options = $select2.find('option');
            $select1.on('change', function() {
                $select2.html($options.filter('[value="' + this.value + '"]'));
            }).trigger('change');
        });
    </script>
    <%- include("partials/footer"); -%>