<%- include("partials/user-general-profile"); -%>
    <%- include("partials/user-navbar-profile"); -%>
        <div class="container" id="profile-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="side-profile">
                        <div class="div-side">
                            <a href="/profile/edit" class="a-side" style="text-decoration: none;">
                                <span id="sp">Thông tin cá nhân</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/profile/change-password" class="a-side" style="text-decoration: none;">
                                <span id="sp-color" style="color: #333333;font-weight: 900;">Đổi mật khẩu</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/profile/address-edit" class="a-side" style="text-decoration: none;">
                                <span id="sp">Địa chỉ</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <span style="font-size: 17px;"><b>Thay đổi mật khẩu</b></span>
                    <br><br>
                    <div class="content">
                        <form action="/profile-change-password" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="title-item-profile" style="margin-bottom: 6px;color: #666!important;font-weight: 700;font-size: 15px;">*Mật khẩu hiện tại</div>
                                    <input name="oldPass" type="password" id="user-name1" class="form-control btn-edit" placeholder="Vui lòng nhập mật khẩu hiện tại của bạn" style="border-radius: 0;color: #424242;font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <div id="title-item-profile" style="margin-bottom: 6px;color: #666!important;font-weight: 700;font-size: 15px;">*Mật khẩu mới</div>
                                    <input name="newPass" type="password" id="user-name1" class="form-control btn-edit" placeholder="Vui lòng nhập mật khẩu mới của bạn" style="border-radius: 0;color: #424242;font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <div id="title-item-profile" style="margin-bottom: 6px;color: #666!important;font-weight: 700;font-size: 15px;">*Nhập lại mật khẩu của bạn</div>
                                    <input name="reNewPass" type="password" id="user-name1" class="form-control btn-edit" placeholder="Vui lòng nhập lại mật khẩu của bạn" style="border-radius: 0;color: #424242;font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>

                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary" id="button-submit" style="height: 38px;"><span id = "text-btn"><b>CẬP NHẬT</b></span></button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>