<%- include("partials/user-general-profile"); -%>
    <%- include("partials/user-navbar-profile"); -%>
        <div class="container" id="profile-content">
            <div class="row">
                <div class="col-sm-3">
                    <div class="side-profile">
                        <div class="div-side">
                            <a href="/profile/edit" class="a-side" style="text-decoration: none;">
                                <span id="sp">Thông tin cá nhân</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/profile/change-password" class="a-side" style="text-decoration: none;">
                                <span id="sp">Đổi mật khẩu</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/profile/address-edit" class="a-side" style="text-decoration: none;">
                                <span id="sp-color" style="color: #333333;font-weight: 900;">Địa chỉ</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <span style="font-size: 17px;"><b>Sửa thông tin địa chỉ</b></span>
                    <br><br>
                    <form>
                        <div class="content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <div id="title-item-profile" style="margin-bottom: 6px;color: #666!important;font-weight: 700;font-size: 15px;">Tỉnh/Thành phố</div>
                                        <input type="text" id="city" class="form-control btn-edit" style="border-radius: 0;color: #424242; font-size: small;height: 35px;text-align: center;font-weight: 900;font-size: 15px;" data-meta="Field" value="Hà Nội" readonly="" tabindex="-1">
                                        <br>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-md-4">
                                        <div id="title-item-profile" style="margin-bottom: 6px;color: #666!important;font-weight: 700;font-size: 15px;">Quận/Huyện</div>
                                        <select class="custom-select btn-edit" id="huyen" name="quan" placeholder="Vui lòng chọn quận/huyện" style="border-radius: 0;color: #424242; font-size: small;height: 35px;width: 100%;" required data-bv-notempty-message="Không được để trống">
                                <option value="" selected= "selected">Lựa chọn Quận/Huyện</option>
                              </select>
                                        <br>
                                    </div>
                                    <div class="col-sm-4">
                                        <div id="title-item-profile" style="margin-bottom: 6px;color: #666!important;font-weight: 700;font-size: 15px;">Phường/Xã</div>
                                        <select class="custom-select btn-edit" id="xa" name="xa" style="border-radius: 0;color: #424242; font-size: small;height: 35px;width: 100%;" required data-bv-notempty-message="Không được để trống">
                                <option value="" selected= "selected">Lựa chọn Phường/Xã</option>
                              </select>
                                        <br>
                                    </div>

                                    <div class="col-sm-4">
                                        <div id="title-item-profile" style="margin-bottom: 6px;color: #666!important;font-weight: 700;font-size: 15px;">Địa chỉ cụ thể</div>
                                        <input type="text" id="address" class="form-control btn-edit" placeholder="Vui lòng nhập địa số nhà, tòa nhà, ..." style="border-radius: 0;color: #424242; font-size: small;height: 35px;" required data-bv-notempty-message="Không được để trống">
                                        <br>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary" id="button-submit" style="height: 38px;"><span id = "text-btn"><b>CẬP NHẬT</b></span></button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../js/profile-address-edit.js"></script>