<%- include("partials/navbar-user-room"); -%>
    <div class="content">
        <div class="gallery">
            <img id="gallery-img" class="gallery-img" src="https://cdn.luxstay.com/rooms/15937/large/room_15937_13_1565524643.jpg">
            <img id="gallery-img" class="gallery-img" src="https://cdn.luxstay.com/rooms/15937/large/room_15937_13_1565524643.jpg">
            <img id="gallery-img" class="gallery-img" src="https://cdn.luxstay.com/rooms/15937/large/room_15937_3_1565524510.jpg">
        </div>
        <div class="container wrap-content">
            <div class="row" style="margin-bottom: 50px;">
                <button class="btn-like"><i class="far fa-heart"></i><span class = "reaction" style="font-size: 16px;">Thêm vào yêu thích</span></button>
                <br>
                <div class="col-sm-9" style="margin-top: 20px;">
                    <div class="title" style="margin-bottom: 10px;">
                        <h2><b>AimeeHomestay#2 - Phan Bội Châu/ Self check-in</b></h2>
                    </div>
                    <div class="author">
                        <span>Đăng bởi: <a href = "#" style="text-decoration: none;"><span class= "author-name" style="color: #222222;font-weight: 900;">Tên người đăng</span></a>
                        </span>
                    </div>
                    <br>
                    <div class="address-space">
                        <div class="address" style="margin-bottom: 10px;">
                            <i class="fas fa-map-marker-alt"></i>
                            <span style="font-weight: bold;">Hoàn Kiếm, Hà Nôi</span>
                        </div>
                        <div class="space">
                            <i class="fas fa-building"></i>
                            <span class="category" style="font-weight: bold;">Chung cư</span>
                            <span><b>·</b></span>
                            <span class="category space">50</span>
                            <span>m2</span>
                        </div>
                    </div>
                    <br>
                    <div class="type">
                        <div class="loai-phong" style="margin-bottom: 10px;">
                            <span style="font-weight: bold;">Tập thể</span>
                            <span><b>·</b></span>
                            <span style="font-weight: bold;">2 phòng ngủ</span>
                            <span><b>·</b></span>
                            <span style="font-weight: bold;">1 phòng tắm</span>
                            <span><b>·</b></span>
                            <span style="font-weight: bold;">Dành cho <span>4 người</span></span>
                        </div>
                    </div>
                    <br>
                    <div class="thong-tin" style="margin-bottom: 10px; word-wrap: break-word;font-size: 16px;">
                        <p><strong>Fanpage: Aimee House Xin chào! Chào bạn đã đến với AimeeHomestay dành riêng cho:</strong></p>
                        <p>+ Các cặp đôi đi du lịch ưa thích không gian "cá tính, hiện đại, lãng mạng, ấm cúng"</p>
                        <p>+ Những người đi công tác xa muốn được ở trong không gian "tiện nghi, rộng rãi, thân thuộc như ở nhà" AimeeHomestay của chúng tôi bao gồm:</p>
                        <p>- 5 phòng có giường đôi mềm mại thoải mái tạo cảm giác thư giãn sau những ồn ào của Phố thị</p>
                        <p>- Điều hoà 2 chiều - Phòng tắm rộng rãi, sạch sẽ, hiện đại, tiện nghi gồm:2 khăn tắm, sữa tắm, dầu gội, bàn chải, kem đánh răng, máy sấy </p>
                        <p>- Cafe, lipton, nước uống miễn phí cùng với ấm siêu tốc</p>
                        <p>- Phòng bếp đầy đủ tiện nghi: tủ lạnh, bếp hồng ngoại, lò nướng, lò vi sóng, bát đũa,... </p>
                        <p> - Wifi miễn phí - Có chỗ để xe máy</p>
                        <p>- Toạ lạc tại Phan Bội Châu đối diễn quán ăn nổi tiếng Quán Ngon và cách 5 phút đi bộ tới Tống Duy Tân.</p>
                    </div>
                    <br>
                    <div class="tien-ich">
                        <div class="tien-ich" style="margin-bottom: 10px;">
                            <h3><b>Tiện ích, tiện nghi</b></h3>
                            <div class="row">
                                <div class="col-sm-4" style="margin-bottom: 5px;font-weight: 900;">Wifi</div>
                                <div class="col-sm-4" style="margin-bottom: 5px;font-weight: 900;">Internet</div>
                                <div class="col-sm-4" style="margin-bottom: 5px;font-weight: 900;">Nóng lạnh</div>
                                <div class="col-sm-4" style="margin-bottom: 5px;font-weight: 900;">Máy giặt</div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="noi-quy" style="margin-bottom: 50px;">
                        <h3><b>Nội quy và chính sách về chỗ ở</b></h3>
                        <div class="noi-quy-content">
                            <p style="font-weight: 700;margin-bottom: 10px;">Hạn chế làm ồn sau 11 giờ</p>
                            <p style="font-weight: 700;margin-bottom: 10px;">Không hút thuốc ở khu vực chung</p>
                            <p style="font-weight: 700;margin-bottom: 10px;">Không nuôi thú cưng trong phòng</p>
                        </div>
                    </div>
                    <div class="binh-luan" style="margin-bottom: 10px;">
                        <h3><b>Bình luận</b></h3>
                        <br>
                        <div class="binh-luan" style="border-bottom: 2px solid #f2f2f2;margin-bottom: 10px;">
                            <div class="user-name" style="margin-bottom: 5px;font-weight: 900;">Bui Thanh </div>
                            <div class="time" style="margin-bottom: 10px;">khoảng 2 tháng trước</div>
                            <div class="comment">Very nice and friendly. She let me check-in early.</div>
                        </div>
                        <div class="binh-luan" style="border-bottom: 2px solid #f2f2f2;margin-bottom: 10px;">
                            <div class="user-name" style="margin-bottom: 5px;font-weight: 900;">Bui Thanh </div>
                            <div class="time" style="margin-bottom: 10px;">khoảng 2 tháng trước</div>
                            <div class="comment">Very nice and friendly. She let me check-in early.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="dat-lich-room">
                        <div class="price">
                            <span><h2 style="font-weight: 900;">315,000₫</h2><span>/tháng</span></span>
                        </div>
                        <br>
                        <div>
                            <a href="#" style="text-decoration: none;">
                                <button class="dat-lich">Đặt lịch</button>
                            </a>
                        </div>
                        <span style="line-height: 1.5;">Hoặc:</span>
                        <div>
                            <a href="#">
                                <button class="lien-he">Liên hệ trực tiếp</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2><b>Chỗ ở tương tự</b></h2>
                <%- include("partials/post"); -%>
            </div>
            <div class="row">
                <h2><b>Chỗ ở khác của người đăng</b></h2>
                <%- include("partials/post"); -%>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.gallery').slick({
                infinite: false,
                lazyLoad: 'ondemand',
                slidesToShow: 2.4,
                slidesToScroll: 1,
                responsive: [{
                    breakpoint: 990,
                    settings: {
                        slidesToShow: 2
                    }
                }]
            });
            $('.gallery-img').mouseenter(function() {
                $(this).addClass('is-hover');
            }).mouseleave(function() {
                $(this).removeClass('is-hover');
            })
            $('.gallery').mouseenter(function() {
                $(this).addClass('is-hover');
            }).mouseleave(function() {
                $(this).removeClass('is-hover');
            })
        });
    </script>