<!DOCTYPE html>
<html lang="en">

<head>
    <title>Đăng Nhập</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link href="/css/user-login.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" style="background-color: #ffffff;">
        <div class="container">
            <div class="navbar-header">
                <b><a class="navbar-brand " href="/" id="logo">TroDe</a></b>
                <b><span class="blink" style="font-size: x-large;">Đăng Nhập</span></b>
    </nav>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3 style="font-size: 22px;font-weight: 900;float: left;">Đăng nhập ngay!

                </h3>
                <span style="font-size: 15px;font-weight: 700;float: right;">Thành viên mới? <a id = "a-text-dangki" href="signup" style="font-weight: 700;">Đăng kí</a> tại đây</span>
                <br>
            </div>
            <div class="col-md-8 offset-md-2">
                <div class="content-login" style="padding: 25px 50px 50px 25px;box-shadow: 0 9px 46px 8px rgba(0,0,0,.02), 0 24px 38px 3px rgba(0,0,0,.04), 0 11px 15px -7px rgba(0,0,0,.05);border-radius: .625rem;">
                    <form action="/login" method="post">
                        <div class="row">
                            <div class="col-md-7">
                                <label for="username" style="font-size: 14px;color: #424242;font-weight: 900;">*Username hoặc Email</label>
                                <div>
                                    <input name="username" type="text" id="username" class="form-control user-name" placeholder="Vui lòng nhập Username hoặc Email của bạn" required data-bv-notempty-message="Không được để trống">
                                    <span style="float: right;margin-top: -32px;margin-right: 10px;"><i class="far fa-envelope" style="font-size: 24px;"></i></span>
                                    <%if(message.length > 0) {%>
                                        <h4 style="text-align: center; font-size : 15px; border-radius: 8px; font-weight: 900; height: 40px;margin-top: 1px;" class="alert alert-danger mt4">
                                            <%=message%>
                                        </h4>
                                        <% }%>
                                </div>
                                <label for="password" style="font-size: 14px;font-weight: 900;margin-top: 10px;">*Mật khẩu</label>
                                <div>
                                    <input name="password" type="password" id="password" class="form-control password" placeholder="Vui lòng nhập mật khẩu của bạn" required data-bv-notempty-message="Không được để trống">
                                    <span style="float: right;margin-top: -32px;margin-right: 10px;"><i class="fas fa-lock" style="font-size: 24px;"></i></span>
                                </div>
                                <a href="forget-password" style="text-decoration: none; color: rgb(0, 195, 255);font-weight: 900;"><span id="text-qmk">Quên mật khẩu?</span></a>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary" id="button-submit">ĐĂNG NHẬP</button>
                                        <span style="font-size: 12px;margin-bottom: 15px; font-weight: 500;color: #222;">Hoặc, đăng nhập bằng</span>
                                        <a href="/auth/google" id="link-gmail"><button type="button" class="btn btn-primary" id="button-gmail"><span id = "txt-google" style="font-size: 15px;vertical-align: middle;">Đăng nhập với Google</span><span id = "txt-google1" style="font-size: 15px;vertical-align: middle;">Google</span>&nbsp;&nbsp;<i class="fab fa-google" style="font-size: 24px;vertical-align: middle;color: rgb(200, 216, 212);"></i></button></a>
                                        <a href="/auth/facebook" id="link-fb"><button type="button" class="btn btn-primary" id="button-facebook"><span id = "txt-facebook" style="font-size: 15px;vertical-align: middle;">Đăng nhập với Facebook</span><span id = "txt-facebook1" style="font-size: 15px;vertical-align: middle;">Facebook</span>&nbsp;&nbsp;<i class="fab fa-facebook-square" style="font-size: 24px;vertical-align: middle;color:#3a5999;"></i></button></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
                <br><br>
            </div>
        </div>
    </div>



    <%- include("partials/footer"); -%>