<%- include("partials/user-head-host"); -%>
    <%- include("partials/user-navbar-host"); -%>
        <div class="container" id="profile-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="side-profile">
                        <div class="div-side">
                            <a href="/profile/edit" class="a-side" style="text-decoration: none;">
                                <span id="sp-color">Quản lý tài khoản</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/booked-list/1" class="a-side" style="text-decoration: none;">
                                <span id="sp">Đặt lịch</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/await-bookings/1" class="a-side" style="text-decoration: none;">
                                <span id="sp">Quản lý đặt lịch</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/wish-list/1" class="a-side" style="text-decoration: none;">
                                <span id="sp">Yêu thích</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/list-host/1" class="a-side" style="text-decoration: none;">
                                <span id="sp">Bài đã đăng</span>
                            </a>
                        </div>
                    </div>
                    <b><a class="navbar-brand logo1" href="/" id="logo1">TroDe</a></b>
                </div>
                <%- include("partials/content-host"); -%>
            </div>
        </div>
        <br>
        <div class="container" id="loading">
            <div class="loader">Loading...</div>
            <h1 style="text-align: center;font-weight: 700;">Xin vui lòng chờ một lát ...</h1>
        </div>

        <script type="text/javascript" src="js/host.js"></script>
        <script>
            $('form').submit(function() {
                $('#profile-content').hide();
                $('#loading').show();
                $('#footer').hide();
                console.log('submit');
            });

            function convertPriceFormat(price) {
                console.log(price);
                price = price.replace(/,/g, '');
                console.log(price = Number(price).toLocaleString("en"));
                $("[name='gia_phong']").val(price);
            }
            $('#phan-loai-thue').select2();
            $('#hinh-thuc').select2();
            $('#khac').select2();
            $('select').select2();
            $('#phong-khach').select2();
            $(".select2-container").css("width", "100%");
        </script>
        <footer class="container-fluid" id="footer1" style="padding: 24px 15px;background: #f8f8f8;;letter-spacing: .23px;border-top: 2px solid #f2f2f2;font-weight: 500;font-size: 16px;text-align: center;margin-top: 80px;color: #999;">
            Copyright © 2020 TroDe
        </footer>
        </body>