<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quên mật khẩu</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="/css/user-reset-pasword.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" style="background-color: #ffffff;">
        <div class="container">
            <div class="navbar-header">
                <b><a class="navbar-brand " href="/" id="logo">TroDe</a></b>
                <b><span class="blink" style="font-size: x-large;">Quên mật khẩu</span></b>
    </nav>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3 style="font-size: 22px;">Đặt lại mật khẩu
                </h3>
                <br>
            </div>
            <div class="col-md-10 offset-md-1">
                <div class="content-verfication" style="padding: 25px 50px 25px 50px;">
                    <form method="post" action = <%=action%> >
                        <div class="row">
                            <div class="col-md-7">
                                <span>Nhập mật khẩu mới của bạn bên dưới.</span>
                            </div>
                            <br><br>
                            <div class="col-md-7">
                                <label for="password" style="font-size: 14px;">*Mật khẩu</label>
                                <input name="password" type="password" id="password" class="form-control" placeholder="Vui lòng nhập mật khẩu của bạn" style="border-radius: 0;color: #424242; font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                            </div>
                            <br><br>
                            <div class="col-md-7">
                                <label for="password" style="font-size: 14px;">*Nhập lại mật khẩu của bạn</label>
                                <input name="passwordcf" type="password" id="password" class="form-control" placeholder="Vui lòng nhập mật khẩu của bạn" style="border-radius: 0;color: #424242; font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                <%if(message.length > 0) {%>
                                   <h4   style = "text-align: center; font-size : 15px;" class = "alert alert-danger mt4" ><%=message%></h4>
                                <% }%>
                            </div>
                            <br><br><br><br>
                            <div class="col-md-7">
                                <button type="submit" id="continue" class="btn btn-primary"><span id = "text-sub">GỬI</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <%- include("partials/footer"); -%>
