<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quên mật khẩu</title>
    <link rel="shortcut icon" href="https://res.cloudinary.com/dt6qnb0hs/image/upload/v1607615051/130082109_1350536555284774_1569636060532671486_n_haukkh.png">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/user-forget-password.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" style="background-color: #ffffff;">
        <div class="container">
            <div class="navbar-header">
                <b><a class="navbar-brand " href="/" id="logo">TroDe</a></b>
                <b><span class="blink" style="font-size: x-large;">Quên mật khẩu</span></b>
    </nav>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3 style="font-size: 22px;font-weight: 900;">Quên mật khẩu
                </h3>
                <br>
            </div>
            <div class="col-md-10 offset-md-1">
                <div class="content-forget" style="padding: 25px 50px 50px 25px;box-shadow: 0 9px 46px 8px rgba(0,0,0,.02), 0 24px 38px 3px rgba(0,0,0,.04), 0 11px 15px -7px rgba(0,0,0,.05);border-radius: .625rem;">
                    <form action="/forget-password" method="post">
                        <div class="row">
                            <div class="col-md-7">
                                <span style="font-size: 15px;font-weight: 900;">Vui lòng nhập tài khoản bạn muốn lấy lại mật khẩu.</span>
                            </div>
                            <br><br>
                            <div class="col-md-6">
                                <label for="btn-forget" style="font-weight: 900;font-size: 14px;">*Số điện thoại hoặc email</label>
                                <input name="email" type="text" id="btn-forget" class="form-control" placeholder="Vui lòng nhập số điện thoại hoặc email của bạn" required data-bv-notempty-message="Không được để trống">
                                <%if(message.length > 0) {%>
                                    <h4 style="text-align: center; font-size : 15px; border-radius: 8px; font-weight: 900; height: 40px;margin-top: 1px;margin-bottom: 5px;" class="alert alert-danger mt4">
                                        <%=message%>
                                    </h4>
                                    <% }%>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" id="continue" class="btn btn-primary"><span id = "text-sub">TIẾP THEO</span></button>
                            </div>

                            <div class="col-md-7">
                                <a href="login" style="text-decoration: none;"><span id="text-back">Quay lại</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <%- include("partials/footer"); -%>