<%- include("partials/navbar-user-post", {username: username}); -%>
    <div class="container" id="profile-content">
        <div class="row">
            <div class="col-md-2">
                <span style="font-size: 12px;">Xin chào <%=username%>,</span>
                <br><br>
                <a href="profile" style="text-decoration: none;">
                    <i class="fas fa-user-circle" style="color: hotpink;font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Quản lý tài khoản</b></span>
                </a>
                <ul style="list-style: none;margin-left: -5px;">
                    <li>
                        <a href="profile-info" style="text-decoration: none;">
                            <span id="ul-li">Thông tin cá nhân</span>
                        </a>
                    </li>
                    <li>
                        <a href="profile-change-password" style="text-decoration: none;">
                            <span id="ul-li">Đổi mật khẩu</span>
                        </a>
                    </li>
                    <li>
                        <a href="profile-address" style="text-decoration: none;">
                            <span id="ul-li">Địa chỉ</span>
                        </a>
                    </li>
                </ul>
                <a href="#" style="text-decoration: none;">
                    <i class="fas fa-bell" style="color: rgb(255, 30, 0);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Thông báo</b></span>
                </a>
                <br><br>
                <a href="#" style="text-decoration: none;">
                    <i class="fas fa-clipboard" style="color: rgb(0, 195, 255);font-size: 19px;">&nbsp;</i><span id="catelogy"><b>Bài đã đăng</b></span>
                </a>
                <br><br>
                <a href="post" style="text-decoration: none;">
                    <i class="far fa-edit" style="color: rgb(255, 0, 98);font-size: 19px;">&nbsp;</i><span id="catelogy" style="color: #1A9CB7;"><b>Tạo bài viết mới</b></span>
                </a>
            </div>
            <form action="/post" method="post" enctype="multipart/form-data">
                <div class="col-sm-10">
                    <span style="font-size: 17px;"><b>Tạo bài viết mới</b></span>
                    <br><br>
                    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0,0,0,.05);">

                        <div class="row" style="padding:40px;">
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Thông tin cơ bản</b></div>
                            <br>
                            <div class="col-sm-6">
                                <label for="phan-loai">*Phân loại nơi cho thuê</label>
                                <select class="custom-select" id="phan-loai" name="phan-loai" required data-bv-notempty-message="Không được để trống">
                                    <option value="" disabled selected hidden>Chọn loại cho thuê</option>
                                    <option value="Chung cư">Chung cư</option>
                                    <option value="Phòng trọ">Phòng trọ</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="title">*Tên nhà trọ, chung cư</label>
                                <input name="postTitle" type="text" id="title" class="form-control" placeholder="Vui lòng nhập tiêu đề bài viết của bạn" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                            <div class="col-sm-6">
                                <label for="phan-loai">*Hình thức cho thuê</label>
                                <select class="custom-select" id="phan-loai" name="phan-loai" required data-bv-notempty-message="Không được để trống">
                                    <option value="" disabled selected hidden>Loại phòng dành cho</option>
                                    <option value="Cá nhân">Cá nhân</option>
                                    <option value="Tập thể">Tập thể</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="phan-loai">Khác (dành riêng cho phòng trọ)</label>
                                <select class="custom-select" id="phan-loai" name="phan-loai">
                                    <option value="" disabled selected hidden>Chọn lựa chọn của bạn</option>
                                    <option value="Ở chung với chủ nhà">Ở chung với chủ nhà</option>
                                    <option value="Ở riêng với chủ nhà">Ở riêng với chủ nhà</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <div style="border:5px solid #f8f8f8; background-color:#f8f8f8"></div>
                </div>
                <div class="col-sm-10 address">
                    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0,0,0,.05);">
                        <div class="row" style="padding:40px;">
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Địa chỉ</b></div>
                            <br>
                            <div class="col-sm-6">
                                <label for="city">*Tỉnh/ Thành phố</label>
                                <input name="addressCity" type="text" id="city" class="form-control" data-meta="Field" value="Hà Nội" readonly="" tabindex="-1" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                            <div class="col-sm-6">
                                <label for="huyen">*Quận/ Huyện </label>
                                <br>
                                <select class="custom-select" id="huyen" name="district" placeholder="Vui lòng chọn quận/huyện" required data-bv-notempty-message="Không được để trống">
                                    <option value="" selected= "selected">Lựa chọn Quận/Huyện</option>
                                  </select>
                                <br><br>
                            </div>
                            <div class="col-sm-6">
                                <label for="xa">*Phường/ Xã </label>
                                <br>
                                <select class="custom-select" id="xa" name="sub_district" required data-bv-notempty-message="Không được để trống">
                                    <option value="" selected= "selected">Lựa chọn Phường/Xã</option>
                                  </select>
                            </div>

                            <div class="col-sm-6">
                                <label for="address">*Địa chỉ</label>
                                <input name="privateAddress" type="text" id="address" class="form-control" placeholder="Vui lòng nhập địa chỉ số nhà, tòa nhà, phố, ..." required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10">
                    <div style="border:5px solid #f8f8f8; background-color:#f8f8f8"></div>
                </div>

                <div class="col-sm-10 space">
                    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0,0,0,.05);">
                        <div class="row" style="padding:40px;">
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Không gian phòng</b></div>
                            <br>
                            <div class="col-sm-6">
                                <label for="title">*Phòng trọ, chung cư của bạn có diện tích là? M2</label>
                                <input name="postTitle" type="number" id="title" class="form-control" placeholder="Vui lòng nhập diện tích căn phòng cho thuê của bạn" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                            <div class="col-sm-6">
                                <label for="title">*Phòng ngủ</label>
                                <input name="postTitle" type="number" id="title" class="form-control" placeholder="Vui lòng nhập số phòng ngủ" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                            <div class="col-sm-6">
                                <label for="title">*Phòng tắm</label>
                                <input name="postTitle" type="number" id="title" class="form-control" placeholder="Vui lòng nhập số phòng tắm" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <label for="phan-loai">*Phòng khách</label>
                                <select class="custom-select" id="phan-loai" name="phan-loai" required data-bv-notempty-message="Không được để trống">
                                    <option value="" disabled selected hidden>Chọn lựa chọn của bạn</option>
                                    <option value="Không có phòng khách">Không có phòng khách</option>
                                    <option value="Có phòng khách">Có phòng khách</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <label for="phan-loai">*Phòng bếp</label>
                                <select class="custom-select" id="phan-loai" name="phan-loai" required data-bv-notempty-message="Không được để trống">
                                    <option value="" disabled selected hidden>Chọn lựa chọn của bạn</option>
                                    <option value="Không có phòng bếp">Không có phòng bếp</option>
                                    <option value="Có phòng bếp">Có phòng bếp</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10">
                    <div style="border:5px solid #f8f8f8; background-color:#f8f8f8"></div>
                </div>

                <div class="col-sm-10 utilities">
                    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0,0,0,.05);">
                        <div class="row" style="padding:40px;">
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Tiện nghi</b></div>
                            <br>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Wifi" value="Wifi" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Wifi" style="vertical-align: middle;">Wifi</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Internet" value="Internet" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Wifi" style="vertical-align: middle;">Internet</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Điều hòa" value="Điều hòa" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Wifi" style="vertical-align: middle;">Điều hòa</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="TV" value="TV" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="TV" style="vertical-align: middle;">TV</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Quạt" value="Quạt" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Quạt" style="vertical-align: middle;">Quạt</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Bình nóng lạnh" value="Bình nóng lạnh" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Quạt" style="vertical-align: middle;">Bình nóng lạnh</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Máy giặt" value="Máy giặt" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Máy giặt" style="vertical-align: middle;">Máy giặt</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Tủ lạnh" value="Tủ lạnh" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Tủ lạnh" style="vertical-align: middle;">Tủ lạnh</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Giá phơi quần áo" value="Giá phơi quần áo" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Giá phơi quần áo" style="vertical-align: middle;">Giá phơi quần áo</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Cửa sổ" value="Cửa sổ" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Cửa sổ" style="vertical-align: middle;">Cửa sổ</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Ban công" value="Ban công" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Ban công" style="vertical-align: middle;">Ban công</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Tủ quần áo" value="Tủ quần áo" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Tủ quần áo" style="vertical-align: middle;">Tủ quần áo</label>
                                </div>
                                <br>
                            </div>
                            <br>
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Thiết bị an toàn</b></div>
                            <br>
                            <div class="col-sm-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Còi báo cháy" value="Còi báo cháy" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Còi báo cháy" style="vertical-align: middle;">Còi báo cháy</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Bình chữa cháy" value="Bình chữa cháy" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Bình chữa cháy" style="vertical-align: middle;">Bình chữa cháy</label>
                                </div>
                                <br>
                            </div>
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Tiện ích</b></div>
                            <br>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Thang máy" value="Thang máy" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Thang máy" style="vertical-align: middle;">Thang máy</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Thang bộ" value="Thang bộ" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Thang bộ" style="vertical-align: middle;">Thang bộ</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Khu vực đổ rác" value="Khu vực đổ rác" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Khu vực đổ rác" style="vertical-align: middle;">Khu vực đổ rác</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Khu vực để xe" value="Khu vực để xe" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Khu vực để xe" style="vertical-align: middle;">Khu vực để xe</label>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10">
                    <div style="border:5px solid #f8f8f8; background-color:#f8f8f8"></div>
                </div>

                <div class="col-sm-10 policy">
                    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0,0,0,.05);">
                        <div class="row" style="padding:40px;">
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Thiết lập nội quy</b></div>
                            <br>
                            <div class="col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Hạn chế làm ồn sau 11 giờ" value="Hạn chế làm ồn sau 11 giờ" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Hạn chế làm ồn sau 11 giờ" style="vertical-align: middle;">Hạn chế làm ồn sau 11 giờ</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Không hút thuốc ở khu vực chung" value="Không hút thuốc ở khu vực chung" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Không hút thuốc ở khu vực chung" style="vertical-align: middle;">Không hút thuốc ở khu vực chung</label>
                                </div>
                                <br>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Không nuôi thú cưng trong phòng" value="Không nuôi thú cưng trong phòng" style="width:15px;height:15px;margin-right: 3px;">
                                    <label class="form-check-label" for="Không nuôi thú cưng trong phòng" style="vertical-align: middle;">Không nuôi thú cưng trong phòng</label>
                                </div>
                                <br>
                            </div>
                            <br>
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Thêm quy định mới</b></div>
                            <br>
                            <div><label for="huong-dan"><i><b>Hướng dẫn cách gõ</b></i></label>
                                <textarea class="form-control" rows="4" id="huong-dan" class="form-control" data-meta="Field" readonly="" tabindex="-1"><p>text</p> để xác định một đoạn văn ( tức là viết các đoạn văn ngắt đoạn với nhau). &#13;&#10;<b>text</b> hoặc <strong>text</strong> để in đậm chữ.&#13;&#10;<i>text</i> để viết chữ nghiêng.&#13;&#10;<u>text</u> để viết chữ gạch chân.</textarea>
                                <br>
                            </div>
                            <div class="col-md-12" style="margin-top: 0px; margin-bottom: 20px;">
                                <label for="mota">*Nội dung</label>
                                <textarea class="form-control" id="mota" rows="6" required data-bv-notempty-message="Không được để trống" style="border-radius: 4px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);" placeholder="Thêm quy định ..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10">
                    <div style="border:5px solid #f8f8f8; background-color:#f8f8f8"></div>
                </div>

                <div class="col-sm-10 policy">
                    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0,0,0,.05);">
                        <div class="row" style="padding:40px;">
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>*Thông tin nhà trọ</b></div>
                            <br>
                            <div><label for="huong-dan"><i><b>Hướng dẫn cách gõ</b></i></label>
                                <textarea class="form-control" rows="4" id="huong-dan" class="form-control" data-meta="Field" readonly="" tabindex="-1"><p>text</p> để xác định một đoạn văn ( tức là viết các đoạn văn ngắt đoạn với nhau). &#13;&#10;<b>text</b> hoặc <strong>text</strong> để in đậm chữ.&#13;&#10;<i>text</i> để viết chữ nghiêng.&#13;&#10;<u>text</u> để viết chữ gạch chân.</textarea>
                                <br>
                            </div>
                            <div class="col-md-12" style="margin-top: 0px; margin-bottom: 20px;">
                                <label for="mota">*Nội dung</label>
                                <textarea class="form-control" id="mota" rows="6" required data-bv-notempty-message="Không được để trống" style="border-radius: 4px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .08);" placeholder="Nhập thông tin ..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10">
                    <div style="border:5px solid #f8f8f8; background-color:#f8f8f8"></div>
                </div>

                <div class="col-sm-10 space">
                    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0,0,0,.05);">
                        <div class="row" style="padding:40px;">
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Số người</b></div>
                            <br>
                            <div class="col-sm-6">
                                <label for="title">*Người lớn</label>
                                <input name="postTitle" type="number" id="title" class="form-control" placeholder="Nhập thông tin" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <label for="title">*Trẻ em (2 - 12 TUỔI)</label>
                                <input name="postTitle" type="number" id="title" class="form-control" placeholder="Nhập thông tin" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                            <div class="col-sm-3">
                                <label for="title">*Trẻ em (dưới 2 tuổi)</label>
                                <input name="postTitle" type="number" id="title" class="form-control" placeholder="Nhập thông tin" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                            <div class="col-sm-12">
                                <label for="title">*Tổng số người</label>
                                <input name="postTitle" type="number" id="title" class="form-control" placeholder="Nhập thông tin" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10">
                    <div style="border:5px solid #f8f8f8; background-color:#f8f8f8"></div>
                </div>

                <div class="col-sm-10 space">
                    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0,0,0,.05);">
                        <div class="row" style="padding:40px;">
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Giá trọ (VNĐ)/ 1 tháng</b></div>
                            <br>
                            <div class="col-sm-12">
                                <label for="title" style="margin-bottom: 10px;">*Số tiền (VNĐ)</label>
                                <input name="postTitle" type="number" id="title" class="form-control" placeholder="Nhập thông tin" min="0" oninput="validity.valid||(value='');" required data-bv-notempty-message="Không được để trống">
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-10">
                    <div style="border:5px solid #f8f8f8; background-color:#f8f8f8"></div>
                </div>

                <div class="col-sm-10 uploadimg">
                    <div class="content" style="background-color: #fff; height: fit-content;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0,0,0,.05);">
                        <div class="row" style="padding:40px;">
                            <div style="font-size: large;border-bottom: 2px solid #f2f2f2;"><b>Hình ảnh nhà trọ</b></div>
                            <br>
                            <div style="font-size: large;padding: 10px;"><b>Ảnh bìa</b></div>
                            <div class="col-sm-12" style="margin-bottom: 30px;">
                                <div class="row">
                                    <div class="col-md-3 imgUp">
                                        <div class="imagePreview"></div>
                                        <label class="btn btn-primary" id="btn-upload">
                                         Tải ảnh lên<input name = "image" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                              </label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div style="font-size: large;padding: 10px;"><b>Ảnh phòng trọ, chung cư</b></div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-md-3 imgUp">
                                        <div class="imagePreview"></div>
                                        <label class="btn btn-primary" id="btn-upload">
                                         Tải ảnh lên<input name = "image" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                              </label>
                                    </div>
                                    <!-- col-2 -->
                                    <i class="fa fa-plus-circle imgAdd" aria-hidden="true"></i>
                                </div>
                                <!-- row -->
                            </div>
                        </div>

                        <div class="row" style="padding:30px; margin-top: -20px;">
                            <div class="col-sm-6">
                                <a href="post" style="text-decoration: none;">
                                    <button type="button" class="btn btn-primary" id="button-submit"><span id = "text-btn"><b>HỦY BỎ</b></span></button>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-primary" id="button-submit"><span id = "text-btn"><b>LƯU THAY ĐỔI</b></span></button>
                            </div>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <script>
        /*$('input.numberformat').keyup(function(event) {

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        // skip for arrow keys
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        if (event.which >= 37 && event.which <= 40) return;

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        // format number
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        $(this).val(function(index, value) {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            return value
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .replace(/\D/g, "")
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                .replace(/\B(?=(\d{3})+(?!\d))/g, ".");
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        });
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    });*/
        $(".imgAdd").click(function() {
            $(this).closest(".row").find('.imgAdd').before('<div class="col-sm-3 imgUp"><div class="imagePreview"></div><label class="btn btn-primary" id="btn-upload">Upload<input type="file" name = "image" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="fas fa-trash-alt del"></i></div>');
        });
        $(document).on("click", "i.del", function() {
            $(this).parent().remove();
        });
        $(function() {
            $(document).on("change", ".uploadFile", function() {
                var uploadFile = $(this);
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file
                    reader.onloadend = function() { // set image data as background of div
                        //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                        uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                    }
                }
            });
            var info = {
                "Quận Ba Đình": ["Phường Cống Vị", "Phường Điện Biên", "Phường Đội Cấn", "Phường Giảng Võ",
                    "Phường Kim Mã", "Phường Liễu Giai", "Phường Ngọc Hà", "Phường Ngọc Khánh", "Phường Nguyễn Trung Trực",
                    "Phường Phúc Xá", "Phường Quán Thánh", "Phường Thành Công", "Phường Trúc Bạch", "Phường Vĩnh Phúc"
                ],
                "Quận Bắc Từ Liêm": ["Phường Cổ Nhuế 1", "Phường Cổ Nhuế 2", "Phường Đông Ngạc", "Phường Đức Thắng",
                    "Phường Liên Mạc", "Phường Minh Khai", "Phường Phúc Diễn", "Phường Phú Diễn", "Phường Tây Tựu",
                    "Phường Thụy Phương", "Phường Thượng Cát", "Phường Xuân Đỉnh", "Phường Xuân Tảo"
                ],
                "Quận Cầu Giấy": ["Phường Dịch Vọng", "Phường Dịch Vọng Hậu", "Phường Mai Dịch", "Phường Nghĩa Đô",
                    "Phường Nghĩa Tân", "Phường Quan Hoa", "Phường Trung Hòa", "Phường Yên Hòa"
                ],
                "Quận Đống Đa": ["Phường Cát Linh", "Phường Hàng Bột", "Phường Khâm Thiên", "Phường Khương Thượng",
                    "Phường Ô Chợ Dừa", "Phường Phương Liên", "Phường Phương Mai", "Phường Quang Trung", "Phường Quốc Tử Giám",
                    "Phường Thịnh Quang", "Phường Thổ Quan", "Phường Trung Liệt", "Phường Trung Phụng", "Phường Trung Tự",
                    "Phường Văn Chương", "Phường Văn Miếu"
                ],
                "Quận Hà Đông": ["Phường Biên Giang", "Phường Dương Nội", "Phường Đồng Mai", "Phường Hà Cầu",
                    "Phường Kiến Hưng", "Phường La Khê", "Phường Mộ Lao", "Phường Nguyễn Trãi", "Phường Phú La",
                    "Phường Phúc La", "Phường Phú Lãm", "Phường Phú Lương", "Phường Quang Trung", "Phường Vạn Phúc",
                    "Phường Văn Quán", "Phường Yên Nghĩa", "Phường Yết Kiêu"
                ],
                "Quận Hai Bà Trưng": ["Phường Bạch Đằng", "Phường Bách Khoa", "Phường Bạch Mai", "Phường Bùi Thị Xuân",
                    "Phường Cầu Dền", "Phường Đống Mác", "Phường Đồng Nhân", "Phường Đồng Tâm", "Phường Lê Đại Hành",
                    "Phường Minh Khai", "Phường Ngô Thì Nhậm", "Phường Nguyễn Du", "Phường Phạm Đình Hổ", "Phường Phố Huế",
                    "Phường Quỳnh Lôi", "Phường Quỳnh Mai", "Phường Thanh Lương", "Phường Thanh Nhàn", "Phường Trương Định", "Phường Vĩnh Tuy"
                ],
                "Quận Hoàng Mai": ["Phường Đại Kim", "Phường Định Công", "Phường Giáp Bát", "Phường Hoàng Liệt",
                    "Phường Hoàng Văn Thụ", "Phường Lĩnh Nam", "Phường Mai Động", "Phường Tân Mai", "Phường Thanh Trì",
                    "Phường Thịnh Liệt", "Phường Trần Phú", "Phường Tương Mai", "Phường Vĩnh Hưng", "Phường Yên Sở"
                ],
                "Quận Hoàn Kiếm": ["Phường Chương Dương", "Phường Cửa Đông", "Phường Cửa Nam", "Phường Đồng Xuân",
                    "Phường Hàng Bạc", "Phường Hàng Bài", "Phường Hàng Bồ", "Phường Hàng Bông", "Phường Hàng Buồm",
                    "Phường Hàng Đào", "Phường Hàng Gai", "Phường Hàng Mã", "Phường Hàng Trống", "Phường Lý Thái Tổ",
                    "Phường Phan Chu Trinh", "Phường Phúc Tân", "Phường Tràng Tiền", "Phường Trần Hưng Đạo"
                ],
                "Quận Long Biên": ["Phường Bồ Đề", "Phường Cự Khối", "Phường Đức Giang", "Phường Giang Biên",
                    "Phường Gia Thụy", "Phường Long Biên", "Phường Ngọc Lâm", "Phường Ngọc Thụy", "Phường Phúc Đồng",
                    "Phường Phúc Lợi", "Phường Sài Đồng", "Phường Thạch Bàn", "Phường Thượng Thanh", "Phường Việt Hưng"
                ],
                "Quận Nam Từ Liêm": ["Phường Cầu Diễn", "Phường Đại Mỗ", "Phường Mễ Trì", "Phường Mỹ Đình 1",
                    "Phường Mỹ Đình 2", "Phường Phú Đô", "Phường Phương Canh", "Phường Tây Mỗ", "Phường Trung Văn",
                    "Phường Xuân Phương"
                ],
                "Quận Tây Hồ": ["Phường Bưởi", "Phường Nhật Tân", "Phường Phú Thượng", "Phường Quảng An",
                    "Phường Thụy Khuê", "Phường Tứ Liên", "Phường Xuân La", "Phường Yên Phụ"
                ],
                "Quận Thanh Xuân": ["Phường Hạ Đình", "Phường Khương Đình", "Phường Khương Mai", "Phường Khương Trung",
                    "Phường Kim Giang", "Phường Nhân Chính", "Phường Phương Liệt", "Phường Thanh Xuân Bắc", "Phường Thanh Xuân Nam",
                    "Phường Thanh Xuân Trung", "Phường Thượng Đình"
                ]
            }
            window.onload = function() {
                var huyen = document.getElementById("huyen");
                var xa = document.getElementById("xa");
                for (var qh in info) {
                    huyen.options[huyen.options.length] = new Option(qh, qh);
                }
                huyen.onchange = function() {
                    xa.length = 1;
                    if (this.selectedIndex < 1)
                        return;
                    var px = info[this.value];
                    for (var i = 0; i < px.length; i++) {
                        xa.options[xa.options.length] = new Option(px[i], px[i]);
                    }
                }
            }
        });
    </script>
    <%- include("partials/footer"); -%>