<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quên mật khẩu</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="/css/user-verification-email.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" style="background-color: #ffffff;">
        <div class="container">
            <div class="navbar-header">
                <b><a class="navbar-brand " href="home" id="logo">TroDe</a></b>
                <b><span class="blink" style="font-size: x-large;">Quên mật khẩu</span></b>
    </nav>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h3 style="font-size: 22px;">Xác thực email
                </h3>
                <br>
            </div>
            <div class="col-md-10 offset-md-1">
                <div class="content-verfication" style="padding: 25px 50px 25px 50px;">
                    <form>
                        <div class="row">
                            <div class="col-md-7">
                                <i class="fas fa-envelope" style="font-size: xxx-large;color: hotpink;">&nbsp;</i><span>Chúng tôi sẽ gửi mã một lần tới Email của bạn</span>
                            </div>
                            <br><br><br><br>
                            <div class="col-md-7">
                                <input type="text" id="btn-forget" class="form-control" placeholder="Vui lòng nhập số điện thoại hoặc email của bạn" style="border-radius: 0;color: #424242; font-size: small;height: 40px;" data-meta="Field" value="username@gmail.com" readonly="" tabindex="-1">
                            </div>
                            <br><br><br>
                            <div class="col-md-7">
                                <input type="text" id="btn-email" class="form-control" placeholder="Vui lòng nhập 6 số mã xác thực email" style="border-radius: 0;color: #424242; font-size: small;height: 40px;" maxlength="6" pattern="([0-9]|[0-9]|[0-9]|[0-9]|[0-9]|[0-9])">
                            </div>
                            <div class="col-md-2">
                                <button id="btn-guima">Gửi mã</button>
                            </div>
                            <br><br><br>
                            <div class="col-md-7">
                                <a href="#">
                                    <button type="submit" id="continue" class="btn btn-primary"><span id = "text-sub">TIẾP THEO</span></button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <script>
        $("#btn-email").keyup(function() {
            $("#btn-email").val(this.value.match(/[0-9]*/));
        });
    </script>
    <%- include("partials/footer"); -%>