<%- include("partials/user-general-profile"); -%>
    <%- include("partials/user-navbar-profile"); -%>
        <div class="container" id="profile-content">
            <div class="row">
                <div class="col-md-2">
                    <div class="side-profile">
                        <div class="div-side">
                            <a href="/profile/info" class="a-side" style="text-decoration: none;">
                                <span id="sp">Thông tin cá nhân</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/profile/change-password" class="a-side" style="text-decoration: none;">
                                <span id="sp-color" style="color: #333333;font-weight: 900;">Đổi mật khẩu</span>
                            </a>
                        </div>
                        <div class="div-side">
                            <a href="/profile/address" class="a-side" style="text-decoration: none;">
                                <span id="sp">Địa chỉ</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <span style="font-size: 17px;"><b>Thay đổi mật khẩu</b></span>
                    <br><br>
                    <div class="content" style="background-color: white; height: 420px;border-radius: 8px;box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .05);">
                        <form action="/profile-change-password" method="post">
                            <div class="row" style="padding:40px;">
                                <div class="col-md-7">
                                    <span id="title-item-profile"><i>*Mật khẩu hiện tại</i></span>
                                    <br>
                                    <br>
                                    <input name="oldPass" type="password" id="user-name1" class="form-control btn-edit" placeholder="Vui lòng nhập mật khẩu hiện tại của bạn" style="border-radius: 0;color: #424242;font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>
                                <div class="col-md-7">
                                    <span id="title-item-profile"><i>*Mật khẩu mới</i></span>
                                    <br>
                                    <br>
                                    <input name="newPass" type="password" id="user-name1" class="form-control btn-edit" placeholder="Vui lòng nhập mật khẩu mới của bạn" style="border-radius: 0;color: #424242;font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>
                                <div class="col-md-7">
                                    <span id="title-item-profile"><i>*Nhập lại mật khẩu của bạn</i></span>
                                    <br>
                                    <br>
                                    <input name="reNewPass" type="password" id="user-name1" class="form-control btn-edit" placeholder="Vui lòng nhập lại mật khẩu của bạn" style="border-radius: 0;color: #424242;font-size: small;height: 40px;" required data-bv-notempty-message="Không được để trống">
                                    <br>
                                </div>

                                <div class="row" style="padding:40px;">
                                    <div class="col-md-5">
                                        <button type="submit" class="btn btn-primary" id="button-submit"><span id = "text-btn"><b>LƯU THAY ĐỔI</b></span></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
