footer {
    background-color: darkgray;
    padding: 25px;
}

body {
    background-color: #f7f7f7;
    font-family: Inter;
}

#navbar-container {
    background-color: #ffffff;
    height: 105px;
}

#nav-bar {
    background-color: #fff;
    height: 124px;
}

#logo {
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
    vertical-align: bottom;
}

#logo:hover {
    color: #17ca9d;
}

.text-admin {
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
}

.admin-name {
    font-weight: 700;
    color: #333;
}

.a-sub-nav {
    color: #a3acb9;
    padding: 2px 0;
    margin-right: 30px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.darkmode-toggle--white:focus {
    outline: 0 none;
    border: none;
}

.darkmode-toggle:focus {
    outline: 0 none;
    border: none;
}

.darkmode--activated #nav-bar {
    background-color: #222222;
}

.darkmode--activated #logo,
.darkmode--activated .admin-name,
.darkmode--activated .a-sub-nav {
    color: #fff;
}

.darkmode--activated #title-item-profile,
.darkmode--activated .txt-darkmode,
.darkmode--activated #txt-darkmode,
.darkmode--activated .btn-edit,
.darkmode--activated #sp-color,
.darkmode--activated .a-side,
.darkmode--activated .proflie-item-info {
    color: #fff;
}

.txt-darkmode {
    color: #333;
}

.darkmode--activated #wrap-info {
    background-color: #333;
    box-shadow: none;
}

#list-down {
    background-color: transparent;
    border: none;
}

#list-down:focus {
    outline: 0 none;
}

.nav-item-small {
    display: none;
    float: right;
}

.nav-item.nav-item-small .dropdown-menu {
    border: 1px solid #d6d6d6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    background: #fff;
    width: 200px;
    float: right;
    margin-top: 1px;
    border: none;
}

.a-drop {
    text-decoration: none;
    color: #222222;
    font-weight: 400;
    margin-left: 20px;
}

.a-drop:hover {
    color: #17ca9d;
}

.div-drop1 {
    height: 30px;
    font-size: 15px;
}

.darkmode--activated #Layer {
    fill: #fff;
}

.darkmode--activated #drop-down1 {
    background-color: #222222;
}

.darkmode--activated .a-drop {
    color: #fff;
}

@media (max-width:769px) {
    .nav-item.menu-info {
        display: none;
    }
    .nav-item-small {
        display: block;
    }
}