#a-sub-1 {
    color: #333;
    font-weight: 600;
    border-bottom: 3px solid #17ca9d;
}

#a-sub-2:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-3:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-4:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-5:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-6:hover {
    color: #333;
    font-weight: 600;
}


/*----------------------------------------*/

#wrap-content {
    margin-top: 250px;
    margin-bottom: 170px;
}

#title-item-profile {
    font-size: 15px;
    color: #333;
    font-weight: 900;
}

.proflie-item-info {
    font-size: 17px;
    color: #212121;
    margin-top: 10px;
}

#wrap-info {
    text-align: center;
    padding-top: 30px;
    background-color: white;
    height: 150px;
    box-shadow: 2px 4px 4px #eee;
    transform: translate3d(0px, 0px, 0px);
    background-color: #fff;
    border-bottom: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
}

.darkmode--activated #a-sub-1 {
    color: #fff;
    border-bottom: 3px solid #fff;
}

@media (max-width:769px) {
    #a-sub-1,
    #a-sub-2,
    #a-sub-3,
    #a-sub-4,
    #a-sub-5 {
        display: none;
    }
}