h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    line-height: 1.25;
    color: #222222;
    padding: 20px 0px 0px;
}

.wrap-content {
    margin-top: 100px;
}

.box-info {
    background-color: #fff;
    height: fit-content;
    padding: 12px;
}

.right-side {
    height: 144.800px;
    padding: 12px;
    background: #fff;
    border: none;
    border-right: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
}

#div-name-host {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    margin-top: -22px;
}

#a-name-host:hover #name-host {
    color: #17ca9d;
}

img {
    margin-top: 13px;
    width: 100%;
    height: 80px;
}

.div-img:hover #name-host {
    color: #17ca9d;
}

.box-info1 {
    background-color: #fff;
    height: 122px;
    padding: 12px;
}

.status-xacnhan {
    display: none;
}

.status-tuchoi {
    display: none;
}

.btn-funtion {
    border: transparent;
    background-color: #fff;
    font-size: 15px;
}

.btn-funtion:hover {
    font-weight: 700;
}

.btn-funtion:focus {
    outline: none;
}

.info {
    margin-top: -30px;
}

.info1 {
    margin-top: -30px;
    float: right;
}

.darkmode--activated #nav-bar {
    background-color: #222222;
}

.txt-time {
    color: #222222;
}

.txt-diachi {
    color: #222222;
}

.darkmode--activated #logo,
.darkmode--activated .admin-name,
.darkmode--activated .a-sub-nav,
.darkmode--activated .txt-time,
.darkmode--activated h4,
.darkmode--activated .txt-diachi,
.darkmode--activated .txt-darkmode {
    color: #fff;
}

.darkmode--activated #a-sub-3 {
    border-bottom: 3px solid #fff;
    color: #fff;
}

.darkmode-toggle--white:focus {
    outline: 0 none;
    border: none;
}

.darkmode-toggle:focus {
    outline: 0 none;
    border: none;
}

.row-darkmode {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 4px 4px #eee;
    transform: translate3d(0px, 0px, 0px);
}

.darkmode--activated .row-darkmode,
.darkmode--activated .box-info1,
.darkmode--activated .right-side {
    background-color: #222;
    box-shadow: none;
}

.darkmode--activated #Layer_1 {
    fill: white;
}

.darkmode--activated #xac-nhan,
.darkmode--activated #tu-choi {
    background-color: transparent;
    color: #fff
}

@media (min-width:991px) and (max-width:1200px) {
    .info1 {
        margin-top: -40px;
        margin-right: 3%;
    }
    #xac-nhan {
        margin-left: -10px;
        padding: 0;
        margin-right: 8px;
    }
    #tu-choi {
        padding: 0;
    }
    .right-side {
        height: 174.4px;
        padding-top: 30px;
    }
}

#sdt {
    margin-top: 40px;
    text-align: center;
}

@media (min-width:769px) and (max-width:990px) {
    #a-sub-4 {
        display: none;
    }
    #a-sub-5 {
        display: none;
    }
    .info,
    .info1 {
        margin-top: 5px;
    }
    .txt {
        display: none;
    }
    .right-side {
        height: 205px;
        padding-top: 30px;
    }
}

@media (max-width:769px) {
    #a-sub-1 {
        display: none;
    }
    #a-sub-4 {
        display: none;
    }
    #a-sub-5 {
        display: none;
    }
    .right-side {
        border: 2px solid #f2f2f2;
    }
    .box-info1 {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid #f2f2f2;
    }
    .wrap-content-info {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .info {
        margin-top: 5px;
    }
    #xac-nhan {
        padding: 0;
        margin-top: -15px;
    }
    #tu-choi {
        padding: 0;
        margin-top: -15px;
    }
    #a-img {
        display: none;
    }
    .info1 {
        margin-top: -20px;
    }
    #sdt {
        margin-top: 0px;
        height: 40px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 2px solid #f2f2f2;
        padding: 0;
    }
    .info1 {
        margin-top: 10px;
    }
}

@media (max-width:480px) {
    #a-sub-2 {
        display: none;
    }
    .wrap-a {
        margin-bottom: 10px;
    }
    .row-darkmode {
        margin-top: 20px;
    }
}