footer {
    background-color: darkgray;
    padding: 25px;
}

body {
    background-color: #f7f7f7;
    font-family: Inter;
}

#navbar-container {
    background-color: #ffffff;
    height: 105px;
}

#nav-bar {
    background-color: rgb(255, 255, 255);
    height: 70px;
}

#search-new {
    font-family: Inter;
    background-color: rgb(0, 0, 0, 0);
    width: 550px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    transition: transform .4s;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    height: 40px;
    margin-top: 6px;
}

#btserach {
    height: 33px;
    width: 56px;
    margin-top: 7px;
    margin-left: -60px;
    background: #555;
    border-radius: 6px;
}

.menu-info {
    margin-top: 25px;
    text-align: right;
    color: #222222;
    font-weight: 700;
    font-size: 15px;
}


/*Navbar css */

#navsearch {
    padding-top: 3px;
    margin-left: 120px;
}

#logo {
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
}

#logo:hover {
    color: #17ca9d;
}

@media (max-width:992px) {
    #search-new {
        width: 400px;
    }
}

#a-info {
    text-decoration: none;
    color: #222222;
}

#a-info:hover {
    color: #17ca9d;
}

@media (max-width:769px) {
    #search-new {
        width: 40%;
        margin-top: 0px;
        margin-right: 30px;
    }
    #btserach {
        margin-top: -62px;
        margin-left: 46%;
    }
    .menu-info {
        margin-top: -58px;
    }
}