footer {
    background-color: darkgray;
    padding: 25px;
}

body {
    background-color: #f7f7f7;
    font-family: Inter;
}

#navbar-container {
    background-color: #ffffff;
    height: 105px;
}

#nav-bar {
    background-color: #fff;
    height: 70px;
}

#search-new {
    font-family: Inter;
    background-color: rgb(0, 0, 0, 0);
    width: 550px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    transition: transform .4s;
    border-radius: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    height: 40px;
    margin-top: 6px;
}

#btserach {
    height: 33px;
    width: 56px;
    margin-top: 7px;
    margin-left: -60px;
    background: #555;
    border-radius: 6px;
}

.menu-info {
    margin-top: 17px;
    color: #222222;
    font-weight: 700;
    font-size: 15px;
    float: right;
}


/*Navbar css */

#navsearch {
    padding-top: 3px;
    margin-left: 120px;
}

#logo {
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
}

#logo:hover {
    color: #17ca9d;
}

#a-host {
    vertical-align: middle;
    text-decoration: none;
    color: #222222;
    font-weight: 700;
    float: right;
    margin-top: 5px;
}

#a-host:hover {
    color: #17ca9d;
}

#user-name {
    vertical-align: middle;
    background: #f6f6f6;
    border-radius: 2rem;
    border: none;
    height: 34px;
    color: #222222;
    font-weight: 700;
    width: fit-content;
    float: right;
}

#user-name:focus {
    outline: none;
}

#user-name:hover #sp-username {
    color: #17ca9d;
}

#drop-down {
    position: relative;
    border: 1px solid #d6d6d6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1);
    background: #fff;
    margin-top: 1px;
    height: 311px;
    width: 275px;
    float: right;
}

#a-drop {
    text-decoration: none;
    color: #222222;
    font-weight: 400;
    margin-left: 20px;
}

#div-drop:hover #a-drop {
    font-weight: 700;
}

#div-drop {
    height: 50.75px;
    padding: 13px 16px;
    box-shadow: 0 1px 0 0 #eeeef0;
    position: relative;
    font-size: 15px;
    vertical-align: middle;
}

#div-drop:hover {
    border-left: 3px solid #17ca9d;
}

@media (min-width:992px) and (max-width:1200px) {
    #search-new {
        width: 450px;
    }
}

#a-info {
    text-decoration: none;
    color: #222222;
}

#a-info:hover {
    color: #17ca9d;
}

@media (max-width:992px) {
    #search-new {
        width: 300px;
    }
}

#a-info {
    text-decoration: none;
    color: #222222;
}

#a-info:hover {
    color: #17ca9d;
}

@media (max-width:769px) {
    #search-new {
        width: 40%;
        margin-top: 0px;
        margin-right: 30px;
    }
    #btserach {
        margin-top: -62px;
        margin-left: 46%;
    }
    .menu-info {
        margin-top: -62px;
    }
}