/* Add a gray background color and some padding to the footer */

div {
    display: block;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    height: 100%;
}


/*carousel slide css */

.carousel.slide {
    background-color: #5061cb;
    padding-top: 5.43%;
    padding-left: 11.5%;
    padding-right: 11.5%;
}


/*content css */

@media (max-width: 768px) {
    .carousel.slide {
        height: 100%;
        width: 100%;
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .carousel-caption {
        display: none;
    }
}


/* content */

.product {
    position: relative;
}

.product .product-image .a {
    display: block;
}

.product .product-image img {
    width: 100%;
    height: auto;
}

.product .product-content {
    padding: 12px 12px 12px;
    overflow: hidden;
    position: relative
}

.product .title {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0 0 3px;
    transition: all .3s ease 0s;
    font-family: Montserrat;
}

.product .title a {
    color: rgba(0, 0, 0, .5)
}

.product .title a:hover {
    color: #c0392b
}

.product .price {
    color: #000;
    font-size: 17px;
    margin: 0;
    display: block;
    font-family: Montserrat;
    transition: all .5s ease 0s
}

.product:hover .price {
    opacity: 0
}

.product .view {
    display: block;
    color: #c0392b;
    font-weight: 600;
    font-size: 14px;
    opacity: 0;
    position: absolute;
    left: 10px;
    bottom: -20px;
    font-family: Montserrat;
    transition: all .5s ease 0s
}

.product:hover .view {
    opacity: 1;
    bottom: 12px
}

@media only screen and (max-width:990px) {
    .product {
        margin-bottom: 30px
    }
}

.xemthem {
    padding-top: 10px;
    width: 40%;
    margin-left: 25%;
    transition: all .2s ease .0s;
}

.xemthem .bt:hover {
    color: #c0392b
}