body {
    background-color: #fff;
    font-family: Inter;
    font-weight: 500;
    color: #222222;
}

.wrap-content {
    margin-top: 110px;
}

h3 {
    font-weight: 900;
    line-height: 1.25;
}

.servie {
    width: 355px;
    transform: translate3d(0px, 0px, 0px);
    display: inline-block;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 4px 4px #eee;
}

.imgServie {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    height: 185px;
    background-position: 50%;
    background-size: cover;
    background-color: #eee;
}

.servie-info {
    background-color: #fff;
    color: #222222;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 12.8px 16px;
}

.servie-title {
    font-weight: bold;
    font-size: 16px;
}

.servie-content {
    font-size: 14px;
}

.servie:hover .servie-title {
    color: #17ca9d;
}

.items {
    width: 100%;
    margin: 0px auto;
    margin-top: 40px;
    border: 6px;
    float: left;
    margin-bottom: 100px;
    position: relative;
}

.item-content {
    position: relative;
}

.slick-slide {
    margin: 10px;
    outline: none;
    position: relative;
    display: block;
}

.slick-slide #wrap-content1-img {
    width: 100%;
    border: 0px solid #fff;
    height: 281.25px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.items:focus {
    outline: none;
}

.items .slick-next,
.items .slick-prev {
    position: absolute;
    display: block;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    outline: none;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 7px -4px #000;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    transition: all .3s ease-in-out;
    z-index: 1;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.slick-prev:before {
    content: "\f060";
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1;
    transition: all .3s;
    color: #222;
}

.slick-next:before {
    content: "\f061";
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1;
    transition: all .3s;
    color: #222;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}

#text-item {
    z-index: 100;
    position: absolute;
    top: 70%;
    left: 10%;
    padding-right: 5%;
    font-size: 24px;
    color: #fff;
    font-weight: 900;
}

.item-content2 {
    width: 100%;
    margin: 10px;
    margin-top: 40px;
    border: 6px;
    float: left;
    margin-bottom: 100px;
    position: relative;
}

.slick-slide #wrap-content2-img {
    width: 100%;
    border: 0px solid #fff;
    height: 178.25px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.item-content2:focus {
    outline: none;
}

#wrap-content2-item-info-title {
    padding: 10px 0px 10px;
    text-decoration: none;
    color: #555555;
    font-weight: 700;
    font-size: 16px;
}

#wrap-content2-item-info-content {
    text-decoration: none;
    color: #555555;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

#a-item-content2 {
    text-decoration: none;
}

.wrap-content2-items .slick-next,
.wrap-content2-items .slick-prev {
    position: absolute;
    display: block;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    top: 40%;
    transform: translateY(-50%);
    padding: 0;
    outline: none;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 7px -4px #000;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    transition: all .3s ease-in-out;
    z-index: 1;
    background-color: #fff;
}

#a-item-content2:hover #wrap-content2-item-info-content {
    color: #17ca9d;
}

#chung-cu {
    float: left;
    margin-top: 40px;
    margin-right: 0.5%;
}

#phong-tro {
    margin-top: 40px;
    margin-left: 0.5%;
}

.darkmode--activated #wrap-content2-item-info-content {
    color: #fff;
}

.darkmode--activated #wrap-content2-item-info-title {
    color: #fff;
}

.darkmode--activated .servie-info {
    background-color: #222222;
    color: #fff;
}

.darkmode--activated #nav-bar {
    background-color: #222222;
    color: #fff;
}

.darkmode--activated #logo {
    color: #fff;
}

.darkmode--activated #a-host {
    color: #fff;
}

.darkmode--activated .servie {
    box-shadow: none;
}

.darkmode-toggle--white:focus {
    outline: 0 none;
    border: none;
}

.darkmode-toggle:focus {
    outline: 0 none;
    border: none;
}

.darkmode-layer--button {
    width: 40px;
    height: 40px;
}

.darkmode-toggle {
    width: 40px;
    height: 40px;
}

.darkmode--activated #drop-down {
    background-color: #222222;
}

.darkmode--activated .icon-darkmode {
    fill: #fff;
}

.darkmode--activated #a-drop {
    color: #fff;
}

@media (min-width:991px) and (max-width:1200px) {
    .slick-slide #wrap-content1-img {
        height: 233.75px;
    }
    #chung-cu {
        margin-right: 3%;
    }
    #phong-tro {
        margin-left: 3%;
    }
}

@media (min-width:769px) and (max-width:990px) {
    .slick-slide #wrap-content1-img {
        height: 255px;
    }
    #chung-cu {
        margin-right: 9%;
    }
    #phong-tro {
        margin-left: 9%;
    }
}

@media (max-width:769px) {
    .slick-slide #wrap-content1-img {
        height: 255px;
    }
    #chung-cu {
        margin-bottom: 3%;
        margin-right: 0%;
    }
    #phong-tro {
        margin-left: 0%;
    }
}