#wrap-content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.ten-user {
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

.dia-chi {
    color: #999!important;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
}

.darkmode--activated #nav-bar {
    background-color: #222222;
    color: #fff;
}

.darkmode--activated #logo {
    color: #fff;
}

.darkmode--activated #a-host {
    color: #fff;
}

.darkmode-toggle--white:focus {
    outline: 0 none;
    border: none;
}

.darkmode-toggle:focus {
    outline: 0 none;
    border: none;
}

.darkmode--activated #drop-down {
    background-color: #222222;
}

.darkmode--activated .icon-darkmode {
    fill: #fff;
}

.darkmode--activated #a-drop {
    color: #fff;
}

.darkmode--activated #a-info {
    color: #fff;
}

.ava-darkmode{
    background-color:#f6f6f6
    ;width: 100%;
    height: 230px;
    border-radius: 5px;
}

.darkmode--activated .ava-darkmode{
    background-color:#222;
    color:#fff;