.arrow-left {
    border: none;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus {
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.pagination>li>a,
.pagination>li>span {
    border: none;
    color: #fff;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    color: #000000;
    background-color: transparent;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    border: none;
    color: #17ca9d;
    background-color: transparent;
}

#paginate {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.pagination {
    padding: 30px;
}

.darkmode--activated .svg-dark {
    fill:#fff;
}

.darkmode--activated .select2-container--default .select2-selection--single .select2-selection__rendered{
    background-color:black;
    color:#fff;
}

.darkmode--activated .select2-container--open .select2-dropdown--below{
    background-color:black;
    color:#fff;
}
