#a-sub-4 {
    color: #333;
    font-weight: 600;
    border-bottom: 3px solid #17ca9d;
}

#a-sub-1:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-2:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-3:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-5:hover {
    color: #333;
    font-weight: 600;
}

.info-title {
    color: #333;
}


/*----------------------------------------*/

h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 32px;
    color: #222222;
}

body {
    background-color: #f7f7f7;
    font-family: Inter;
}

#xoa {
    border: none;
    background-color: transparent;
    margin-top: 10px;
    position: absolute;
    right: 10px;
}

#xoa:focus {
    border: none;
    background-color: transparent;
    outline: 0 none;
}

#xoa:hover .trash {
    fill: rgb(209, 21, 21);
}

#a-title:hover .info-title {
    color: #17ca9d;
}

.info-title {
    color: #222222;
}

.product-card:hover .info-title {
    color: #222222;
}

.product-card {
    background-color: #ffffff;
}

.darkmode--activated .trash {
    fill: #fff;
}

.darkmode--activated .product-card:hover .info-title {
    color: #fff;
}

.darkmode--activated .info-title {
    color: #fff;
}

.darkmode--activated .product-card {
    background-color: #222;
}

.darkmode--activated .svg-price {
    fill: #fff;
}

.darkmode-toggle--white:focus {
    outline: 0 none;
    border: none;
}

.darkmode-toggle:focus {
    outline: 0 none;
    border: none;
}

.darkmode--activated #a-sub-4 {
    border-bottom: 3px solid #fff;
    color: #fff;
}

.darkmode--activated #nav-bar {
    background-color: #222222;
}

.darkmode--activated #logo,
.darkmode--activated .admin-name,
.darkmode--activated .a-sub-nav,
.darkmode--activated .txt-time,
.darkmode--activated h4,
.darkmode--activated .txt-diachi,
.darkmode--activated .txt-darkmode {
    color: #fff;
}

@media (min-width:769px) and (max-width:990px) {
    #a-sub-1,
    #a-sub-2,
    #a-sub-3,
    #a-sub-4,
    #a-sub-5 {
        display: none;
    }
}