body {
    background-color: #fff;
    font-family: Inter;
}


/* gallery */

.gallery {
    width: 100%;
    margin: 0px auto;
    margin-top: -40px;
    border: 6px;
    float: left;
    margin-bottom: 20px;
    position: relative;
    background: #222;
}

.slick-slide {
    padding-left: 3px;
    padding-right: 3px;
    outline: none;
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.gallery-img {
    width: 100%;
    border: 0px solid #fff;
    height: 420px;
    display: inline-block;
    transform: scale(1);
    transition: transform .45s cubic-bezier(.645, .045, .355, 1) 0s, opacity .45s cubic-bezier(.645, .045, .355, 1) 0s;
}

.gallery.is-hover .gallery-img:not(.is-hover) {
    opacity: .6;
}

.gallery-img:hover {
    transform: scale(1.015);
    transition: transform .45s cubic-bezier(.645, .045, .355, 1) 0s;
    -webkit-transform: scale(1.015);
    -moz-transform: scale(1.015);
    -ms-transform: scale(1.015);
    -o-transform: scale(1.015);
    cursor: pointer;
}

.gallery:focus {
    outline: none;
}

.gallery .slick-next,
.gallery .slick-prev {
    margin-left: 60px;
    margin-right: 60px;
    position: absolute;
    display: block;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    color: transparent;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    outline: none;
    border: 1px solid #000;
    box-shadow: 0 0 7px -4px #000;
    width: 56px;
    height: 56px;
    border-radius: 56px;
    transition: all .3s ease-in-out;
    z-index: 1;
    background-color: rgba(0, 0, 0, .7);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.slick-prev:before {
    content: "\f060";
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1;
    transition: all .3s;
    color: #fff;
}

.slick-next:before {
    content: "\f061";
    font-family: FontAwesome;
    font-size: 20px;
    line-height: 1;
    transition: all .3s;
    color: #fff;
}

a {
    text-decoration: none;
}

a:focus {
    outline: none;
}


/* wrap-content */

.btn-like {
    float: right;
    border: none;
    background-color: #fff;
}

.fa-heart {
    margin-right: 5px;
    font-size: 16px;
}

.btn-like:focus {
    outline: none;
}

.btn-like:hover .fa-heart {
    color: red;
    border: none;
}

.a {
    text-decoration: none;
    color: #222222;
}

.btn-like:hover .reaction {
    font-weight: 900;
}

.dat-lich-room {
    margin-top: 30px;
    padding: 24px 12px 24px 12px;
    border: 2px solid #f2f2f2;
    box-shadow: 2px 4px 4px #eee;
    width: 100%;
    border-radius: 4px;
}

.dat-lich,
.lien-he {
    background: rgb(23, 202, 157);
    border-color: transparent;
    background-size: 200% auto;
    width: 100%;
    height: 45px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-size: 200% auto;
    box-shadow: 2px 4px 4px #eee;
}

.dat-lich:hover {
    font-weight: 900;
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

.lien-he:hover {
    font-weight: 900;
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

.dat-lich:focus {
    font-weight: 900;
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

.lien-he:focus {
    font-weight: 900;
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#sdt-lien-he {
    display: none;
}

.btn-function {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 7px;
    font-weight: 500;
    background-color: rgb(23, 202, 157);
    border-color: transparent;
}

.btn-function:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
    background-color: rgb(23, 202, 157);
    font-weight: 900;
}

#button-submit {
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 900;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    float: right;
    margin-top: -10px;
    margin-bottom: 10px;
}

#button-submit:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#button-submit:focus {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#zoomin,
#zoomout {
    background: #ffffff;
    border-color: transparent;
    background-size: 200% auto;
    height: 40px;
    width: 40px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 17px;
    background-size: 200% auto;
    box-shadow: 0 0 4px 0 rgba(15, 22, 33, 0.6);
    top: 50%;
    transform: translateY(-50%);
}

.plus {
    fill: #0f162199;
}

#zoomin:hover .plus {
    fill: #000;
    outline: 0 none;
}

#zoomin:focus .plus {
    fill: #0f162199;
    outline: 0 none;
}

#zoomin:focus {
    outline: 0 none;
}

.mins {
    fill: #0f162199;
}

#zoomout:hover .mins {
    fill: #000;
    outline: 0 none;
}

#zoomout:focus .mins {
    fill: #0f162199;
    outline: 0 none;
}

#zoomout:focus {
    outline: 0 none;
}

.btn-ip {
    color: #424242;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    width: 100%;
    border-radius: 7px;
    background-color: rgba(61, 26, 26, 0.07)!important;
    border: 1 px solid #E8ECEE!important;
    padding-left: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.btn-ip:focus {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
    background-color: #fff!important;
}

.gj-editor [role=body] {
    border: 3px solid #f2f2f2;
    padding: 15px;
}

.gj-editor-md {
    border-radius: 8px;
    border: 3px solid #f2f2f2;
}

#circle1 {
    font-size: 43px;
    margin-left: 14px;
}

#fav-button:hover {
    fill: #E61E14;
    font-weight: 900;
}

#btn-report:hover {
    font-weight: 900;
    fill: #ffb025;
}

.gj-textbox-md {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    padding: 0px 16px;
    height: 42px;
}

.gj-textbox-md:focus {
    border-bottom: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

.gj-datepicker-md [role=right-icon] {
    top: 10px;
    right: 16px
}

.gj-picker.gj-picker-md.datetimepicker.gj-unselectable {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.gj-picker.datetimepicker [role=header] {
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #222222;
}

.gj-picker .selected {
    color: #222222;
}

.gj-icon.selected {
    display: inline-block;
}

.gj-picker-md [role=switch] {
    background-color: #ffffff;
    color: #222222;
}

.gj-picker.datetimepicker [role=header] [role=date] {
    display: none;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
    background: #17ca9d;
    color: #ffffff;
    border-radius: 0;
}

.gj-picker-md table tr td.gj-cursor-pointer div:hover {
    border-radius: 0;
}

.gj-picker-md [role=footer] button.gj-button-md {
    color: #17ca9d;
}

.gj-picker.gj-picker-md.datetimepicker.gj-unselectable {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.current-month.disabled {
    border: 1px solid #e4e7e7;
    font-weight: 700;
}

.today.gj-cursor-pointer {
    border: 1px solid #e4e7e7;
    font-weight: 700;
}

.current-month.gj-cursor-pointer {
    border: 1px solid #e4e7e7;
    font-weight: 700;
}

.gj-picker-md .arrow-begin,
.gj-picker-md [role=body] [role=arrow] {
    background: #17ca9d;
}

.gj-picker [role=body] [role=hour].selected {
    background: #17ca9d;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gj-picker-md .arrow-end {
    background: #17ca9d;
    border: 16px solid #17ca9d;
}

.thong-tin {
    font-size: 16px;
    margin-top: 15px;
    height: fit-content;
    width: 100%;
    font-family: Inter;
    line-height: 1.35;
    overflow: hidden;
}

.doc-them,
.thu-gon {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: #17ca9d;
    font-weight: 900;
    display: block;
    width: fit-content;
}

.doc-them:hover {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
}

.thu-gon:hover {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    font-weight: 900;
}

#map {
    height: 100%;
}

.img-click {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    margin-top: -40px;
    border: 6px;
    float: left;
    position: relative;
    background: #222;
}

#gallery-img1 {
    background-color: #222;
    height: 792px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    transform: scale(1);
    transition: transform .45s cubic-bezier(.645, .045, .355, 1) 0s, opacity .45s cubic-bezier(.645, .045, .355, 1) 0s;
}

.close {
    display: none;
    background-color: rgba(0, 0, 0, .45);
}

.btn-close {
    margin-top: 5px;
    background-color: #222;
    border: none;
}

.btn-close:focus {
    outline: none;
}

.a-phan-loai {
    color: #222222;
    font-size: 16px;
}

.a-phan-loai:hover {
    color: rgb(23, 202, 157);
}

.author-name {
    color: #222222;
    font-weight: 700;
}

.author:hover .name-tac-gia {
    color: rgb(23, 202, 157);
}

@media (max-width:990px) {
    .fa-user-circle {
        margin-left: 1px;
    }
}