body {
    background-color: #f8f8f8;
    font-family: Inter;
}

#logo {
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
}

#logo:hover {
    color: rgb(23, 202, 157);
}

.content-forget {
    background-color: #fff;
    height: 275.6px;
}

#continue {
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 900;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#btn-forget {
    border-radius: 7px;
    color: #424242;
    height: 40px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
}

#btn-forget:focus {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#continue:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#text-back {
    text-decoration: none;
    color: rgb(0, 195, 255);
    font-weight: 900;
}

#text-back:hover {
    color: #17ca9d;
}