body {
    background-color: #f8f8f8;
    font-family: Montserrat;
}

#a-text-dangnhap {
    text-decoration: none;
    color: rgb(0, 195, 255);
}

#a-text-dangnhap:hover {
    color: #17ca9d;
}

.content-signup {
    background-color: #fff;
    height: 423x;
}

#button-submit {
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 900;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#button-submit:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#text-qmk {
    font-size: 15px;
    margin-bottom: 12px;
}

#logo {
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
}

#logo:hover {
    color: #17ca9d;
}

#button-submit:focus {
    outline: 0;
}

#button-facebook {
    background-color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 12px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
}

#button-gmail {
    background-color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 12px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
}

#button-facebook:hover {
    font-weight: 900;
    box-shadow: 0 0 5px 0 rgb(133, 123, 123);
}

#button-facebook:focus {
    outline: 0;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#button-gmail:hover {
    font-weight: 900;
    box-shadow: 0 0 5px 0 rgb(133, 123, 123);
}

#button-gmail:focus {
    outline: 0;
}

#text-dk {
    font-size: 11px;
    font-weight: 500;
    color: #222;
}

.btn-ip {
    border-radius: 7px;
    color: #424242;
    height: 40px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
}

.btn-ip:focus {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

.gj-icon {
    vertical-align: middle;
    margin-top: 7px;
    margin-right: 10px;
}

.btn-date {
    border: transparent;
    border-bottom: 1px solid #e6e6e6;
    color: #424242;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-right: 25px;
}

.btn-date:focus {
    border-bottom: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
    border-radius: 7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gj-textbox-md:focus {
    border-bottom: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

.gj-picker.gj-picker-md.datetimepicker.gj-unselectable {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.gj-picker.datetimepicker [role=header] {
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #222222;
}

.gj-picker .selected {
    color: #222222;
}

.gj-icon.selected {
    display: inline-block;
}

.gj-picker-md [role=switch] {
    background-color: #ffffff;
    color: #222222;
}

.gj-picker.datetimepicker [role=header] [role=date] {
    display: none;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
    background: #17ca9d;
    color: #ffffff;
    border-radius: 0;
}

.gj-picker-md table tr td.gj-cursor-pointer div:hover {
    border-radius: 0;
}

.gj-picker-md [role=footer] button.gj-button-md {
    color: #17ca9d;
}

.gj-picker.gj-picker-md.datetimepicker.gj-unselectable {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.current-month.disabled {
    border: 1px solid #e4e7e7;
    font-weight: 700;
}

.today.gj-cursor-pointer {
    border: 1px solid #e4e7e7;
    font-weight: 700;
}

.current-month.gj-cursor-pointer {
    border: 1px solid #e4e7e7;
    font-weight: 700;
}

.gj-picker-md .arrow-begin,
.gj-picker-md [role=body] [role=arrow] {
    background: #17ca9d;
}

.gj-picker [role=body] [role=hour].selected {
    background: #17ca9d;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gj-picker-md .arrow-end {
    background: #17ca9d;
    border: 16px solid #17ca9d;
}

@media (max-width:990px) and (min-width:768px) {
    #button-submit {
        width: 125%;
    }
    #button-gmail {
        width: 125%;
    }
    #button-facebook {
        width: 125%;
    }
}