body {
    background-color: #fff;
    font-family: Inter;
    font-weight: 500;
    color: #222222;
}

.wrap-content {
    margin-top: 110px;
    height: fit-content;
}

.product-card {
    width: 100%;
    transform: translate3d(0px, 0px, 0px);
    display: inline-block;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 4px 4px #eee;
    margin-bottom: 24px;
    height: 385px;
}

.img-link {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    height: 185px;
    background-position: 50%;
    background-size: cover;
    background-color: #eee;
    background-image: url('https://res.cloudinary.com/dt6qnb0hs/image/upload/v1606789819/photo-lazy_dwd9hw.jpg');
    background-repeat: no-repeat;
}

.product-info {
    background-color: #fff;
    color: #222222;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 12.8px 16px;
}

.info-title {
    font-size: 16px;
    margin-bottom: 0;
    display: -webkit-box;
    max-height: 52px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-weight: 700;
}

.info-category {
    margin-top: 6px;
    margin-bottom: 6px!important;
    font-size: 14px;
}

.so-nguoi {
    text-transform: lowercase!important;
}

.price {
    font-weight: 700;
    color: #222;
}

.address {
    margin-top: 6px;
}

.product-card:hover .info-title {
    color: #17ca9d;
}

.phongtro-chungcu {
    margin-bottom: 8px;
    text-transform: uppercase;
    color: #888;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

#sort:focus {
    outline: none;
}

.darkmode--activated .product-card{
    box-shadow:none;
}

.darkmode--activated .product-info {
    background-color: #222;
    color: #fff;
}

.darkmode--activated .price {
    color: #fff;
}

.darkmode--activated .svg-price{
    fill:#fff;
}
