body {
    background-color: #eff0f5;
    font-family: Montserrat;
}

#logo {
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
}

#logo:hover {
    color: hotpink;
}

.content-forget {
    background-color: white;
    height: 275.6px;
}

#continue {
    width: 100%;
    background-color: #d4f3eb;
    color: #11c296;
    border: 1px solid #d4f3eb;
}

#continue:hover {
    background-color: #17ca9d;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#text-back {
    text-decoration: none;
    color: rgb(0, 195, 255);
    font-size: 13px;
}

#text-back:hover {
    color: hotpink;
}