body {
    background: #f8f8f8;
    font-family: Inter;
}

#a-sub-1 {
    color: #333;
    font-weight: 600;
    border-bottom: 3px solid #17ca9d;
}

#a-sub-4:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-2:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-3:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-5:hover {
    color: #333;
    font-weight: 600;
}

#profile-content {
    margin-top: 150px;
    height: 84vh;
}

#title-item-profile {
    font-size: 13px;
    color: #424242;
}

.side-profile {
    background-color: #fff;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 5px!important;
}

.div-side {
    border-bottom: 1px solid #e6e6e6;
    padding: 15px 0px 15px 15px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

.a-side {
    color: #666666;
    padding: 12px 20px 12px 20px;
}

.div-side:hover .a-side {
    color: #333333;
    font-weight: 900;
}

.proflie-item-info {
    font-size: 15px;
    color: #212121;
    margin-top: 10px;
}

#button-edit {
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 900;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#button-edit:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#button-edit:focus {
    outline: 0;
}

#button-submit {
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 900;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#button-submit:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#button-submit:focus {
    outline: 0;
}

.btn-edit {
    color: #424242;
    font-size: small;
    font-weight: 500;
    height: 40px;
    border-radius: 5px!important;
    background-color: rgba(61, 26, 26, 0.07)!important;
}

.btn-edit:focus {
    background-color: #fff!important;
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gj-icon {
    vertical-align: middle;
    margin-top: 7px;
    margin-left: 10px;
}

.gj-datepicker-md [role=right-icon] {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
}

#datepicker {
    border-radius: 5px!important;
    background-color: rgba(61, 26, 26, 0.07)!important;
    color: #424242;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    padding-right: 25px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding-left: 40px;
}

#datepicker:focus {
    background-color: #fff!important;
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#gallery-img {
    width: 100%;
    height: 100px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin-top: 10px;
    margin-left: 10px;
}

.title {
    font-weight: 900;
    color: #252525;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-weight: 900;
    width: 100%;
    height: 50px;
}

.title:hover {
    color: #17ca9d;
}

.gj-textbox-md:focus {
    border-bottom: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

.gj-picker.gj-picker-md.datetimepicker.gj-unselectable {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.gj-picker.datetimepicker [role=header] {
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #222222;
}

.gj-picker .selected {
    color: #222222;
}

.gj-icon.selected {
    display: inline-block;
}

.gj-picker-md [role=switch] {
    background-color: #ffffff;
    color: #222222;
}

.gj-picker.datetimepicker [role=header] [role=date] {
    display: none;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
    background: #17ca9d;
    color: #ffffff;
}

.gj-picker-md table tr td.gj-cursor-pointer div:hover {
    background-color: transparent;
    border: transparent;
    color: #17ca9d;
    font-weight: 700;
}

.gj-picker-md [role=footer] button.gj-button-md {
    color: #17ca9d;
}

.gj-picker.gj-picker-md.datetimepicker.gj-unselectable {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.current-month.disabled {
    font-weight: 500;
}

.today.gj-cursor-pointer {
    font-weight: 500;
}

.current-month.gj-cursor-pointer {
    font-weight: 500;
}

.gj-picker-md table thead {
    color: #333333;
    font-weight: 500;
}

.gj-picker-md .arrow-begin,
.gj-picker-md [role=body] [role=arrow] {
    background: #17ca9d;
}

.gj-picker [role=body] [role=hour].selected {
    background: #17ca9d;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.gj-picker-md .arrow-end {
    background: #17ca9d;
    border: 16px solid #17ca9d;
}

.gj-picker div[role=navigator] div[role=period] {
    margin-top: 7px;
}

#btn-upload {
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #fff;
    background: transparent;
    border-color: transparent;
    font-weight: 900;
    height: 38px;
    margin-top: 50px;
    margin-left: -35px;
    position: absolute;
}

#btn-upload:hover {
    opacity: 0.6;
}

.btn.active,
.btn:active {
    background-image: none;
    outline: 0 none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#btn-upload:hover {
    border-color: transparent;
    outline: 0 none;
    background: transparent;
}

#btn-upload:focus {
    outline: 0;
    background: transparent;
}

#submit {
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 900;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    height: 38px;
    padding-top: 3px;
}

#submit:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#submit:focus {
    outline: 0;
}

input[type=checkbox],
input[type=radio] {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    border: 2px solid #ced4da;
}

.select2-container--default .select2-selection--single {
    color: #424242;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    width: 100%;
    border-radius: 7px;
    background-color: rgba(61, 26, 26, 0.07)!important;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    padding-left: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding-top: 2px;
}

.select2-container {
    width: 100%;
}

.select2-container--default .select2-selection--single:focus {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
    background-color: #fff!important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fff;
    color: #333333;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]:hover {
    color: #17ca9d;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    color: #17ca9d;
    background-color: transparent;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid #ced4da;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-top: 3px;
}

.lds-default {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
    margin-left: -80px;
}

.lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #333333;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}

.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}

.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}

.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}

.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}

.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}

.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}

.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}

@keyframes lds-default {
    0%,
    20%,
    80%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.loading {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: -600px;
    display: none;
}

.loading1 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: -300px;
    display: none;
}

.loading2 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: -320px;
    display: none;
}

.darkmode--activated #nav-bar {
    background-color: #222222;
}

.darkmode--activated #logo,
.darkmode--activated .admin-name,
.darkmode--activated .a-sub-nav {
    color: #fff;
}

.darkmode--activated #a-sub-1 {
    border-bottom: 3px solid #fff;
    color: #fff;
}

.darkmode--activated #submit {
    background-color: #fff;
    color: black;
}

.title-item-profile {
    color: #666!important;
}

.sp-color {
    color: #333333;
}

.darkmode--activated #title-item-profile,
.darkmode--activated .txt-darkmode,
.darkmode--activated #txt-darkmode,
.darkmode--activated .btn-edit,
.darkmode--activated #sp-color,
.darkmode--activated .a-side {
    color: #fff;
}

.darkmode--activated .btn-edit:focus {
    color: black;
}

.darkmode-toggle--white:focus {
    outline: 0 none;
    border: none;
}

.darkmode-toggle:focus {
    outline: 0 none;
    border: none;
}

.darkmode--activated #button-submit {
    background-color: #fff;
    color: black;
}

.darkmode--activated .side-profile {
    background-color: black;
    color: #fff;
}

@media (max-width:990px) {
    .side-profile {
        margin-bottom: 20px;
    }
}

@media (min-width:769px) and (max-width:990px) {
    #a-sub-1,
    #a-sub-2,
    #a-sub-3,
    #a-sub-4,
    #a-sub-5 {
        display: none;
    }
}

@media (max-width:769px) {
    #a-sub-1,
    #a-sub-2,
    #a-sub-3,
    #a-sub-4,
    #a-sub-5 {
        display: none;
    }
    .side-profile {
        margin-bottom: 20px;
    }
    #submit {
        margin-left: 15px;
    }
}

@media (max-width:480px) {
    #submit {
        margin-left: 0px;
    }
}