body {
    background-color: #f8f8f8;
    font-family: Montserrat;
}

#a-text-dangnhap {
    text-decoration: none;
    color: rgb(0, 195, 255);
}

#a-text-dangnhap:hover {
    color: #17ca9d;
}

.content-signup {
    background-color: #fff;
    height: 423x;
}

#button-submit {
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 900;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#button-submit:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#text-qmk {
    font-size: 15px;
    margin-bottom: 12px;
}

#logo {
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
}

#logo:hover {
    color: #17ca9d;
}

#button-submit:focus {
    outline: 0;
}

#button-facebook {
    background-color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 12px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
}

#button-gmail {
    background-color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 12px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
}

#button-facebook:hover {
    font-weight: 900;
    box-shadow: 0 0 5px 0 rgb(133, 123, 123);
}

#button-facebook:focus {
    outline: 0;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#button-gmail:hover {
    font-weight: 900;
    box-shadow: 0 0 5px 0 rgb(133, 123, 123);
}

#button-gmail:focus {
    outline: 0;
}

#text-dk {
    font-size: 11px;
    font-weight: 500;
    color: #222;
}

.btn-ip {
    border-radius: 7px;
    color: #424242;
    height: 40px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
}

.btn-ip:focus {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

.gj-icon {
    vertical-align: middle;
    margin-top: 7px;
    margin-right: 10px;
}

.btn-date {
    border: transparent;
    border-bottom: 1px solid #e6e6e6;
    color: #424242;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-right: 25px;
}

.btn-date:focus {
    border-bottom: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
    border-radius: 7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}