body {
    background: #f8f8f8;
    font-family: Montserrat;
}

#profile-content {
    margin-top: 130px;
    margin-bottom: 50px;
}

#ul-li {
    color: #757575;
    font-size: 14px;
    text-decoration: none;
}

#ul-li:hover {
    color: #11c296;
}

#catelogy {
    color: #424242;
    font-size: 16px;
}

#catelogy:hover {
    color: #11c296;
}

.imagePreview {
    width: 100%;
    height: 180px;
    background-position: center center;
    background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border: 1px solid #e6e6e6;
}

#btn-upload {
    display: block;
    margin-top: -7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 100%;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 900;
    padding: 10px;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05)!important;
}

#btn-upload:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d !important;
    outline: 0 none;
}

#btn-upload:focus {
    outline: none;
}

.imgUp {
    margin-bottom: 15px;
}

.del {
    position: absolute;
    bottom: 185px;
    right: 24px;
    text-align: center;
    cursor: pointer;
    color: hotpink;
    font-size: 18px;
}

.del:hover {
    color: rgba(230, 25, 25, 0.808);
}

.imgAdd {
    background-color: white;
    border-radius: 50%;
    font-size: 32px;
    cursor: pointer;
    color: #d4f3eb;
}

.imgAdd:hover {
    color: #11c296;
    background-color: white;
}

#button-submit {
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 900;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#button-submit:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#button-submit:focus {
    outline: 0;
}

label {
    color: #424242;
    font-weight: 900;
}

.btn-ip {
    color: #424242;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    width: 100%;
    border-radius: 7px;
    background-color: rgba(61, 26, 26, 0.07)!important;
    border: 1 px solid #E8ECEE!important;
    padding-left: 15px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

option {
    font-size: 13.5px;
    cursor: pointer;
}

.btn-ip:focus {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
    background-color: #fff!important;
}

select:invalid {
    color: gray;
}

.uploadimg,
.address,
.space,
.utilities,
.policy {
    float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-function {
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-bottom: 7px;
    font-weight: 500;
    background-color: rgb(23, 202, 157);
    border-color: transparent;
}

.btn-function:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
    background-color: rgb(23, 202, 157);
    font-weight: 900;
}

#nav-bar {
    height: 110px;
}

.side-wrap {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
}

#a-side1,
#a-side2,
#a-side3,
#a-side4 {
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
    color: #252525;
    cursor: pointer;
}

#side1,
#side2,
#side3,
#side4 {
    cursor: pointer;
}

.nav-content {
    display: none;
}

#side-wrap1,
#side-wrap2,
#side-wrap3 {
    display: none;
    margin-top: 10px;
}

.a-subside {
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
    color: #252525;
    cursor: pointer;
}

#logo1 {
    padding: 20px;
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
    font-weight: 900;
}

#logo1:hover {
    color: #17ca9d;
}

.btn-date {
    border: transparent;
    border-bottom: 1px solid #e6e6e6;
    color: #424242;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding-right: 25px;
}

.btn-date:focus {
    border-bottom: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
    border-radius: 7px;
}

.gj-editor [role=body] {
    border: 3px solid #f2f2f2;
    padding: 15px;
}

.gj-editor-md {
    border-radius: 8px;
    border: 3px solid #f2f2f2;
}

.side-profile {
    background-color: #fff;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .05);
    border-radius: 5px!important;
}

.div-side {
    border-bottom: 1px solid #e6e6e6;
    padding: 12px 0px 12px 12px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

.a-side {
    color: #666666;
}

.div-side:hover .a-side {
    color: #333333;
    font-weight: 900;
}

@media (max-width:990px) {
    .uploadimg,
    .address,
    .space,
    .utilities,
    .policy {
        float: left;
    }
    .side-wrap {
        display: none;
    }
    .nav-content {
        display: block;
    }
    #nav-bar {
        height: 70px;
    }
    #profile-content {
        margin-top: 90px;
    }
    #logo1 {
        display: none;
    }
}

@media (max-width:769px) {
    .uploadimg,
    .address,
    .space,
    .utilities,
    .policy {
        float: left;
        width: 100%;
    }
    .side-wrap {
        display: none;
    }
    #nav-bar {
        height: 70px;
    }
    #profile-content {
        margin-top: 90px;
    }
    .nav-content {
        display: block;
    }
    #logo1 {
        display: none;
    }
}

@media (max-width:1200px) {
    .side-wrap {
        display: none;
    }
    #nav-bar {
        height: 70px;
    }
    #profile-content {
        margin-top: 90px;
    }
    .nav-content {
        display: block;
    }
    #logo1 {
        display: none;
    }
}