body {
    background-color: #f8f8f8;
    font-family: Inter;
}

#a-text-dangki {
    text-decoration: none;
    color: rgb(0, 195, 255);
}

#a-text-dangki:hover {
    color: #17ca9d;
}

.content-login {
    background-color: #fff;
    height: 275.6px;
}

.user-name {
    border-radius: 7px;
    color: #424242;
    height: 40px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
}

.user-name:focus {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

.password {
    border-radius: 7px;
    color: #424242;
    height: 40px;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
}

.password:focus {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#button-submit {
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    color: #fff;
    background: rgb(23, 202, 157);
    border-color: transparent;
    font-weight: 700;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

#button-submit:hover {
    border-color: #17ca9d;
    box-shadow: 0 0 5px 0 #17ca9d;
    outline: 0 none;
}

#button-facebook {
    background-color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 12px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
}

#button-gmail {
    background-color: #fff;
    height: 40px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 12px;
    color: #222;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    border-radius: 7px;
    border: 1px solid #e6e6e6;
}

#button-facebook:hover {
    font-weight: 700;
    box-shadow: 0 0 5px 0 rgb(133, 123, 123);
}

#button-facebook:focus {
    outline: 0;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

#button-gmail:hover {
    font-weight: 700;
    box-shadow: 0 0 5px 0 rgb(133, 123, 123);
}

#button-gmail:focus {
    outline: 0;
}

#text-qmk {
    font-size: 14.5px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

#text-qmk:hover {
    color: #17ca9d;
}

#txt-google1 {
    display: none;
}

#txt-facebook1 {
    display: none;
}

.welcome {
    background: rgb(23, 202, 164);
    background: linear-gradient(227deg, rgba(23, 202, 164, 1) 38%, rgba(23, 202, 176, 1) 74%);
    padding: 30px 0px;
}

::placeholder {
    padding: 10px 5px;
}

.alert {
    color: #f65e39!important;
    font-size: 14px!important;
    margin-top: -5px;
    margin-bottom: 0px;
}

.a-qmk {
    color: #17ca9d;
}

.a-qmk:hover {
    color: #222;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: 0 0 5px 0 #17ca9d;
}

.content-login {
    margin-top: -95px;
}

.navbar {
    background-color: #ffffff;
    height: 78px;
    border-bottom: 1px solid #ffffff;
}

.darkmode--activated .navbar {
    background-color: #222;
}

.darkmode--activated #logo,
.darkmode--activated .blink {
    color: #fff;
}

.txt-dark {
    color: #fff;
}

.txt-dark1 {
    color: #333333
}

.darkmode--activated .txt-dark,
.darkmode--activated .txt-dark1 {
    color: #fff;
}

.darkmode-toggle--white:focus {
    outline: 0 none;
    border: none;
}

.darkmode-toggle:focus {
    outline: 0 none;
    border: none;
}

.darkmode--activated .content-login {
    background-color: #333333;
}

.txt-dark2 {
    color: #333333;
}

.txt-dark4 {
    color: #424242;
}

.darkmode--activated .txt-dark2,
.darkmode--activated .txt-dark3,
.darkmode--activated .txt-dark4,
.darkmode--activated .a-qmk {
    color: #fff;
}

.darkmode--activated #button-submit {
    background-color: #fff;
    color: #333333;
}

@media (min-width:991px) and (max-width:1200px) {
    #button-submit {
        width: 100%;
    }
    #button-gmail {
        width: 100%;
    }
    #button-facebook {
        width: 100%;
    }
}

@media (max-width:990px) {
    #txt-google {
        display: none;
    }
    #txt-google1 {
        display: inline-block;
    }
    #txt-facebook {
        display: none;
    }
    #txt-facebook1 {
        display: inline-block;
    }
}

@media (max-width:769px) {
    .content-login {
        margin-top: 20px;
    }
    #txt-google1 {
        display: none;
    }
    #txt-google {
        display: inline-block;
    }
    #txt-facebook1 {
        display: none;
    }
    #txt-facebook {
        display: inline-block;
    }
}

#logo {
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
}

#logo:hover {
    color: #17ca9d;
}