#a-sub-4 {
    color: #333;
    font-weight: 600;
    border-bottom: 3px solid #17ca9d;
}

#a-sub-1:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-2:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-3:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-5:hover {
    color: #333;
    font-weight: 600;
}


/*----------------------------------------*/

h1,
h2,
h3,
h4,
h5 {
    font-weight: 900;
    line-height: 1.25;
    margin-bottom: 32px;
    color: #222222;
}

body {
    background-color: #f7f7f7;
    font-family: Inter;
}

@media (min-width:769px) and (max-width:990px) {
    #a-sub-2 {
        display: none;
    }
    #a-sub-3 {
        display: none;
    }
}

@media (max-width:769px) {
    #a-sub-2 {
        display: none;
    }
    #a-sub-3 {
        display: none;
    }
    #a-sub-1 {
        display: none;
    }
}