body {
    background: #f8f8f8;
    font-family: Inter;
}

#a-sub-1 {
    color: #333;
    font-weight: 600;
    border-bottom: 3px solid #17ca9d;
}

#a-sub-4:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-2:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-3:hover {
    color: #333;
    font-weight: 600;
}

#a-sub-5:hover {
    color: #333;
    font-weight: 600;
}

#profile-content {
    margin-top: 90px;
    height: 84vh;
    border-radius: .625rem;
}

#ul-li {
    color: #252525;
    font-size: 14px;
    text-decoration: none;
}

#ul-li:hover {
    color: #17ca9d;
}

#catelogy {
    color: #424242;
    font-size: 16px;
    font-weight: 700;
}

#catelogy:hover {
    color: #17ca9d;
}

@media (max-width:769px) {
    .wrap-content {
        height: fit-content;
    }
}

.wrap-content {
    background-color: #fff;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05);
    width: 49%;
    margin-right: 1%;
}