body {
    background-color: #f8f8f8;
    font-family: Inter;
}

#logo {
    font-size: xxx-large;
    font-family: 'Caveat';
    color: black;
}

#logo:hover {
    color: #11c296;
}

.content-verfication {
    background-color: #fff;
    height: 340px;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, .02), 0 24px 38px 3px rgba(0, 0, 0, .04), 0 11px 15px -7px rgba(0, 0, 0, .05);
    border-radius: .625rem;
}

#icon {
    font-size: 100px;
    margin-top: 50px;
}

#icon:hover {
    color: #11c296;
}

#button-verification {
    width: 100%;
    background-color: #d4f3eb;
    color: #11c296;
    border: 1px solid #d4f3eb;
}

#button-verification:hover {
    background-color: #17ca9d;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#button-verification:focus {
    outline: 0;
}

.navbar {
    background-color: #ffffff;
}

.darkmode--activated .navbar {
    background-color: black;
}

.darkmode--activated .content-verfication {
    background-color: black;
    border: 3px solid #ffffff;
}

.darkmode--activated #logo,
.darkmode--activated .blink,
.darkmode--activated .txt-dark1,
.darkmode--activated .text-center {
    color: #fff;
}

.darkmode-toggle--white:focus {
    outline: 0 none;
    border: none;
}

.darkmode-toggle:focus {
    outline: 0 none;
    border: none;
}