<div class="col-md-3 col-sm-6">
    <div class="product-card">
        <a href="room" style="text-decoration: none;">
            <div class="product-img">
                <img class="img-link" src="https://cdn.luxstay.com/rooms/34370/large/room_34370_4_1570514075.jpg">
            </div>
            <div class="product-info">
                <div class="info-title">
                    AimeeHomestay#2 - Phan Bội Châu/ Self check-in
                </div>
                <div class="info-category">
                    <span class="phongtro-chungcu">Chung cư</span>
                    <span>·</span>
                    <span class="so-nguoi">2 người</span>
                </div>
                <div class="price">
                    1.000.000 đ/1 tháng
                </div>
                <div class="address">
                    Xuân thủy
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-md-3 col-sm-6">
    <div class="product-card">
        <a href="#" style="text-decoration: none;">
            <div class="product-img">
                <img class="img-link" src="https://cdn.luxstay.com/rooms/34370/large/room_34370_4_1570514075.jpg">
            </div>
            <div class="product-info">
                <div class="info-title">
                    AimeeHomestay#2 - Phan Bội Châu/ Self check-in
                </div>
                <div class="info-category">
                    <span class="phongtro-chungcu">Chung cư</span>
                    <span>·</span>
                    <span class="so-nguoi">2 người</span>
                </div>
                <div class="price">
                    1.000.000 đ/1 tháng
                </div>
                <div class="address">
                    Xuân thủy
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-md-3 col-sm-6">
    <div class="product-card">
        <a href="#" style="text-decoration: none;">
            <div class="product-img">
                <img class="img-link" src="https://cdn.luxstay.com/rooms/34370/large/room_34370_4_1570514075.jpg">
            </div>
            <div class="product-info">
                <div class="info-title">
                    AimeeHomestay#2 - Phan Bội Châu/ Self check-in
                </div>
                <div class="info-category">
                    <span class="phongtro-chungcu">Chung cư</span>
                    <span>·</span>
                    <span class="so-nguoi">2 người</span>
                </div>
                <div class="price">
                    1.000.000 đ/1 tháng
                </div>
                <div class="address">
                    Xuân thủy
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-md-3 col-sm-6">
    <div class="product-card">
        <a href="#" style="text-decoration: none;">
            <div class="product-img">
                <img class="img-link" src="https://cdn.luxstay.com/rooms/34370/large/room_34370_4_1570514075.jpg">
            </div>
            <div class="product-info">
                <div class="info-title">
                    AimeeHomestay#2 - Phan Bội Châu/ Self check-in
                </div>
                <div class="info-category">
                    <span class="phongtro-chungcu">Chung cư</span>
                    <span>·</span>
                    <span class="so-nguoi">2 người</span>
                </div>
                <div class="price">
                    1.000.000 đ/1 tháng
                </div>
                <div class="address">
                    Xuân thủy
                </div>
            </div>
        </a>
    </div>
</div>

<div class="col-md-3 col-sm-6">
    <div class="product-card">
        <a href="#" style="text-decoration: none;">
            <div class="product-img">
                <img class="img-link" src="https://cdn.luxstay.com/rooms/34370/large/room_34370_4_1570514075.jpg">
            </div>
            <div class="product-info">
                <div class="info-title">
                    AimeeHomestay#2 - Phan Bội Châu/ Self check-in
                </div>
                <div class="info-category">
                    <span class="phongtro-chungcu">Chung cư</span>
                    <span>·</span>
                    <span class="so-nguoi">2 người</span>
                </div>
                <div class="price">
                    1.000.000 đ/1 tháng
                </div>
                <div class="address">
                    Xuân thủy
                </div>
            </div>
        </a>
    </div>
</div>
