<div class="greeting">
    <h3>Chào mừng đến với TroDe!</h3>
    <div>Tìm kiếm phòng, đặt lịch xem phòng một cách dễ dàng với TroDe. </div>
    <div><a href="login" style="text-decoration: none;color: #222222; font-weight: 900;"><u>Đăng nhập</u></a> hoặc <a href="signup" style="text-decoration: none;color: #222222; font-weight: 900;"><u>Đăng ký</u></a> để trải nghiệm !</div>
</div>