
<body>
    <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" id="navbar-container">
        <div class="container" id="c1" style="background-color:#f7f7f7; width: 100%; height: 18%;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-nav"> <span class="sr-only">
        </span>
        </button>
            <div class="navbar-header" id="n2" style="margin-left: 0%;">
                <ul class="nav navbar-nav">
                    <span class="dropdown">
                    <a class="dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 0px; text-decoration: none;font-family: Montserrat;"><i class="glyphicon glyphicon-user"></i>&nbsp;<%=username%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: 0px;">
                      <a class="dropdown-item" id = "a1" href="profile">Tài khoản của tôi</a><br>
                      <a class="dropdown-item" id = "a1" href="/logout">Đăng xuất</a>
                    </div>
                  </span>
                    <a href="# " id="noti" style="height: 0px; text-decoration: none;font-family: Montserrat;"><i class="glyphicon glyphicon-bell"></i>&nbsp;Thông Báo</a>
                </ul>
            </div>

            <div class="navbar-header" id="n1" style="margin-left: 75%;">
                <ul class="nav navbar-nav">
                    <span class="dropdown">
                    <a class="dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 0px; text-decoration: none;font-family: Montserrat;"><i class="glyphicon glyphicon-user"></i>&nbsp;<%=username%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: 0px;">
                      <a class="dropdown-item" id = "a1" href="profile">Tài khoản của tôi</a><br>
                      <a class="dropdown-item" id = "a1" href="/logout">Đăng xuất</a>
                    </div>
                  </span>
                    <a href="# " id="noti" style="height: 0px; text-decoration: none;font-family: Montserrat;"><i class="glyphicon glyphicon-bell"></i>&nbsp;Thông Báo</a>
                </ul>
            </div>
            <div class="navbar-header" id="n3" style="margin-left: 0%; margin-top: -8px;">
                <ul class="nav navbar-nav">
                    <span class="dropdown">
                    <a class="dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 0px; text-decoration: none;font-family: Montserrat;"><i class="glyphicon glyphicon-user"></i>&nbsp;<%=username%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: 0px;">
                      <a class="dropdown-item" id = "a1" href="profile">Tài khoản của tôi</a><br>
                      <a class="dropdown-item" id = "a1" href="/logout">Đăng xuất</a>
                    </div>
                  </span>
                    <a href="# " id="noti" style="height: 0px; text-decoration: none;font-family: Montserrat;"><i class="glyphicon glyphicon-bell"></i>&nbsp;Thông Báo</a>
                </ul>
            </div>

        </div>
        <div class="container " id="c2 " style=" background-color: #ffffff; padding-top: 20px;">
            <div class="navbar-header">
                <b><a class="navbar-brand" href="/" id="logo">TroDe</a></b>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hidden">
              <span class="navbar-toggler-icon"><i class="glyphicon glyphicon-th-list" style="font-size: x-large;"></i></span>
            </button>
            </div>
            <div class="collapse navbar-collapse" id="hidden">

                <div class="nav navbar-nav navbar-center" id="navsearch">
                    <form class="form-inline flex-nowrap bg-light">
                        <input class="form-control " id="search" name="search " placeholder="Tìm kiếm nơi mà bạn muốn ... " autocomplete="on " autofocus="autofocus " type="text" style="font-family: Montserrat;">
                        <button class="btn btn-outline-success" id="btserach" type="submit"><i class="glyphicon glyphicon glyphicon-search"></i></button>
                    </form>
                </div>
                <div class="nav navbar-nav navbar-right">
                    <span class="nav-item " id='post'>
                    <a href="post">
                        <span class="glyphicon glyphicon-edit" id = "postlogo"></span>
                    </a>
                    </span>
                </div>
            </div>
        </div>
    </nav>
