<body>
    <div class="header-wrap">
        <div class="header">
            <nav class="navbar navbar-light navbar-fixed-top navbar-custom" role="navigation" id="nav-bar" style="border-bottom: 1px solid #f2f2f2;">
                <div class="container">
                    <div class="navbar-header" style="padding: 6px 0px 0px;">
                        <b><a class="navbar-brand" href="/" id="logo">TroDe</a></b>
                        <div class="nav navbar-nav " id="navsearch" style="margin-left: 20px;">
                            <form class="form-inline flex-nowrap bg-light">
                                <input class="form-control " id="search-new" name="search " placeholder="Tìm kiếm nơi mà bạn muốn ... " autocomplete="on " type="text">
                                <button class="btn btn-outline-success" id="btserach" type="submit"><i class="fas fa-search" style="color: white;"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="nav-item menu-info ">
                        <a class="nav-link btn btn-primary dropdown dropdown-toggle dropbtn" data-toggle="dropdown" id="user-name" aria-haspopup="true" aria-expanded="false">
                            <span id="sp-username"><%=username%></span>
                            <span><i class="fas fa-caret-down" style="color: black;"></i></span>
                        </a>
                        <span id="div-host"><a href="post" id = "a-host">Host&nbsp;&nbsp;&nbsp;</a></span>
                        <br><br>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-name" id="drop-down">
                            <div id="div-drop"><i class="fas fa-user-circle" style="font-size: 30px; font-weight: 400; vertical-align: middle;"></i><a href="profile" id="a-drop" class="dropdown-item">Tài khoản của tôi</a></div>
                            <div id="div-drop"><i class="fas fa-bell" style="font-size: 30px; font-weight: 400; vertical-align: middle;"></i><a href="#" id="a-drop" class="dropdown-item">Thông báo</a></div>
                            <div id="div-drop"><i class="glyphicon glyphicon-log-out" style="font-size: 30px; font-weight: 400; vertical-align: middle;color: red;"></i><a href="/logout" id="a-drop" class="dropdown-item">Đăng xuất</a></div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>