        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                    </a>
                    <a href="#" class="fa fa-search product-full-view"></a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                    <div class="price">4.000.000/1 tháng</div>
                    <a class="view" href="">Xem thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                    </a>
                    <a href="#" class="fa fa-search product-full-view"></a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                    <div class="price">2.000.000/1 tháng</div>
                    <a class="view" href="">Xem thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                    </a>
                    <a href="#" class="fa fa-search product-full-view"></a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                    <div class="price">5.000.000/1 tháng</div>
                    <a class="view" href="">Xem thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                    </a>
                    <a href="#" class="fa fa-search product-full-view"></a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                    <div class="price">5.000.000/1 tháng</div>
                    <a class="view" href="">Xem thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                    </a>
                    <a href="#" class="fa fa-search product-full-view"></a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                    <div class="price">5.000.000/1 tháng</div>
                    <a class="view" href="">Xem thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                    </a>
                    <a href="#" class="fa fa-search product-full-view"></a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                    <div class="price">5.000.000/1 tháng</div>
                    <a class="view" href="">Xem thêm</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product">
                <div class="product-image">
                    <a href="#">
                        <img class="pic" src="https://placehold.it/150x80?text=IMAGE">
                    </a>
                    <a href="#" class="fa fa-search product-full-view"></a>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Xuân Thủy, Cầu Giấy</a></h3>
                    <div class="price">5.000.000/1 tháng</div>
                    <a class="view" href="">Xem thêm</a>
                </div>
            </div>
        </div>


    <a class="xemthem" id="xt1">
        <button id="bt" type="button">
       Xem thêm
   </button>
    </a>
    <div id="tx-hidden1">
        <span>Bạn đã kết thúc</span>
        <br>
        <span>Tìm kiếm thêm để tiếp tục khám phá</span>
    </div>
